<div id="comment-{{ comment.id }}"
     data-path-project-comment="{{ path('project_comment', {id: comment.id}) }}"
     data-comment-id="{{ comment.id }}"
     class="{% if are_replies is defined and are_replies %}single-reply{% else %}single-comment{% endif %}"
      {% if hide is defined and hide %}
       style="display: none;"
      {% endif %}>

  <div class="comment-avatar">
    <a href="{{ url('profile', {id: comment.user_id}) }}">
      <img class="comment-avatar-img" src="{% if comment.user_avatar is defined and comment.user_avatar is not null %}
                      {{ comment.user_avatar }}
                    {% else %}
                      {{ asset('images/default/avatar_default.png') }}
                    {% endif %}" alt="Avatar">
    </a>
  </div>

  <div class="comment-payload-wrapper">
    <div class="comment-header">
      <div class="comment-user-info">
        <a href="{{ url('profile', {id: comment.user_id}) }}" class="usr-name no-overflow">
          <span id="profile-comment-user-id-{{ comment.user_id }}">
            {{ comment.username }}
          </span>
        </a>
        <div class="comment-meta">
          <i class="material-icons">access_time_filled</i>
          <span class="comment-upload-date">{{ getDatetimeAsString(comment.upload_date) }}</span>
        </div>
      </div>

     <div class="comment-actions d-flex align-items-center gap-2">
        <div class="comment-reply-action">
          <span class="comment-reply-button catro-icon-button"
                data-bs-toggle="tooltip" title="{{ 'project.reply'|trans({}, 'catroweb') }}">
            <i class="material-icons">reply</i>
          </span>
        </div>

        {% if comment.number_of_replies is defined and comment.number_of_replies is not null %}
          <div class="comment-replies-count">
            <i class="material-icons">comment</i>
            <span>{{ comment.number_of_replies }}</span>
          </div>
        {% endif %}

        {% if (not app.user or comment.user_id != app.user.id) and (not comment.is_deleted) %}
          <div class="comment-translation-actions">
            <span id="comment-translation-button-{{ comment.id }}" class="comment-translation-button catro-icon-button"
                  data-bs-toggle="tooltip" title="{{ 'project.showTranslation'|trans({}, 'catroweb') }}">
              <i class="material-icons">translate</i>
            </span>
            <span id="comment-translation-loading-spinner-{{ comment.id }}" class="comment-translation-loading-spinner"
                  style="display: none;">
              {{ include('Components/LoadingSpinner.html.twig', {size: 'small'}) }}
            </span>
            <span id="remove-comment-translation-button-{{ comment.id }}"
                  class="remove-comment-translation-button catro-icon-button" style="display: none"
                  data-bs-toggle="tooltip" title="{{ 'project.hideTranslation'|trans({}, 'catroweb') }}">
              <i class="material-icons">close</i>
            </span>
          </div>
        {% endif %}

        {% if (isAdmin or not app.user or comment.id != app.user.id) and (not comment.is_deleted) %}
          <a id="comment-report-button-{{ comment.id }}" class="comment-report-button"
             data-bs-toggle="tooltip" title="{{ 'project.report'|trans({}, 'catroweb') }}">
            <i class="material-icons">report</i>
          </a>
        {% endif %}

        {% if (isAdmin or (app.user and comment.user_id == app.user.id)) and (not comment.is_deleted) %}
          <a id="comment-delete-button-{{ comment.id }}" class="comment-delete-button"
             data-bs-toggle="tooltip" title="{{ 'project.delete'|trans({}, 'catroweb') }}">
            <i class="material-icons text-danger">delete</i>
          </a>
        {% endif %}
      </div>
    </div>

    <div id="comment-text-wrapper-{{ comment.id }}" class="comment-text">
      {% if comment.is_deleted %}
        <p><span class="deleted-comment">{{ 'project.deletedComment'|trans({}, 'catroweb') }}</span></p>
      {% else %}
        <p id="comment-text-{{ comment.id }}">{{ comment.text }}</p>
      {% endif %}
    </div>

    <div class="comment-translation-container">
      {% if (not app.user or comment.user_id != app.user.id) and (not comment.is_deleted) %}
        <div class="comment-translation"
             data-translate-comment-id="translate-comment-{{ comment.id }}"
             data-path-translate-comment="{{ path('translate_comment', {id: comment.id}) }}"></div>
      {% endif %}

      <div id="comment-translation-wrapper-{{ comment.id }}" class="comment-translation-wrapper"
           style="display: none">
        <div id="comment-translation-credit-wrapper-{{ comment.id }}" class="translation-credit-wrapper">
          <span id="comment-translation-before-languages-{{ comment.id }}" class="translation-credit"></span>
          <span id="comment-translation-first-language-{{ comment.id }}" class="translation-credit"></span>
          <span id="comment-translation-between-languages-{{ comment.id }}" class="translation-credit"></span>
          <span id="comment-translation-second-language-{{ comment.id }}" class="translation-credit"></span>
          <span id="comment-translation-after-languages-{{ comment.id }}" class="translation-credit"></span>
        </div>
        <p id="comment-text-translation-{{ comment.id }}" class="comment-text-translation" lang=""></p>
      </div>
    </div>
  </div>
</div>
