{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ project.name }}{% endblock %}
{% block top_bar_back_path %}{{ path('program', {id: project.id}) ~ '#comments-wrapper' }}{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('project_comments_page') }}
  <meta property="og:type" content="website"/>
{% endblock %}

{% block body %}

  <div id="project-comments" class="row mt-3 mb-3">
    <div id="parent-comment-container" class="col-12 mb-4">
      {{ include('Project/Comment/Comment.html.twig', {comment: comment, hide: false, are_replies: false}) }}
    </div>

    {{ include('Project/Comment/Wrapper.html.twig', {
      comments: replies,
      isAdmin: isAdmin,
    }) }}

    <hr style="color: transparent">
    <div id="user-comment-wrapper" class="col-12" style="display: none; margin-bottom: 2rem;">
      <div class="comment-avatar">
        <img class="comment-avatar-img" src="{% if app.user and app.user.avatar is not empty %}
                        {{ app.user.avatar }}
                      {% else %}
                        {{ asset('images/default/avatar_default.png') }}
                      {% endif %}" alt="Avatar">
      </div>
      <div class="comment-payload-wrapper">
        <div class="comment-message">
          <textarea id="comment-message" class="msg"
                    placeholder="{{ 'project.addComment'|trans({}, 'catroweb') }}"
                    title="{{ 'project.addComment'|trans({}, 'catroweb') }}"></textarea>
        </div>
        <div id="comment-buttons-container" class="comment-buttons-container" style="display: none;">
          <button id="comment-cancel-button" class="btn btn-outline-secondary rounded-pill me-2">
            {{ 'cancel'|trans({}, 'catroweb') }}
          </button>
          <button id="comment-post-button" class="btn btn-primary rounded-pill">
            {{ 'project.send'|trans({}, 'catroweb') }}
          </button>
        </div>
      </div>
    </div>

    <hr style="color: transparent">

    <div class="center col-12" style="display: none;">
      <div id="show-more-comments-button" class="button-show-more" data-comments-class-selector=".single-reply">
        <a data-bs-toggle="tooltip" title="{{ 'show-more'|trans({}, 'catroweb') }}">
          <i class="material-icons catro-round-icon-button">expand_more</i>
        </a>
      </div>
      <div id="show-less-comments-button" class="button-show-less" data-comments-class-selector=".single-reply">
        <a data-bs-toggle="tooltip" title="{{ 'show-less'|trans({}, 'catroweb') }}">
          <i class="material-icons catro-round-icon-button">expand_less</i>
        </a>
      </div>
    </div>
    <hr style="color: transparent">

    {% if not comment.is_deleted %}
      <button class="mdc-fab add-reply-button reply-button--fab" aria-label="Favorite" style="display: inline-block;">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">reply</span>
      </button>
    {% endif %}
  </div>
  <div class="js-project-parentComment"
       data-parent-comment-id="{{ comment.id }}">
  </div>

  {{ include('Project/Comment/JsData.html.twig', {
    comment: comment,
    project: project,
    comments: replies,
  }) }}

  <div class="session-vars-names" data-visible-comments-session-var="visibleReplies"></div>
  <div class="comments-class-selector" data-comments-class-selector=".single-reply"></div>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('project_comments_page') }}
{% endblock %}
