<div id="project-comments" class="row mb-3 mt-5">

  <h3 class="col-10 col-sm-11 mb-2">{{ 'project.comments'|trans({}, 'catroweb') }}</h3>

  <div id="user-comment-wrapper" class="col-12" style="display: none;">
    <div class="comment-avatar">
      <img class="comment-avatar-img" src="{% if app.user and app.user.avatar is not empty %}
                      {{ app.user.avatar }}
                    {% else %}
                      {{ asset('images/default/avatar_default.png') }}
                    {% endif %}" alt="Avatar">
    </div>
    <div class="comment-payload-wrapper">
      <div class="comment-message">
        <textarea id="comment-message" class="msg"
                  placeholder="{{ 'project.addComment'|trans({}, 'catroweb') }}"
                  title="{{ 'project.addComment'|trans({}, 'catroweb') }}"></textarea>
      </div>
      <div id="comment-buttons-container" class="comment-buttons-container" style="display: none;">
        <button id="comment-cancel-button" class="btn btn-outline-secondary rounded-pill me-2">
          {{ 'cancel'|trans({}, 'catroweb') }}
        </button>
        <button id="comment-post-button" class="btn btn-primary rounded-pill">
          {{ 'project.send'|trans({}, 'catroweb') }}
        </button>
      </div>
    </div>
  </div>

  <div id="add-comment-init-container" class="col-12 mb-4">
    <button id="add-comment-button" class="btn btn-outline-primary rounded-pill w-100 d-flex align-items-center justify-content-center py-3">
      <i class="material-icons me-2">add_comment</i>
      <span>{{ 'project.addComment'|trans({}, 'catroweb') }}</span>
    </button>
  </div>

  {{ include('Project/Comment/Wrapper.html.twig', {
    comments: project_details.comments,
    isAdmin: project_details.isAdmin,
  }) }}

  <div class="center row mt-4" style="justify-content: center; display: none;">
    <div id="show-more-comments-button" class="button-show-more col-auto" data-comments-class-selector=".single-comment">
      <a class="btn btn-outline-primary rounded-pill d-flex align-items-center" data-bs-toggle="tooltip" title="{{ 'show-more'|trans({}, 'catroweb') }}">
        <i class="material-icons me-1">expand_more</i>
        <span>{{ 'show-more'|trans({}, 'catroweb') }}</span>
      </a>
    </div>
    <div id="show-less-comments-button" class="button-show-less col-auto" data-comments-class-selector=".single-comment">
      <a class="btn btn-outline-secondary rounded-pill d-flex align-items-center" data-bs-toggle="tooltip" title="{{ 'show-less'|trans({}, 'catroweb') }}">
        <i class="material-icons me-1">expand_less</i>
        <span>{{ 'show-less'|trans({}, 'catroweb') }}</span>
      </a>
    </div>
  </div>
</div>

{{ include('Project/Comment/JsData.html.twig', {
  project: project,
  comments: project_details.comments,
}) }}
<div class="session-vars-names" data-visible-comments-session-var="visibleComments"></div>
<div class="comments-class-selector" data-comments-class-selector=".single-comment"></div>
