<div id="project-comments" class="row mb-3 mt-5">

  <h3 class="col-10 col-sm-11 mb-2">{{ 'project.comments'|trans({}, 'catroweb') }}</h3>

  <div class="col-2 col-sm-1">
    <i id="show-add-comment-button" class="add-comment-button material-icons catro-round-icon-button"
       data-bs-toggle="tooltip" title="{{ 'project.addComment'|trans({}, 'catroweb') }}">add</i>
    <i id="hide-add-comment-button" style="display:none;"
       class="add-comment-button material-icons catro-round-icon-button" data-bs-toggle="tooltip"
       title="{{ 'project.addComment'|trans({}, 'catroweb') }}">remove</i>
  </div>

  <div id="user-comment-wrapper" class="col-12 col-sm-8 col-md-8 col-lg-5" style="display: none">
    <label
        class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label comment-message">
      <span class="mdc-text-field__ripple"></span>
      <span class="mdc-text-field__resizer">
        <textarea class="mdc-text-field__input msg" title="{{ 'project.comments'|trans({}, 'catroweb') }}"
                  id="comment-message" style="width: 100%; height: 100px" cols="100"></textarea>
      </span>
      <span class="mdc-line-ripple"></span>
    </label>
    <button id="comment-post-button" class="btn btn-primary">
      {{ 'project.send'|trans({}, 'catroweb') }}
    </button>
  </div>

  {{ include('Project/Comment/Wrapper.html.twig', {
    comments: project_details.comments,
    isAdmin: project_details.isAdmin,
  }) }}

  <div class="center row" style="justify-content: center">
    <div id="show-more-comments-button" class="button-show-more col-2" data-comments-class-selector=".single-comment">
      <a data-bs-toggle="tooltip" title="{{ 'show-more'|trans({}, 'catroweb') }}">
        <i class="material-icons catro-round-icon-button">expand_more</i>
      </a>
    </div>
    <div id="show-less-comments-button" class="button-show-less col-2" data-comments-class-selector=".single-comment">
      <a data-bs-toggle="tooltip" title="{{ 'show-less'|trans({}, 'catroweb') }}">
        <i class="material-icons catro-round-icon-button">expand_less</i>
      </a>
    </div>
  </div>
</div>

{{ include('Project/Comment/JsData.html.twig', {
  project: project,
  comments: project_details.comments,
}) }}
<div class="session-vars-names" data-visible-comments-session-var="visibleComments"></div>
<div class="comments-class-selector" data-comments-class-selector=".single-comment"></div>
