{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'follower.followers'|trans({}, 'catroweb') }}{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('user_follower_overview') }}
{% endblock %}

{% block body %}

    {{ include('Components/TabBar.html.twig', {
      tabs: [
        {
          id: 'follower-tab',
          title: '' ~ followers_list|length ~ ' ' ~ 'follower.followers'|trans({}, 'catroweb'),
          controls: 'follower-section',
        },
        {
          id: 'follows-tab',
          title: '' ~ following_list|length ~ ' ' ~ 'follower.follows'|trans({}, 'catroweb'),
          controls: 'following-section',
        },
      ],
    }) }}

  <div class="tab-content mt-4">
    <div id="follower-section" class="tab-pane fade show active" role="tabpanel" aria-labelledby="follower-tab">
      <div id="no-followers" class="text-center mb-5 {{ followers_list is empty ? 'd-block' : 'd-none' }}">
        {{ 'follower.noFollowers'|trans({}, 'catroweb') }}
      </div>

      <div id="follower-cards" class="row mb-5">
        {% for followerUser in followers_list %}
          <div id="followers-{{ followerUser.id }}" class="col-12 single-follower my-3">
            {{ include('User/Followers/FollowerItem.html.twig', {user: followerUser, hideFollowsMe: true}, false) }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="following-section" class="tab-pane fade" role="tabpanel" aria-labelledby="follows-tab">
      <div id="no-following" class="text-center mb-5 {{ following_list is empty ? 'd-block' : 'd-none' }}">
        {{ 'follower.noFollowing'|trans({}, 'catroweb') }}
      </div>

      <div id="following-cards" class="row mb-5">
        {% for followsUser in following_list %}
          <div id="following-{{ followsUser.id }}" class="col-12 single-following my-3">
            {{ include('User/Followers/FollowerItem.html.twig', {user: followsUser, following: true}, false) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="js-follower-overview"
       data-unfollow-url="{{ url('unfollow') }}"
       data-follow-url="{{ url('follow') }}"
       data-login-url="{{ url('login') }}"
       data-something-went-wrong-error="{{ 'somethingWentWrong'|trans({}, 'catroweb') }}"
       data-follow-error="{{ 'follower.followError'|trans({}, 'catroweb') }}"
       data-unfollow-error="{{ 'follower.unfollowError'|trans({}, 'catroweb') }}"
       data-unfollow-button="{{ 'follower.unfollowButton'|trans({}, 'catroweb') }}"
       data-unfollow-question="{{ 'follower.unfollowQuestion'|trans({}, 'catroweb') }}"
       data-cancel-button="{{ 'cancelMessage'|trans({}, 'catroweb') }}"
       data-number-of-following="{{ following_list|length }}"
  ></div>
{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('user_follower_overview') }}
{% endblock %}
