{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'follower.followers'|trans({}, 'catroweb') }}{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('user_follower_overview') }}
{% endblock %}

{% block body %}

    {{ include('Components/TabBar.html.twig', {
      tabs: [
        {
          id: 'follower-tab',
          title: 'follower.followers'|trans({}, 'catroweb'),
          count_id: 'followers-count',
          controls: 'follower-section',
        },
        {
          id: 'follows-tab',
          title: 'follower.follows'|trans({}, 'catroweb'),
          count_id: 'following-count',
          controls: 'following-section',
        },
      ],
    }) }}

  <div class="tab-content mt-4">
    <div id="follower-section" class="tab-pane fade show active" role="tabpanel" aria-labelledby="follower-tab">
      <div id="no-followers" class="text-center mb-5 d-none">
        {{ 'follower.noFollowers'|trans({}, 'catroweb') }}
      </div>

      <div id="follower-cards" class="row mb-5">
        <div class="text-center py-3 follower-loading">
          {{ include('Components/LoadingSpinner.html.twig', [], false) }}
        </div>
      </div>
    </div>

    <div id="following-section" class="tab-pane fade" role="tabpanel" aria-labelledby="follows-tab">
      <div id="no-following" class="text-center mb-5 d-none">
        {{ 'follower.noFollowing'|trans({}, 'catroweb') }}
      </div>

      <div id="following-cards" class="row mb-5">
        <div class="text-center py-3 following-loading">
          {{ include('Components/LoadingSpinner.html.twig', [], false) }}
        </div>
      </div>
    </div>
  </div>

  {{ include('User/Followers/FollowerOverviewData.html.twig', {
    follower_user_id: user_id,
    follower_user_role: app.user is not null ? 'user' : 'guest',
  }) }}
{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('user_follower_overview') }}
{% endblock %}
