{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}


{% block body %}
  <h1>{{ ("help.gameJam.title")|trans({}, "catroweb") }}</h1>
  <br>
  <div
      class="size-large">{{ "help.gameJam.text0"|trans({'%link%': 'share.catrob.at/pocketcode'}, "catroweb")|raw }}</div>

  <div id="game-jam" class="content-container wizard">

    <div class="title size-xxlarge">1. {{ ("help.gameJam.title1")|trans({}, "catroweb") }}</div>
    <div
        class="text size-large">{{ ("help.gameJam.text1")|trans({'‘Login or Register’': '<span class="clickable">‘Login or Register’</span>'}, "catroweb")|raw }}</div>

    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/1.png') }}" data-img-id="1" data-img-index="1" data-img-type="3"
             alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">2. {{ ("help.gameJam.title2")|trans({}, "catroweb") }}</div>
    <div class="text size-large">{{ ("help.gameJam.text2")|trans({}, "catroweb") }}</div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/2.png') }}" data-img-id="1" data-img-index="2" data-img-type="3"
             alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">3. {{ ("help.gameJam.title3")|trans({}, "catroweb") }}</div>
    <div class="text size-large">{{ ("help.gameJam.text3")|trans({}, "catroweb") }}</div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/3.png') }}" data-img-id="1" data-img-index="3" data-img-type="3"
             alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/4.png') }}" data-img-id="1" data-img-index="4" data-img-type="3"
             alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">4. {{ ("help.gameJam.title4")|trans({}, "catroweb") }}</div>
    <div
        class="text size-large">{{ ("help.gameJam.text4")|trans({'‘Prepare app’': '<span class="clickable">‘Prepare app’</span>'}, "catroweb")|raw }}</div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/5.png') }}" data-img-id="1" data-img-index="5" data-img-type="3"
             alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/6.png') }}" data-img-id="1" data-img-index="6" data-img-type="3"
             alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">5. {{ ("help.gameJam.title5")|trans({}, "catroweb") }}</div>
    <div
        class="text size-large">{{ ("help.gameJam.text5")|trans({'%link%': '<a href="http://jams.gamejolt.io/alicejam150" target="_blank">Alice Jam 150</a>'}, "catroweb")|raw }}</div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/7.png') }}" data-img-id="1" data-img-index="7" data-img-type="3"
             alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/8.png') }}" data-img-id="1" data-img-index="8" data-img-type="3"
             alt="" title="">
        <br>
        <img src="{{ asset('images/help/game_jam/thumbs/9.png') }}" data-img-id="1" data-img-index="9" data-img-type="3"
             alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/10.png') }}" data-img-id="1" data-img-index="10"
             data-img-type="3" alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">6. {{ ("help.gameJam.title6")|trans({}, "catroweb") }}</div>
    <div class="text size-large">
      {{ ("help.gameJam.text6")|trans({
        '%link%': '<a href="http://gamejolt.com/" target="_blank">www.gamejolt.com</a>',
        '‘Developers’': '<span class="clickable">‘Developers’</span>',}, "catroweb")|raw }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/11.png') }}" data-img-id="1" data-img-index="11"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/12.png') }}" data-img-id="1" data-img-index="12"
             data-img-type="3" alt="" title="">
      </div>
    </div>

    <div class="title size-xxlarge">7. {{ ("help.gameJam.title7")|trans({}, "catroweb") }}</div>
    <div class="text size-large">
      {{ ("help.gameJam.text7")|trans({
        '%link%': '<a href="http://jams.gamejolt.io/alicejam150" target="_blank">Alice Jam 150</a>',
        '‘Accept rules’': '<span class="clickable">‘Accept rules’</span>',
        '\'Other\'': '<span class="clickable">\'Other\'</span>',
        '\'Android\'': '<span class="clickable">\'Android\'</span>',
        '\'Finished/Stable\'': '<span class="clickable">\'Finished/Stable\'</span>'
      }, "catroweb")|raw }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/13.png') }}" data-img-id="1" data-img-index="13"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/14.png') }}" data-img-id="1" data-img-index="14"
             data-img-type="3" alt="" title="">
        <br>
        <img src="{{ asset('images/help/game_jam/thumbs/15.png') }}" data-img-id="1" data-img-index="15"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/16.png') }}" data-img-id="1" data-img-index="16"
             data-img-type="3" alt="" title="">
      </div>
    </div>
    <div class="text size-large">
      {{ ("help.gameJam.text7_1")|trans({
        '‘thumbnail image’': '<span class="clickable">‘thumbnail image’</span>',
        '‘maturity rating’': '<span class="clickable">‘maturity rating’</span>',
        '‘build/files’': '<span class="clickable">‘build/files’</span>'
      }, "catroweb")|raw }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/17.png') }}" data-img-id="1" data-img-index="17"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/18.png') }}" data-img-id="1" data-img-index="18"
             data-img-type="3" alt="" title="">
        <br>
        <img src="{{ asset('images/help/game_jam/thumbs/19.png') }}" data-img-id="1" data-img-index="19"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/20.png') }}" data-img-id="1" data-img-index="20"
             data-img-type="3" alt="" title="">
      </div>
    </div>
    <div class="text size-large">
      {{ ("help.gameJam.text7_2")|trans({
        '‘Add Package’': '<span class="clickable">‘Add Package’</span>'
      }, "catroweb")|raw }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/21.png') }}" data-img-id="1" data-img-index="21"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/22.png') }}" data-img-id="1" data-img-index="22"
             data-img-type="3" alt="" title="">
      </div>
    </div>
    <div class="text size-large">
      {{ ("help.gameJam.text7_3")|trans({}, "catroweb") }}
      <br>
      {{ ("help.gameJam.text7_4")|trans({}, "catroweb") }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/23.png') }}" data-img-id="1" data-img-index="23"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/24.png') }}" data-img-id="1" data-img-index="24"
             data-img-type="3" alt="" title="">
      </div>
    </div>
    <div class="text size-large">
      {{ ("help.gameJam.text7_5")|trans({
        '‘OK’': '<span class="clickable">‘OK’’</span>'
      }, "catroweb")|raw }}
    </div>
    <div class="image-container center">
      <div class="image-detail">
        <img src="{{ asset('images/help/game_jam/thumbs/25.png') }}" data-img-id="1" data-img-index="25"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/26.png') }}" data-img-id="1" data-img-index="26"
             data-img-type="3" alt="" title="">
        <img src="{{ asset('images/help/game_jam/thumbs/27.png') }}" data-img-id="1" data-img-index="27"
             data-img-type="3" alt="" title="">
      </div>
    </div>
    <div class="text size-large">
      {{ ("help.gameJam.text7_6")|trans({}, "catroweb") }}
      <br>
      {{ ("help.gameJam.text7_7")|trans({
        '%link%': '<a href="http://jams.gamejolt.io/alicejam150" target="_blank">Alice Jam 150</a>'
      }, "catroweb")|raw }}
    </div>

  </div>

  <div id="image-overlay"></div>
  <div id="image-popup">
    <div id="outer-container">
      <div></div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ asset('compiled/js/Help.js') }}"></script>
  <script>
    var help = new Help()
    help.setImageModal("{{ asset('images/help/game_jam/') }}")
  </script>

{% endblock %}