{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  <div id="help-container">

    <div class="help-video-container" style="min-width: 100%">
      {{ include('help/youteHelpVideo.html.twig') }}
    </div>

    <div class="help-content">
      <a id="step-by-step" href="{{ path('catrobat_web_stepByStep') }}">
        <div class="catro-card help-card yellow step-by-step">
          <div class="catro-content">
            <div class="row">
              <div class="col-12 catro-card-title">
                {{ "help-cards.headings.stepbystep"|trans({}, "catroweb") }}
              </div>
              <div class="col-8">
                {{ "help-cards.text.stepbystep"|trans({'%theme%': '<b>'~getThemeDisplayName()~'</b>'}, "catroweb")|raw }}!
              </div>
              <img alt="Step by Step Logo" src="{{ asset('images/help/step_by_step_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a id="tutorials" href="{{ path('catrobat_web_tutorialcards') }}">
        <div class="catro-card help-card blue tutorial">
          <div class="catro-content">
            <div class="row">
              <div class="col-12 catro-card-title">
                {{ "help-cards.headings.tutorials"|trans({}, "catroweb") }}
              </div>
              <div class="col-7">
                {{ "help-cards.text.tutorials"|trans({'%theme%': '<b>'~getThemeDisplayName()~'</b>'}, "catroweb")|raw }}!
              </div>
              <img alt="Tutorial Cards Logo" src="{{ asset('images/help/tutorials_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a id="game-design" href="{{ path('catrobat_web_gamejamtutorialcards') }}">
        <div class="catro-card help-card purple game">
          <div class="catro-content">
            <div class="row">
              <div class="col-12 catro-card-title">
                {{ "help-cards.headings.game_design"|trans({}, "catroweb") }}
              </div>
              <div class="col-7">
                {{ "help-cards.text.game_design_1"|trans({}, "catroweb") }}
                {{ "help-cards.text.game_design_2"|trans({}, "catroweb") }}!
              </div>
              <img alt="Game Design Logo" src="{{ asset('images/help/alice_tut_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a id="starters" href="{{ path('catrobat_web_starter') }}">
        <div class="catro-card help-card green starter">
          <div class="catro-content">
            <div class="row">
              <div class="col-12 catro-card-title">
                {{ "help-cards.headings.starters"|trans({}, "catroweb") }}
              </div>
              <div class="col-7">
                {{ "help-cards.text.starters"|trans({'%theme%': '<b>'~getThemeDisplayName()~'</b>'}, "catroweb")|raw }}!
              </div>
              <img alt="Starter Logo" src="{{ asset('images/help/starters_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a id="educat" href="https://edu.catrob.at/">
        <div class="catro-card help-card dark-green education">
          <div class="catro-content">

            <div class="row">
              <div class="catro-card-title col-12">
                {{ "help-cards.headings.education"|trans({}, "catroweb") }}
              </div>
              <div class="col-8">
                {{ "help-cards.text.education"|trans({}, "catroweb") }}
              </div>
              <img alt="Education Logo" src="{{ asset('images/help/edu_site_cut.png') }}"/>
            </div>

          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a id="discuss" href="https://groups.google.com/forum/m/?fromgroups#!forum/pocketcode">
        <div class="catro-card help-card primary discuss brown">
          <div class="catro-content">
            <div class="row">
              <div class="col-8">
                <div class="catro-card-title">
                  {{ "help-cards.headings.discuss"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.discuss_1"|trans({}, "catroweb") }}!
              </div>
              <img alt="Forum Logo" src="{{ asset('images/help/discuss_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      <a href="{{ google_play_url }}">
        <div class="catro-card help-card primary google-play">
          <div class="catro-content">
            <div class="row">
              <div class="col-8 col-sm-8">
                <div class="catro-card-title">
                  {{ "help-cards.headings.getinvolvedGoogle"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.getinvolved"|trans({}, "catroweb") }}
              </div>
              <img alt="Play Store Logo" src="{{ asset('images/help/google_playstore.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="help-content">
      {% if theme() == 'luna' %}
      <a href="https://catrob.at/lcd">
        <div class="catro-card help-card primary discord">
          <div class="catro-content">
            <div class="row">
              <div class="col-8 col-sm-8">
                <div class="catro-card-title">
                  {{ "help-cards.headings.discord"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.discord"|trans({}, "catroweb") }}
              </div>
              <img alt="Discord Logo" src="{{ asset('images/help/Discord-Logo-White.svg') }}"/>
            </div>
          </div>
        </div>
      </a>
      {% else %}
      <a href="https://itunes.apple.com/app/pocket-code/id1117935892">
        <div class="catro-card help-card apple primary">
          <div class="catro-content">
            <div class="row">
              <div class="col-8 col-sm-8">
                <div class="catro-card-title">
                  {{ "help-cards.headings.getinvolvedApple"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.getinvolved"|trans({}, "catroweb") }}
              </div>
              <img alt="Apple Logo" src="{{ asset('images/help/apple_logo.png') }}"/>
            </div>
          </div>
        </div>
      </a>
      {% endif %}
    </div>


  </div> {# help-container #}
{% endblock %}

