{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1>{{ ("help.starterPrograms.title")|trans({}, "catroweb") }}</h1>
  <div class="starter-container size-large">

    <div class="starter-header">
      {% for category in categories %}
        <div class="col-per-25 center bold uppercase">
          <a href='#{{ category.alias }}'
             class="anchor">{{ ("help.starterPrograms.categories."~category.alias)|trans({}, "catroweb") }}</a>
        </div>
      {% endfor %}
      <div class="clear"></div>
    </div>
    <p>{{ ("help.starterPrograms.description")|trans({}, "catroweb") }}</p>

    {% for category in categories %}
      <div id="{{ category.alias }}" class="starterDownloads">
        <h1>{{ ("help.starterPrograms.categories."~category.alias)|trans({}, "catroweb") }}</h1>
        <div class="programs"></div>
      </div>
    {% endfor %}

  </div>
{% endblock %}

{% block js %}
  <script>
    {% for category in categories %}
    var {{ category.alias }} =
    new ProjectLoader('#{{ category.alias }}', '{{ path('catrobat_web_category_programs', {'id': category.id}) }}')
    {{ category.alias }}.init()
    {% endfor %}
  </script>
{% endblock %}

