{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1>{{ ("help.tutorialcards.title")|trans({}, "catroweb") }}</h1>
  <p class="description">{{ ("help.tutorialcards.description1")|trans({}, "catroweb") }}</p>

  <div class="tutorialcards-wrapper">
  {% for i in 1..count %}
      <a href="{{ path('catrobat_web_tutorialcards', {'page': i}) }}" id="card-{{ i }}">
          <img src="{{ asset('images/help/tutorialcards/'~i~'.jpg') }}" alt="" title=""/>
          <span>{{ ("help.tutorialcards.card"~i~".title")|trans({}, "catroweb") }}</span>
      </a>
    {% endfor %}

  </div>

{% endblock %}

