{% macro result_panel_class(result) %}
  {% if result == 20 %}
    panel-warning
  {% elseif result == 99 %}
    panel-danger
  {% elseif result == 0 %}
    panel-success
  {% else %}
    panel-default
  {% endif %}
{% endmacro %}
{% macro result_row_class(result) %}
  {% if result == 20 %}
    warning
  {% elseif result == 99 %}
    danger
  {% elseif result == 0 %}
    success
  {% endif %}
{% endmacro %}
{% macro result_glyph(result) %}
  <span class="glyphicon
  {% if result == 0 %}
    glyphicon-ok-circle
  {% elseif result == 20 %}
    glyphicon-exclamation-sign
  {% elseif result == 10 %}
    glyphicon-ban-circle
  {% elseif result == 99 %}
    glyphicon-remove-circle
  {% else %}
    glyphicon-ban-circle
  {% endif %}
  "></span>
{% endmacro %}
{% import _self as default %}
<html>
<head>
  <title>{{ suites }}</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad()</script>
  <style type="text/css">
    .table-condensed
    {
      font-size: 14px;
      margin-bottom: 0px;
    }

    .stepargument
    {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="page-header">Features</h1>
  {% for feature in features %}
    <div class="panel {{ default.result_panel_class(feature.result) }}">
      <div class="panel-heading" data-toggle="collapse" data-target="#feature{{ loop.index }}">
        <span class="badge pull-right">{{ feature.scenarios|length }}</span>
        {{ default.result_glyph(feature.result) }}{{ feature.title }}
      </div>
      {# Features list BEGIN #}
      <div class="panel-collapse collapse" id="feature{{ loop.index }}">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked" role="tablist">
                {% if feature.description %}
                  <li class="active"><a href="#description-tab-{{ loop.index }}" role="tab" data-toggle="tab">Description</a>
                  </li>{% endif %}
                {% if feature.background %}
                  <li><a href="#background-tab-{{ loop.index }}" role="tab" data-toggle="tab">Background</a>
                  </li>{% endif %}
                <li {% if not feature.description %}class="active"{% endif %}><a href="#scenario-tab-{{ loop.index }}"
                                                                                 role="tab"
                                                                                 data-toggle="tab">Scenarios</a></li>
              </ul>
            </div>
            <div class="col-md-10">
              <div class="tab-content">
                {% if feature.description %}
                  <div class="tab-pane active" id="description-tab-{{ loop.index }}">
                    <p>{{ feature.description|nl2br }}</p>
                  </div>
                {% endif %}
                {% if (feature.background) %}
                  <div class="tab-pane" id="background-tab-{{ loop.index }}">
                    <div class="panel {{ default.result_panel_class(background.result) }}">
                      <div class="panel-heading">
                        {{ default.result_glyph(background.result) }}
                        <b>Background:</b> {{ feature.background.title }}
                        <span class="badge pull-right">{{ feature.background.steps|length }}</span>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          {% for step in feature.background.steps %}
                            <li class="list-group-item {% if step.result == 20 %}list-group-item-warning{% elseif step.result == 10 %}disabled{% elseif step.result == 99 %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
                              {{ default.result_glyph(step.result) }}
                              {{ step.text }}
                              {% if  (step.exception is defined) %}
                                {% if step.exception.message is not empty %}
                                  <span style="display:block;">
                                    <span class="glyphicon glyphicon-flag"></span>
                                    {{ step.exception.message }}
                                </span>
                                {% endif %}
                              {% endif %}
                              {% for argument in step.arguments %}
                                {% if argument.text %}
                                  <pre class="stepargument"><code>{{ argument.text }}</code></pre>{% endif %}
                                {% if argument.table %}
                                  <div class="panel panel-default stepargument">
                                    <div class="panel-body">
                                      <table class="table table-condensed">
                                        {% for row in argument.table %}
                                          <tr>
                                            {% for col in row %}
                                              {% if loop.parent.loop.first %}
                                                <th>{% else %}<td>{% endif %}
                                              {{ col }}
                                              {% if loop.parent.loop.first %}</th>{% else %}</td>{% endif %}
                                            {% endfor %}
                                          </tr>
                                        {% endfor %}
                                      </table>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <div class="tab-pane {% if not feature.description %}active{% endif %}"
                     id="scenario-tab-{{ loop.index }}">
                  {# Scenario list BEGIN #}
                  {% for scenario in feature.scenarios %}
                    <div class="panel {{ default.result_panel_class(scenario.result) }}">
                      <div class="panel-heading" data-toggle="collapse"
                           data-target="#scenario-{{ loop.index }}-{{ loop.parent.loop.index }}">
                        {{ default.result_glyph(scenario.result) }}
                        <b>Scenario:</b> {{ scenario.title }}
                        <span class="badge pull-right">{{ scenario.steps|length }}</span>
                      </div>
                      <div class="panel-collapse collapse" id="scenario-{{ loop.index }}-{{ loop.parent.loop.index }}">
                        <div class="panel-body">
                          {#                   <h4  class="page-header">Steps:</h4>#}
                          <ul class="list-group">
                            {% for step in scenario.steps %}
                              <li class="list-group-item {% if step.result == 20 %}list-group-item-warning{% elseif step.result == 10 %}disabled{% elseif step.result == 99 %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
                                {{ default.result_glyph(step.result) }}
                                {{ step.text }}
                                {% if  (step.exception is defined) %}
                                  {% if step.exception.message is not empty %}
                                    <span style="display:block;">
                                    <span class="glyphicon glyphicon-flag"></span>
                                      {{ step.exception.message }}
                                </span>
                                  {% endif %}
                                {% endif %}
                                {% for argument in step.arguments %}
                                  {% if argument.text %}
                                    <pre class="stepargument"><code>{{ argument.text }}</code></pre>{% endif %}
                                  {% if argument.table %}
                                    <div class="panel panel-default stepargument">
                                      <div class="panel-body">
                                        <table class="table table-condensed">
                                          {% for row in argument.table %}
                                            <tr>
                                              {% for col in row %}
                                                {% if loop.parent.loop.first %}
                                                  <th>{% else %}<td>{% endif %}
                                                {{ col }}
                                                {% if loop.parent.loop.first %}</th>{% else %}</td>{% endif %}
                                              {% endfor %}
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </li>
                            {% endfor %}
                          </ul>
                          {% if scenario.examples %}
                            <div class="panel panel-default stepargument">
                              <div class="panel-body">
                                <table class="table table-condensed">
                                  <tr>{% for parameter in scenario.parameters %}
                                      <th>{{ parameter }}</th>{% endfor %}</tr>
                                  {% for example_result in scenario.examples %}
                                    <tr class="{{ default.result_row_class(example_result.result) }}">
                                      {% for col in example_result.parameters %}
                                        <td>{{ col }}</td>
                                      {% endfor %}
                                    </tr>
                                  {% endfor %}
                                </table>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {# Scenario list END #}
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      {# Features list END #}
    </div>
  {% endfor %}
  <h1 class="page-header">Statistics</h1>

  <h3 class="page-header">Scenarios</h3>
  {% if statistics.scenarios.total > 0 %}
    <div class="progress">
      <div class="progress-bar progress-bar-success"
           style="width: {{ statistics.scenarios.passed / statistics.scenarios.total * 100 }}%">{{ statistics.scenarios.passed }}
        passed
      </div>
      <div class="progress-bar progress-bar-warning"
           style="width: {{ statistics.scenarios.pending / statistics.scenarios.total * 100 }}%">{{ statistics.scenarios.pending }}
        pending
      </div>
      <div class="progress-bar progress-bar-danger"
           style="width: {{ statistics.scenarios.failed / statistics.scenarios.total * 100 }}%">{{ statistics.scenarios.failed }}
        failed
      </div>
      <div class="progress-bar progress-bar-info"
           style="width: {{ statistics.scenarios.skipped / statistics.scenarios.total * 100 }}%">{{ statistics.scenarios.skipped }}
        skipped
      </div>
    </div>
  {% endif %}
  {% if statistics.steps.total > 0 %}
    <h3 class="page-header">Steps</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-success"
           style="width: {{ statistics.steps.passed / statistics.steps.total * 100 }}%">{{ statistics.steps.passed }}
        passed
      </div>
      <div class="progress-bar progress-bar-warning"
           style="width: {{ statistics.steps.pending / statistics.steps.total * 100 }}%">{{ statistics.steps.pending }}
        pending
      </div>
      <div class="progress-bar progress-bar-danger"
           style="width: {{ statistics.steps.failed / statistics.steps.total * 100 }}%">{{ statistics.steps.failed }}
        failed
      </div>
      <div class="progress-bar progress-bar-info"
           style="width: {{ statistics.steps.skipped / statistics.steps.total * 100 }}%">{{ statistics.steps.skipped }}
        skipped
      </div>
    </div>
  {% endif %}
</div>
</body>
</html>