{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/notifications.css') }}"/>
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-md-12">
      {% if notificationType == "allNotifications" %}
      <h1 >{{ "notifications"|trans({}, "catroweb") }}</h1>
      {% else %}
      <h1 >{{ (notificationType ~ "NotificationsTitle")|trans({}, "catroweb") }}</h1>
      {% endif %}

    </div>
  </div>
  {%if ( newNotifications | length > 0 ) or ( oldNotifications | length > 0 ) %}

    <div id="notifications-summary">

      <div class="mt-3">

        <div class="notification-summary-left">
        <span id="total_amount_of_notifications" class="h4">
          {{ "catro-notifications.summary"|trans({'%count%': newNotifications|length, "%amount%": newNotifications|length}, "catroweb") }}
        </span>
        </div>
      </div>
    </div>

  {% endif %}

  <div id="new-notifications-container" class="row mt-4">
    {% for notification in newNotifications %}
      <div class="col-md-12">
        {{ include(notification.getTwigTemplate) }}
      </div>

    {% endfor %}
  </div>

  {%if ( newNotifications | length > 0 ) or ( oldNotifications | length > 0 ) %}
    <div class="row" id = "old-notification-header">
      <div class="col-md-12">
        <h2 >{{ "oldnotification"|trans({}, "catroweb") }}</h2>
      </div>
    </div>
  {% endif %}
  <div id="old-notifications-container" class="row mt-4">
    {% for notification in oldNotifications %}
      <div class="col-md-12" id="old-check">
        {{ include(notification.getTwigTemplate) }}
      </div>
    {% endfor %}
  </div>

  <div class="no-notifications-placeholder">
    <p>{{ "notificationsReadMessage"|trans({}, "catroweb") }}</p>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/Notifications.min.js') }}"></script>
  <script>
    let notifications = new Notification({{ newNotifications|length }},
            "{{ oldNotifications|length }}",
            "{{ url('catro_notification_mark_as_read') }}",
            "{{ url('user_notifications_seen', {'notification_type':  notificationType }) }}",
            "{{ url('delete_all_notifications', {'notification_type':  notificationType }) }}",
            "{{ url('delete_notification') }}",
            "{{ "done"|trans({}, "catroweb") }}",
            "{{ "notificationsClearedMessage"|trans({}, "catroweb") }}",
            "{{ "somethingWentWrong"|trans({}, "catroweb") }}",
            "{{ "notificationsClearError"|trans({}, "catroweb") }}",
            "{{ "notificationDeleteMessage"|trans({}, "catroweb") }}",
            "{{ "notificationDeleteAllMessage"|trans({}, "catroweb") }}",
            "{{ "confirmMessage"|trans({}, "catroweb") }}",
            "{{ "cancelMessage"|trans({}, "catroweb") }}",
            "{{ "deleteNotificationConfirmation"|trans({}, "catroweb") }}",
            "{{ "notificationDeletedMessage"|trans({}, "catroweb") }}",
            "{{ "notificationsAllMessagesDeleted"|trans({}, "catroweb") }}",
            "{{ "notificationsDeleteError"|trans({}, "catroweb") }}",
            "{{ path('user_notifications_count') }}", "{{ notificationType }}"
    )
    $(document).ready(function () {
      notifications.init()
    })
  </script>

{% endblock %}
