{% extends "Default/base.html.twig" %}

{% block head %}
  {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block header %}{% endblock header %}

{% block body %}

  {% include 'UserManagement/login_logo.html.twig' %}

  <!-- Policy -->
  {% include 'PrivacyAndTerms/policy.html.twig' %}

  <!-- Error Message -->
  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-8 col-lg-6 center">
      {% if error|default(false) %}
        <div id="login-alert"
             class="alert alert-danger col-sm-12">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
      {% elseif showResetError|default(false) %}
      <div class="alert alert-danger">
        {{ "login.alreadyReset"|trans({}, "catroweb") }}
      </div>
      {% elseif showResetSuccess|default(false) %}
        <div class="alert alert-success">
          {{ "login.recoverPassSend"|trans({}, "catroweb") }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row justify-content-center">
    <form class="col-11 col-sm-10 col-md-8 col-lg-6 mb-4"
          id="loginform form_fos" class="form-horizontal" role="form" action="{{ url("fos_user_security_check") }}"
          method="post">

      <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token|default('') }}"/>

      {% include 'components/text_field.html.twig' with {
        'text_field':
        {
          'id': 'username',
          'label': '' ~ 'login.username'|trans({}, 'catroweb'),
          'name': '_username',
          'leading_icon': 'person'
        }
      } %}

      {% include 'components/text_field.html.twig' with {
        'text_field':
        {
          'id': 'password',
          'label': '' ~ 'password'|trans({}, 'catroweb'),
          'name': '_password',
          'type': 'password',
          'trailing_icon': 'visibility',
          'leading_icon': 'lock'
        }
      } %}

      <div class="mb-3" style="width: 100%; text-align: right;">
        <a class="col-12 login-text--secondary" id="pw-request"
           href="{{ path("fos_user_resetting_request") }}">
          {{ "login.button.forgetPassword"|trans({}, "catroweb") }}
        </a>
      </div>

      <div>
        {% if (app.session.get("catroweb_login_redirect") is not empty) %}
          <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_redirect") }}"/>
          {{ app.session.set("catroweb_login_referer", app.session.get("catroweb_login_redirect")) }}
          {{ app.session.set("catroweb_login_redirect", "") }}
        {% elseif ("/login" in app.request.headers.get('referer')) and app.session.has("catroweb_login_referer") %}
            <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_referer") }}#login"/>
        {% elseif ("/login" in app.request.headers.get('referer')) %}
            <input type="hidden" name="_target_path" value="{{ path("index") }}#login"/>
        {% elseif (app.request.headers.get('referer') is not empty) %}
            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}#login"/>
            {{ app.session.set("catroweb_login_referer", app.request.headers.get('referer')) }}
        {% else %}
          <input type="hidden" name="_target_path" value="index"/>
        {% endif %}

        <button id="_submit" value="Login" class="btn btn-primary"
                name="_submit">{{ "login.button.loginNow"|trans({}, "catroweb") }}
        </button>

        <a href="{{ path('fos_user_registration_register') }}" class="ms-2 btn btn-secondary">{{ "login.button.createAccount"|trans({}, "catroweb") }}</a>
      </div>

    </form>
  </div>

  {% include 'UserManagement/oauth_registration.html.twig' %}


{% endblock body %}

{% block javascript %}
{{ encore_entry_script_tags('login') }}
{% endblock %}
