{% extends ':Default:base.html.twig' %}

{% block head %}
  {% stylesheets 'css/custom/help.less' filter='cssrewrite,lessphp' output='compiled/help.css' %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}


{% block body %}
  <h1>Skydiving Steve</h1>

  <div class="content-container wizard">

    <nav>
      {{ knp_pagination_render(pagination) }}
    </nav>

    <div class="clear"></div>
    <div class="title center size-xxlarge">#{{ page }}
      : {{ ("help.hourOfCode.step"~page~".title")|trans({}, "catroweb") }}</div>
    <div class="description center size-large">
      {{ ("help.hourOfCode.step"~page~".description")|trans({}, "catroweb") }}
    </div>

    <div class="image-container">
      <div style="display: table-cell">
        <img src="{{ asset('images/help/hour_of_code/thumbs/0_1.jpg') }}" alt="" title="" />
      </div>
      <div class="spacer">
        <div class="arrow"></div>
      </div>
      <div style="display: table-cell">
        <img src="{{ asset('images/help/hour_of_code/thumbs/0_1.jpg') }}" alt="" title="" />
      </div>
      <div class="spacer">
        <div class="arrow"></div>
      </div>
      <div style="display: table-cell">
        <img src="{{ asset('images/help/hour_of_code/thumbs/0_1.jpg') }}" alt="" title="" />
      </div>
    </div>


  </div>


{% endblock %}

