{% if pageCount > 1 %}
  <div class="header-arrows">
    {% if current > first %}
      <a href="{{ path(route, {(pageParameterName): current - 1}) }}">
        <div class="arrow left"></div>
      </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>

  <div class="header-pagination">
    {% if first is defined %}
      <a href="{{ path(route, {(pageParameterName): first}) }}">
        {% if current == first %}
          <div class="bubbles current">{{ first }}</div>
        {% else %}
          <div class="bubbles">{{ first }}</div>
        {% endif %}
      </a>
      {% if current > 3 %}
        <div class="bubbles">...</div>
      {% endif %}
    {% endif %}

    {% for page in pagesInRange %}

      {% if current != first or page != 4 %}
        {% if page != first and page != last %}
          {% if page != current %}
            <a href="{{ path(route, {(pageParameterName): page}) }}">
              <div class="bubbles">{{ page }}</div>
            </a>
          {% else %}
            <div class="bubbles current">{{ page }}</div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if last is defined %}
      {% if current <= last-3 %}
        <div class="bubbles">...</div>
      {% endif %}

      <a href="{{ path(route, {(pageParameterName): last}) }}">
        {% if current == last %}
          <div class="bubbles current">{{ last }}</div>
        {% else %}
          <div class="bubbles">{{ last }}</div>
        {% endif %}
      </a>
    {% endif %}
  </div>

  <div class="header-arrows">
    {% if next is defined %}
      <a href="{{ path(route, {(pageParameterName): next}) }}">
        <div class="arrow right"></div>
      </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>

  <div class="clear"></div>
{% endif %}
