{% if pageCount > 1 %}
  <div class="header-arrows">
    {% if current > first-1 %}
      <a href="{{ path(route, query|merge({(pageParameterName): current-1})) }}">
        <div class="arrow left"></div>
      </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>

  <div class="header-pagination">
    {% if first is defined %}
      <a href="{{ path(route, query|merge({(pageParameterName): first-1})) }}">
        {% if current == first-1 %}
          <div class="bubbles current">{{ first-1 }}</div>
        {% else %}
          <div class="bubbles">{{ first-1 }}</div>
        {% endif %}
      </a>
      {% if current > 2 %}
        <div class="bubbles">...</div>
      {% endif %}
    {% endif %}

    {% for page in pagesInRange %}

      {% if(current == first-1) or (current == first) %}
        {% if(page <= 2) %}
          <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">
            <div class="bubbles {{ page==current?'current':'' }}">{{ page }}</div>
          </a>
        {% endif %}
      {% elseif(current == last-1) or (current == last) %}
        {% if(page < 21) %}
          <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">
            <div class="bubbles {{ page==current?'current':'' }}">{{ page }}</div>
          </a>
        {% endif %}
      {% else %}
        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">
          <div class="bubbles {{ page==current?'current':'' }}">{{ page }}</div>
        </a>
      {% endif %}
    {% endfor %}

    {% if last is defined %}
      {% if current <= last-3 %}
        <div class="bubbles">...</div>
      {% endif %}

      <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
        {% if current == last %}
          <div class="bubbles current">{{ last }}</div>
        {% else %}
          <div class="bubbles">{{ last }}</div>
        {% endif %}
      </a>
    {% endif %}
  </div>

  <div class="header-arrows">
    {% if next is defined %}
      <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
        <div class="arrow right"></div>
      </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>

  <div class="clear"></div>
{% endif %}
