{% extends ":Default:base.html.twig" %}

{% block head %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{  asset( getJavascriptPath('loginscript.js') )}}"></script>
    <script src="{{  asset( getJavascriptPath('registrationscript.js') )}}"></script>

{% endblock %}

{% block header %}
    {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

  {% block fos_user_content %}
    <form id="registration_form" action="{{ path('register_check') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
      {#{{ form_widget(form) }}#}
      {{ form_errors(form) }}
      <div id="sonata_user_registration_form">

        <div class="input-field">
          {{ form_widget(form.username, {'required': false, 'attr': {'placeholder': 'Username' } }) }}
          <div class="img-login"></div>
        </div>

        <div class="input-field">
          {{ form_widget(form.email, {'required': false, 'attr': {'placeholder': 'Email' } }) }}
          <div class="img-login"></div>
        </div>

        <div class="input-field">
          {{ form_widget(form.plainPassword.first, {'required': false, 'attr': {'placeholder': 'Password' } }) }}
          <div class="img-login"></div>
        </div>

        <div class="input-field">
          {{ form_widget(form.plainPassword.second, {'required': false, 'attr': {'placeholder': 'Password Confirm' } }) }}
          <div class="img-login"></div>
        </div>

        <input id="sonata_user_registration_form__token" type="hidden" name="sonata_user_registration_form[_token]" value="{{ csrf_token('authentication') }}" />
      </div>
        {% for flash_message in app.session.flashBag.get('catroweb_error_message') %}
        <div id="Error-Message" style="display:block">
            <p>{{ flash_message|trans({}, "catroweb") }}</p>
        </div>
        {% endfor %}
      <div id="Error-Message" style="display:none">
          <p>{{ 'registrationError'|trans({}, 'catroweb') }}</p>
      </div>

      <div>
        {#<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />#}
        <input class="button" type="submit" value="Create my Account" />
      </div>
      {{ form_rest(form) }}
    </form>

    {% include ':social:oauth_form.html.twig' %}

  {% endblock fos_user_content %}

{% endblock body %}
