{% extends 'User/Notification/Type/Base.html.twig' %}

{% block notification_leftAvatar %}
  <a href="{{ path('profile', {id: notification.comment.user.id}) }}">
    <img class="notification-avatar-img"
         src="{% if notification.comment.user.avatar is not empty %}{{ notification.comment.user.avatar }}
                        {% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"
         alt="{{ notification.comment.username }}">
  </a>
{% endblock %}

{% block notification_body %}
  {{ 'catro-notifications.comment.message'|trans
    (
    {
      '%user_link%': '<a href="' ~ path('profile', {id: notification.comment.user.id|escape}) ~ '">' ~ notification.comment.username|escape ~ '</a>',
      '%program_link%': '<a href="' ~ path('program', {id: notification.comment.program.id|escape}) ~ '">' ~ notification.comment.program.name|escape ~ '</a>',
    },
    'catroweb',
  )
  |raw }}
{% endblock %}
