{% extends 'User/Notification/Type/Base.html.twig' %}

{% block notification_leftAvatar %}
  <a href="{{ path('profile', {id: notification.follower.id}) }}">
    <img class="notification-avatar-img"
         src="{% if notification.follower.avatar is not empty %}{{ notification.follower.avatar }}
                        {% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"
         alt="{{ notification.follower.username }}">
  </a>
{% endblock %}

{% block notification_body %}
  {{ 'catro-notifications.follow.message'|trans
    (
    {
      '%user_link%': '<a href="' ~ path('profile', {id: notification.follower.id|escape}) ~ '">' ~ notification.follower.username|escape ~ '</a>',
    },
    'catroweb',
  )
  |raw }}
{% endblock %}
