{% extends 'User/Notification/Type/Base.html.twig' %}

{% block notification_leftAvatar %}
  <a href="{{ path('profile', {id: notification.getLikeFrom.id}) }}">
    <img class="notification-avatar-img"
         src="{% if notification.getLikeFrom.avatar is not empty %}{{ notification.getLikeFrom.avatar }}
                        {% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"
         alt="{{ notification.getLikeFrom.getUserName }}">
  </a>
{% endblock %}

{% block notification_body %}
  {{ 'catro-notifications.like.message'|trans
    (
    {
      '%user_link%': '<a href="' ~ path('profile', {id: notification.getLikeFrom.id|escape}) ~ '">' ~ notification.getLikeFrom.getUserName|escape ~ '</a>',
      '%program_link%': '<a href="' ~ path('program', {id: notification.program.id|escape}) ~ '">' ~ notification.program.name|escape ~ '</a>',
    },
    'catroweb',
  )
  |raw }}
{% endblock %}
