{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('media_library_category_detail_page') }}
{% endblock %}

{% block top_bar_page_title %}{{ category_name }}{% endblock %}
{% block top_bar_back_path %}{{ path('media_library_overview') }}{% endblock %}

{% block body %}
  <div id="search-results" class="mb-4" style="display: none;">
    <h1>{{ 'media-packages.search-results'|trans({}, 'catroweb') }}</h1>
    <div id="search-results-text"></div>
  </div>

  <div id="skeleton-media-items" class="js-skeleton medialib-content">
    <div class="category" style="display: block;">
      <div class="files">
        {% for i in range(1, 8) %}
          <div class="mediafile">
            <div class="img-container">
              <span class="skeleton" style="display: block; width: 100%; height: 100%;"></span>
            </div>
            <div class="text-container">
              <div class="name">
                <span class="skeleton" style="display: inline-block; width: {{ [120, 160, 100, 140, 180, 110, 150, 130][i - 1] }}px; height: 0.9rem;"></span>
              </div>
              <div class="description">
                <span class="skeleton" style="display: inline-block; width: {{ [90, 70, 100, 80, 60, 95, 75, 85][i - 1] }}px; height: 0.75rem;"></span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="content" class="medialib-content">
    <div id="category-{{ category.id }}" data-name="{{ category_name|e('html_attr') }}"
         style="display: none;" class="category active">
      <div class="files"></div>
    </div>
  </div>

  {%
    set translations = {
      elementsSingular: 'element'|trans({}, 'catroweb'),
      elementsPlural: 'elements'|trans({}, 'catroweb'),
      noResults: 'media_library.no_results'|trans({}, 'catroweb'),
      size: 'media_library.file.size'|trans({}, 'catroweb'),
      type: {
        catrobat: 'media_library.file.type_description.image'|trans({}, 'catroweb'),
        image: 'media_library.file.type_description.image'|trans({}, 'catroweb'),
        sound: 'media_library.file.type_description.sound'|trans({}, 'catroweb'),
        video: 'media_library.file.type_description.movie'|trans({}, 'catroweb'),
        project: 'media_library.file.type_description.project'|trans({}, 'catroweb'),
        unknown: 'media_library.file.type_description.default'|trans({}, 'catroweb'),
      },
    }
  %}

  {% if isWebview() %}
    <a href="{{ path('exit-webview') }}" id="media-library-done-fab" class="floating-action-button" style="display: none;">
      <span class="material-icons">check</span>
      <span>{{ 'done'|trans({}, 'catroweb') }}</span>
    </a>
  {% endif %}

  <div class="js-media-library"
       data-category-id="{{ category.id }}"
       data-category-name="{{ category.name }}"
       data-search-query="{{ searchQuery|default('')|e('html_attr') }}"
       data-path-media-search="{% if searchQuery is defined and searchQuery %}{{ path('open_api_server_mediaLibrary_mediaassetsget') }}?category_id={{ category.id }}&search={{ searchQuery|url_encode }}{% endif %}"
       data-flavor="{{ flavor }}"
       data-translations="{{ translations|json_encode() }}"
       data-is-webview="{{ isWebview() }}"
       data-path-media-assets-api="{{ path('open_api_server_mediaLibrary_mediaassetsget') }}?category_id={{ category.id }}"
  ></div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('media_library_category_detail_page') }}
{% endblock %}
