{% extends 'Default/base.html.twig' %}

{% block head %}
 {{ encore_entry_link_tags('media_library') }}
{% endblock %}

{% block sidebar_ul %}
  <hr>
  {% for category in categories %}
    <li class="nav-item" id="menu-media-library-category-{{ category.displayID }}" style="display: none;">
      <a class="nav-link" href="#category-{{ category.displayID }}">{{ category.name }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block body %}
  {% if foundResults is defined %}
    <div id="search-results" class="mb-4">
      <h1>{{ "media-packages.search-results"|trans({}, "catroweb") }}</h1>
      <div id="search-results-text">
        {% if foundResults %}
          {{ "search.resultcount"|trans({'%count%': resultsCount}, "catroweb") }}.
        {% else %}
          {{ "media-packages.no-results"|trans({}, "catroweb") }}
        {% endif %}
      </div>
    </div>
  {% endif %}


  {% if search is not defined %}
  <div id="content" class="media-library-content">
    {% for category in categories %}
      <div class="media-library-category" id="category-{{ category.displayID }}" data-category="{{ category.displayID }}">
        <h2>{{ category.name }}</h2>
        <div class="media-library-files">
          {% for file in files %}
            {% if file.category.name == category.name %}
              {% include 'MediaLibrary/media_library_file.html.twig' with { 'file': file } %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {%
    set translations = {
      'elementsSingular': "element"|trans({}, "catroweb"),
      'elementsPlural': "elements"|trans({}, "catroweb"),
      'size': "media_library.file.size"|trans({}, "catroweb"),
      'type': {
        'catrobat': "media_library.file.type_description.image"|trans({}, "catroweb"),
        'image': "media_library.file.type_description.image"|trans({}, "catroweb"),
        'sound': "media_library.file.type_description.sound"|trans({}, "catroweb"),
        'video': "media_library.file.type_description.movie"|trans({}, "catroweb"),
        'project': "media_library.file.type_description.project"|trans({}, "catroweb"),
        'unknown': "media_library.file.type_description.default"|trans({}, "catroweb"),
      },
    }
  %}

  <div id="js-media-library"
       data-package="{{ package }}"
       data-path-media-search="{{ mediaSearchPath|default('')|raw }}"
       data-translations="{{ translations|json_encode() }}"
       data-is-webview="{{ isWebview() }}"
  ></div>
{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('media_library') }}
{% endblock %}
