<a class="mediafile" id="mediafile-{{ file.id }}">
    <i class="checkbox material-icons">check_circle</i>
    <div class="file-container {{ file.container_class }}" data-filetype="{{ file.type }}">
        <img alt="{{ file.id }}" src="{{ file.link }}" title="{{ file.title }}"></div>
    <div class="text-container">
        <div class="name">{{ file.title }}</div>
        <div class="description">{{ file.description }}</div>
    </div>
</a>