{% extends (app.request.attributes.get('_embedded') == true) 
         ? 'CatrobatWebBundle::fragment.html.twig'
         : 'CatrobatWebBundle::base.html.twig' %}

{% block body %}
<article>
	<header>{{ "projects.newest"|trans }}</header>
	<div id="newestProjects" class="projectContainer">
		<ul>
			{% for entity in entities %}
			<li style="visibility: visible;">
			  <a title="{{ entity.name }}" href="{{ path('project_show', { 'id': entity.id }) }}">
			    <img alt="{{ entity.name }}" src="{{ entity.thumbnail }}">
 					<div class="projectTitle">{{ entity.name }}</div>
				<div class="projectAddition">vor 4 Stunden</div>
			</a>
		    {% endfor %}
		</ul>
	</div>
</article>
{% endblock %}
