<article>
	<header>{{ "projects.newest"|trans }} {{ app.request.locale }} </header>
	<div class="projectContainer">
		<div id="newestProjects" class="projectContainer">
			<ul style="height: 318px;">
				{% for entity in entities %}
				<li style="visibility: visible;">
				  <a title="{{ entity.name }}" href="{{ path('project_show', { 'id': entity.id }) }}">
				    <img alt="{{ entity.name }}" src="{{ entity.thumbnail }}">
 					<div class="projectTitle">{{ entity.name }}</div>
					<div class="projectAddition">vor 4 Stunden</div>
				</a>
			    {% endfor %}
			</ul>
		</div>
	</div>
</article>




