{% extends 'CatrowebBundle::base.html.twig' %}

{% block body %}
<article>
	<header>{{ entity.name }}</header>
	<div class="projectContainer">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ entity.views }}</td>
            </tr>
            <tr>
                <th>Downloads</th>
                <td>{{ entity.downloads }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ entity.thumbnail }}</td>
            </tr>
            <tr>
                <th>Screenshot</th>
                <td>{{ entity.screenshot }}</td>
            </tr>
        </tbody>
    </table>
   </div>
</article>

{% endblock %}
