{% extends ":Default:base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/request.css') }}" media="screen"/>
{% endblock %}

{% block header %}
  {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

{% block fos_user_content %}
  <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="input-field">
      <input type="text" id="username" name="username" placeholder="{{ "login.userOrEmail"|trans({}, "catroweb") }}" />
      <div class="img-login"></div>
    </div>

    {% if invalid_username is defined %}
      <div class="error-text">{{ "login.noUsername"|trans({}, "catroweb")}}</div>
    {% endif %}
    
    <button id="recover">{{ "login.recoverPass"|trans({}, "catroweb") }}</button>
    
  </form>
{% endblock fos_user_content %}

{% endblock body %}