{% extends ":Default:base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/request.css') }}" media="screen"/>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

  {% javascripts 'js/plugins/*' 'js/base/*'
     'js/custom/Reset.js' output='compiled/script.js' %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block header %}
  {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

{% block fos_user_content %}
  <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="input-field">
      <input type="text" id="username" name="username" placeholder="{{ "login.userOrEmail"|trans({}, "catroweb") }}" />
      <div class="img-login"></div>
    </div>

    {% if invalid_username is defined %}
      <div class="error-text">{{ "login.noUsername"|trans({}, "catroweb")}}</div>
    {% endif %}
    
    <div id="error_user_oauth" class="error-text" >
      {{ "oauth.noReset"|trans({}, "catroweb") }}
    </div>

    <button id="_submit" name="recover" class="hidden" ></button>

</form>

<button id="reset_pw">{{ "login.recoverPass"|trans({}, "catroweb") }}</button>

{% endblock fos_user_content %}

{% endblock body %}
