{% extends "Default/base.html.twig" %}

{% block head %}
  {{ encore_entry_link_tags('request') }}
{% endblock %}

{% block header "" %}

{% block body %}

  {% block fos_user_content %}

    {% include 'PrivacyAndTerms/policy.html.twig' %}

    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-8 col-lg-6 center">
        <h1 class="h2">{{ "accountRecovery.title"|trans({}, "catroweb") }}</h1>

        <p>{{ "accountRecovery.description"|trans({}, "catroweb") }}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-8 col-lg-6 text-center center">
        {% if invalid_username is defined %}
          <div id="request-alert"
               class="alert alert-danger col-sm-12">{{ "login.noUsername"|trans({}, "catroweb") }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-8 col-lg-6 mb-4">

        <form id="request-form form_fos" class="form-horizontal fos_user_resetting_request" role="form"
              action="{{ path('fos_user_resetting_send_email') }}" method="post">

          <div class="row">
            <div class="col">

              {% include 'components/text_field.html.twig' with {
                'text_field':
                {
                  'id': 'username',
                  'label': '' ~ 'login.userOrEmail'|trans({}, 'catroweb'),
                  'name': 'username',
                  'leading_icon': 'person'
                }
              } %}

              <div class="mt-2" style="float: right;">
                <a href="{{ path('login') }}" class="ms-2 btn btn-secondary">{{ "accountRecovery.button.cancel"|trans({}, "catroweb") }}</a>
                <button id="recover" class="btn btn-primary" name="recover">
                  {{ "accountRecovery.button.submit"|trans({}, "catroweb") }}
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  {% endblock fos_user_content %}

{% endblock body %}

{% block javascript %}
  {{ encore_entry_script_tags('request') }}
{% endblock %}
