{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_system_management_db_updater_achievements') }}
{% endblock %}

{% block list_table %}
  <div class="col-xs-12 col-md-12 mb-5">
      <h1 class="h1" style="margin-top: 0;">Achievements</h1>
      {{ include('@SonataTwig/FlashMessage/render.html.twig') }}
      <p style="padding: 0.5em;">
          Achievements are tightly coupled to events that usually require complex logic in the background.
          Therefore, achievements can not simply be added here through the Admin interface.
          Instead, they have to be added directly through the source code first.
          Then, to insert/update those static achievements into the database, the update button must be
          triggered or the command executed in the command line.
          Typically, this is done automatically during the deployment.
      </p>
      <h4>Step-by-step guide on how to add new achievements</h4>
      <ol>
          <li>Add/modify the achievements in `UpdateAchievementsCommand.php`</li>
          <li>Add all necessary new assets, such as the SVGs to the assets directory</li>
          <li>Trigger the update into the database</li>
      </ol>

      <a id="btn-update-achievements" class="btn btn-large btn-primary" href="{{ updateAchievementsUrl }}">
          <i class="glyphicon glyphicon-refresh"></i>
          Manually trigger the achievements update
      </a>

      <h3>Achievements Overview</h3>
  </div>
  {{ parent() }}
{% endblock %}
