{% extends ':Default:base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}

    {#<div id="program-path">{{ path }}</div>#}

    {#
    <div id="debug-wrapper">

        {% for d in debug %}
            <div class="debug">
                <img src="{{ path }}images/{{ d }}">
                <img src="{{ asset('images/' ~ d) }}">
                <div class="debug-msg">{{ d }}</div>
            </div>
        {% endfor %}
    </div>

    <div id="debugtwo-wrapper">
        <div class="debugtwo">
            <div class="debugtwo-msg">{{ debugtwo }}</div>
        </div>
    </div>
    #}

    <div id="background-wrapper">
        {#<img src="{{ background['looks'] }}" class="object-icon">#}
        <div class="object-name">Background Name: {{ background['name'] }}</div>
        {% for look in background['looks'] %}
            <div class="look">
                <div class="object-look-name">Look Name: {{ look['look_name'] }}</div>
                <div class="object-look-url">Look URL: {{ look['look_url'] }}</div>
            </div>
        {% endfor %}
        {% for sound in background['sounds'] %}
            <div class="sound">
                <div class="object-sound-name">Sound Name: {{ sound['sound_name'] }}</div>
                <div class="object-sound-url">Sound URL: {{ sound['sound_url'] }}</div>
            </div>
        {% endfor %}
        <div class="object-scripts">Length of the scripts it contains: {{ background['scripts']|length }}</div>
    </div>

    {% if object_list is not empty %}

        <div id="object-list-wrapper">
            {% for code_object in object_list %}

                <div class="object">
                    {#<img src="{{ code_object['looks'] }}" class="object-icon">#}
                    <div class="object-name">Object Name: {{ code_object['name'] }}</div>
                    {% for look in code_object['looks'] %}
                        <div class="look">
                            <div class="object-look-name">Look Name: {{ look['look_name'] }}</div>
                            <div class="object-look-url">Look URL: {{ look['look_url'] }}</div>
                        </div>
                    {% endfor %}
                    {% for sound in code_object['sounds'] %}
                        <div class="sound">
                            <div class="object-sound-name">Sound Name: {{ sound['sound_name'] }}</div>
                            <div class="object-sound-url">Sound URL: {{ sound['sound_url'] }}</div>
                        </div>
                    {% endfor %}
                    <div class="object-scripts">Length of the scripts it contains: {{ code_object['scripts']|length }}</div>
                </div>

            {% endfor %}
        </div>

        {#
        <div class="debug">

            {% for codeObject in debug %}
                <div class="debug-panel">
                    {{ codeObject.name }} <br/>
                    {{ codeObject.getScripts|length }} <br/>
                    {% for script in codeObject.getScripts %}
                        <div class="script">
                            {{ script.getStatements|length }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
        #}

        {#
        <div class="debugtwo">
            {% for codeObject in codeObjects %}
                <div class="debugtwo-panel">
                    {{ codeObject.name }} <br/>
                    {{ codeObject.getScripts|length }} <br/>
                    {% for script in codeObject.getScripts %}
                        <div class="script">
                            {{ script.getStatements|length }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        #}

        {#
        <div class="panel-group">
            <div class="panel panel-default">
                <div id="code" class="panel-collapse collapse">
                    {% if codeObjects|length == 0 %}
                        No Code in this project
                    {% else %}
                        {% autoescape false %}
                        {% for codeObject in codeObjects %}
                            <div class="panel-body">
                                Object name: {{ codeObject.getName }} <br/>
                                {{ codeObject.getCode }}
                            </div>
                        {% endfor %}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
        #}

    {% else %}
        <div id="no-objects-note">
            This Program doesn't contain any objects.
        </div>
    {% endif %}

{% endblock %}
