{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/codeview.css') }}" media="screen"/>
{% endblock %}



{% import _self as self %}

{% macro dropbtn(object, path, scene_name) %}
    {% if object.looks|length > 0 %}
        {% if scene_name is null %}
            <img src="{{ asset('./'~path~'images/'~object['looks'][0]['look_url']) }}" class="object-icon">
        {% else %}
            <img src="{{ asset('./'~path~'/'~scene_name~'/images/'~object['looks'][0]['look_url']) }}" class="object-icon">
        {% endif %}
    {% else %}
        <img src="{{ asset('./images/symbols/empty.svg') }}" class="object-icon">
    {% endif %}
    <div class="object-meta">
        <div class="object-meta-name">
            <p>Object:</p>
            <p>Looks:</p>
            <p>Scritps:</p>
            <p>Sounds:</p>
        </div>
        <div class="object-meta-value">
            <p>{{ object.name }}</p>
            <p>{{ object.looks|length }}</p>
            <p>{{ object.scripts|length }}</p>
            <p>{{ object.sounds|length }}</p>
        </div>
    </div>
    <div class="arrow">
        <img src="{{ asset('./images/symbols/codeview_arrow_down.png') }}">
    </div>
{% endmacro %}

{% macro dropcontent(object, path, scene_name) %}
    {% import _self as self %}
    {% set sound_counter = 0 %}
    {% if object.scripts|length > 0 %}
        {% for script in object.scripts %}
            <div class="script">
                <div class="script-top-brick" style="background-image: url({{ asset('images/bricks/'~script.img_file) }})">
                    {# <img src="{{ asset('images/bricks/1h_when_orange.png') }}"> #}
                    <div class="script-text">
                        <span class="script-type">{{ script.type }}</span>
                        {% if script.message is defined %}
                            <span class="script-message">{{ script.message }}</span>
                        {% endif %}
                    </div>
                    {% if script.look is defined %}
                        {% if scene_name is null %}
                            <img src="{{ asset('./'~path~'images/'~script.look) }}" class="brick-look script-brick-look">
                        {% else %}
                            <img src="{{ asset('./'~path~'/'~scene_name~'/images/'~script.look) }}" class="brick-look script-brick-look">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="script-bricks-wrapper">
                    {% for brick in script.bricks %}
                        <div class="brick" style="background-image: url({{ asset('images/bricks/'~brick.img_file) }})">
                            {# <img src="{{ asset('images/bricks/'~brick.img_file) }}"> #}
                            {# <div class="brick-name">{{ brick.name }}</div> #}
                            <div class="brick-text">{{ brick.text }}</div>
                            {% if brick.look is defined %}
                                {% if scene_name is null %}
                                    <img src="{{ asset('./'~path~'images/'~brick.look) }}" class="brick-look">
                                {% else %}
                                    <img src="{{ asset('./'~path~'/'~scene_name~'/images/'~brick.look) }}" class="brick-look">
                                {% endif %}
                            {% endif %}
                            {% if brick.sound is defined %}
                                {% if scene_name is null %}
                                    <img src="{{ asset('images/symbols/sound.svg') }}" id="sound-{{ sound_counter }}" class="brick-sound"
                                         onclick="initialSound('{{ asset('./'~path~'sounds/'~brick.sound) }}', {{ sound_counter }});">
                                {% else %}
                                    <img src="{{ asset('images/symbols/sound.svg') }}" id="sound-{{ sound_counter }}" class="brick-sound"
                                         onclick="initialSound('{{ asset('./'~path~'/'~scene_name~'/sounds/'~brick.sound) }}', {{ sound_counter }});">
                                {% endif %}
                                <img src="{{ asset('images/symbols/stop.png') }}" id="soundStop-{{ sound_counter }}" class="brick-sound" style="display:none;"
                                     onclick="stopSound({{ sound_counter }});">
                                {% set sound_counter = sound_counter + 1 %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="note">NO SCRIPTS</p>
    {% endif %}
{% endmacro %}

{% macro object(object, path, scene_name) %}
    {% import _self as self %}
    <div class="dropbtn collapse-btn">
        {{ self.dropbtn(object, path, scene_name) }}
    </div>
    <div class="dropdown-content">
        {{ self.dropcontent(object, path, scene_name) }}
    </div>
{% endmacro %}

{% macro group(group_object, path, scene_name) %}
    {% import _self as self %}
    <div class="dropbtn collapse-btn">
        <div class="object-meta outdented">
            <div class="object-meta-name">
                <p>Group:</p>
                <p>Objects:</p>
            </div>
            <div class="object-meta-value">
                <p>{{ group_object.name }}</p>
                <p>{{ group_object.object_list|length }}</p>
            </div>
        </div>
        <div class="arrow group-arrow">
            <img src="{{ asset('./images/symbols/codeview_arrow_down.png') }}">
        </div>
    </div>
    <div class="group-dropdown-content">
        {% if group_object.object_list is not empty %}
            {% for object in group_object.object_list %}
                <div class="object">
                    {{ self.object(object, path, scene_name) }}
                </div>
            {% endfor %}
        {% else %}
            <p class="note">NO OBJECTS</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro maincontent(background, object_list, path, scene_name) %}
    {% import _self as self %}
    <div id="background-wrapper">
        <p class="heading">BACKGROUND</p>
        <div id="background">
            {{ self.object(background, path, scene_name) }}
        </div>
    </div>

    <div id="object-list-wrapper">
        <p class="heading">OBJECTS</p>
        {% if object_list is not empty %}
            {% for code_object in object_list %}
                <div class="object">
                    {% if code_object.object_list is defined %}
                        {{ self.group(code_object, path, scene_name) }}
                    {% else %}
                        {{ self.object(code_object, path, scene_name) }}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="note">NO OBJECTS</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro scenes(path, scene_list) %}
    {% import _self as self %}
    <div class="scenes-wrapper">
        {% for scene in scene_list %}
            <div class="scene">
                <div class="scene-dropbtn collapse-btn">
                    <p class="heading scene-heading">SCENE: <span>{{ scene.name }}</span></p>
                    <div class="arrow scene-arrow">
                        <img src="{{ asset('./images/symbols/codeview_arrow_down.png') }}">
                    </div>
                </div>
                <div class="scene-content">
                    {{ self.maincontent(scene.background, scene.object_list, path, scene.name) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block body %}
    <div id="code-wrapper">

        {% if no_code is defined %}
            <p class="exception">CODE CAN'T BE DISPLAYED</p>
        {% elseif scene_list is defined %}
            {% if scene_list|length > 1 %}
                {{ self.scenes(path, scene_list) }}
            {% else %}
                {{ self.maincontent(scene_list[0].background, scene_list[0].object_list, path, scene_list[0].name) }}
            {% endif %}
        {% else %}
            {{ self.maincontent(background, object_list, path, null) }}
        {% endif %}

    </div>
{% endblock %}

{% block js %}
    <script>

        var sound_map = {};

        $(document).ready(function() {
            $('.collapse-btn').on("click", function() {
                $(this).next().slideToggle(250, 'linear');
                $(this).find('.arrow').toggleClass('rotate');
            });
        });

        function initialSound(file_name, id) {
            var audio = new Audio(file_name);
            audio.play();
            audio.addEventListener('ended',function(){
                $("#soundStop-"+id).hide();
                $("#sound-"+id).show();
            });
            sound_map[id] = audio;
            $("#sound-"+id).hide();
            $("#soundStop-"+id).show();
        }

        function stopSound(id){
            sound_map[id].pause();
            sound_map[id].currentTime = 0;
            $("#soundStop-"+id).hide();
            $("#sound-"+id).show();
        }

    </script>
{% endblock %}
