{% extends ':Default:base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/codeview.css') }}" media="screen"/>
{% endblock %}

{% block body %}

    <div id="code-wrapper">

        <div id="background-wrapper">
            <p class="heading">BACKGROUND</p>
            <div id="background">

                <div class="dropbtn">
                    {#<img src="{{ path }}images/{{ background['looks'][0]['look_url'] }}" class="object-icon">#}
                    <img src="http://fillmurray.com/65/65" class="object-icon">
                    <div class="object-meta">
                        <div class="object-meta-name">
                            <p>Object:</p>
                            <p>Looks:</p>
                            <p>Scritps:</p>
                            <p>Sounds:</p>
                        </div>
                        <div class="object-meta-value">
                            <p>{{ background['name'] }}</p>
                            <p>{{ background['looks']|length }}</p>
                            <p>{{ background['scripts']|length }}</p>
                            <p>{{ background['sounds']|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="dropdown-content">
                    {% for script in background['scripts'] %}
                        <div class="script">
                            {{ script.execute }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if object_list is not empty %}

            <div id="object-list-wrapper">
                <p class="heading">OBJECTS</p>

                {% for code_object in object_list %}

                    <div class="object">
                        <div class="dropbtn">
                            {#<img src="{{ path }}images/{{ code_object['looks'][0]['look_url'] }}" class="object-icon">#}
                            <img src="http://fillmurray.com/65/65" class="object-icon">
                            <div class="object-meta">
                                <div class="object-meta-name">
                                    <p>Object:</p>
                                    <p>Looks:</p>
                                    <p>Scritps:</p>
                                    <p>Sounds:</p>
                                </div>
                                <div class="object-meta-value">
                                    <p>{{ code_object['name'] }}</p>
                                    <p>{{ code_object['looks']|length }}</p>
                                    <p>{{ code_object['scripts']|length }}</p>
                                    <p>{{ code_object['sounds']|length }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            {% for script in code_object['scripts'] %}
                                <div class="script">
                                    {{ script.execute }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <div id="no-objects-note">
                <p>This Program doesn't contain any objects.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $(".dropbtn").click(function() {
                $(this).next().toggleClass('show');
            });
        });
    </script>
{% endblock %}
