{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1 id="profile-edit-header">{{ 'myprofile.editCountry'|trans({}, 'catroweb') }}</h1>

  {% if not nolb_user and not app.user.limited %}
  <div id="change-country" class="edit-wrapper">
    <div id="select-country">
        <select name="country" tabindex="5">
          <option value=""></option>
          {% for key, country in  countriesList() %}
            {% if app.user.country == key %}
              <option value="{{ key }}" selected>{{ country }}</option>
            {% else %}
              <option value="{{ key }}">{{ country }}</option>
            {% endif %}
          {% endfor %}
        </select>
    </div>
    <button id="save-country" class="save-button">{{ 'profile.saveChanges'|trans({}, 'catroweb') }}</button>
  </div>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
  </script>
{% endblock %}