{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1 id="profile-edit-header">{{ 'myprofile.editEmail'|trans({}, 'catroweb') }}</h1>

  {% if not nolb_user and not app.user.limited %}
    <div id="change-email" class="edit-wrapper">
      <div class="panel panel-info">
        <div style="padding-top:30px" class="panel-body">

          <div class="hide text-email-notvalid alert alert-danger col-sm-12">{{ 'profile.form.emailNotValid'|trans({}, 'catroweb') }}</div>
          <div class="hide text-email-missing alert alert-danger col-sm-12">{{ 'profile.form.emailMissing'|trans({}, 'catroweb') }}</div>
          <div class="hide text-email-exists alert alert-danger col-sm-12">{{ 'profile.form.emailExists'|trans({}, 'catroweb') }}</div>

          <div id="form_fos" class="form-horizontal">

            <h4>{{ 'profile.firstEmail'|trans({}, 'catroweb') }}</h4>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" id="email" class="email-field form-control" name="_email" value="{{ app.user.email }}" tabindex="1">
            </div>

            <h4>{{ 'profile.secondEmail'|trans({}, 'catroweb') }}</h4>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" id="additional-email" class="email-field form-control" name="_additional-email" value="{{ app.user.additionalemail }}" tabindex="2">
            </div>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="save-email" class="btn btn-success save-button">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
  </script>
{% endblock %}