{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/index.css') }}" media="screen" />
  <link rel="stylesheet" href="{{ asset('css/plugins/sweetalert.css') }}" />
{% endblock %}

{% block body %}

  <div id="featuredPrograms">
    <h1>{{ "programs.featured"|trans({}, "catroweb") }}</h1>
    <div id="feature-slider" class="owl-carousel">
    {% for feature in featured %}
      <div><a href="{{ feature.url }}"><img src="{{ asset(feature.image) }}" /></a></div>
    {% endfor %}
    </div>
  </div>

  <div id="newest">
    <h1>{{ "programs.newest"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

  {% if not ("RU" in app.request.locale) and not ("ru" in app.request.locale) %}
    {# NOTE: A/B testing -> this section is NOT shown to Russian users at the moment #}
      <div id="recommended">
          <div class="help-headline">
              <h1 class="help-title">{{ "programs.recommended"|trans({}, "catroweb") }}</h1>
              <img class="help-icon" src="{{ asset('images/symbols/help_small.png') }}" alt="Help" title="Help"
                   data-help-title="{{ "indexPage.recommendedSection.info.title"|trans({}, "catroweb") }}"
                   {% if not ("DE" in app.request.locale) and not ("de" in app.request.locale) %}
                   data-help-description="{{ "indexPage.recommendedSection.info.description_B_VersionTest"|trans({}, "catroweb") }}"
                   {% else %}
                   data-help-description="{{ "indexPage.recommendedSection.info.description_C_VersionTest"|trans({}, "catroweb") }}"
                   {% endif %}
                   width="30" height="30" />
      </div>
      <div class="programs"></div>
    </div>
  {% endif %}

  <div id="mostDownloaded">
      <h1>{{ "programs.most.downloaded"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

  <div id="mostViewed">
      <h1>{{ "programs.most.viewed"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

  <div id="random">
    <h1>{{ "programs.random"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('./js/globalPlugins/owl.carousel.min.js') }}"></script>
  <script>
    var newest = new ProgramLoader('#newest', '{{ path('api_recent_programs') }}');
    var recommendedByPageId = {{ constant('Catrobat\\AppBundle\\RecommenderSystem\\RecommendedPageId::INDEX_PAGE') }};
    var recommended = new ProgramLoader('#recommended', '{{ path('api_recsys_general_programs') }}', undefined, undefined, recommendedByPageId);
    var mostDownloaded = new ProgramLoader('#mostDownloaded', '{{ path('api_most_downloaded_programs') }}');
    var mostViewed = new ProgramLoader('#mostViewed', '{{ path('api_most_viewed_programs') }}');
    var random = new ProgramLoader('#random', '{{ path('api_random_programs') }}')
    newest.init();
    recommended.init();
    mostDownloaded.init();
    mostViewed.init();
    random.init();

    $(document).on("click", ".program", function() {
      var clicked_program_id = this.id.replace("program-", "");
      this.className += " visited-program";
      var stored_visits = sessionStorage.getItem("visits");

      if(!stored_visits){
        var new_visits = [clicked_program_id];
        sessionStorage.setItem("visits", JSON.stringify(new_visits));
      }
      else{
        var parsed_visits = JSON.parse(stored_visits);
        if(!($.inArray(clicked_program_id, parsed_visits)>=0)){
          parsed_visits.push(clicked_program_id);
          sessionStorage.setItem("visits", JSON.stringify(parsed_visits));
        }
      }
    });

    $(document).one('click', ".homepage-recommended-programs", function(event) {
        event.preventDefault();

        var type = "rec_homepage";
        var href = $(this).attr('href');
        var recommendedProgramID = ((href.indexOf("program") > 0) ? (href.split("program")[1].match(/[0-9]+/))[0] : 0);

        $.ajaxSetup({ async: false });
        var params = { type: type, recFromID: 0, recID: recommendedProgramID, isScratchProgram: 0 };
        $.post("{{ path('click_stats') }}", params, function (data) {
            if (data == 'error')
                console.log("No click statistic is created!");
        }).fail(function (data) {
            console.log(data);
        });
        window.location.href = href;
    });

    $(document).on("click", ".help-icon", function() {
        swal({
                title: $(this).attr("data-help-title"),
                text: $(this).attr("data-help-description"),
                showCancelButton: false,
                confirmButtonText: "{{ "ok"|trans({}, "catroweb") }}",
                closeOnConfirm: true
            },
            function() {}
        );
    });

  </script>
{% endblock %}
