{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/licensetoplay.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1>{{ "licenseToPlay.title"|trans({}, "catroweb") }}</h1>
  <div class="standard-col-text size-large">
    <p>{{ "licenseToPlay.text1"|trans({}, "catroweb") }}</p>
    <p>{{ "licenseToPlay.text2"|trans({}, "catroweb") }}</p>
    <p>
      <b>{{ "licenseToPlay.text3"|trans({}, "catroweb") }}</b>
      <ul>
        <li>{{ "licenseToPlay.list1.item1"|trans({}, "catroweb") }}</li>
        <li>{{ "licenseToPlay.list1.item2"|trans({}, "catroweb") }}</li>
      </ul>
    </p>
    <p>{{ "licenseToPlay.text4"|trans({}, "catroweb") }}</p>
    <p>{{ "licenseToPlay.text5"|trans({}, "catroweb") }}</p>
    <p>{{ "licenseToPlay.text6"|trans({'%link-termsOfUse%': '<a class="standard-article-link" href="' ~ url('termsOfUse') ~ '">' ~ url('termsOfUse') ~ '</a>'}, "catroweb")|raw }}
    <p>{{ "licenseToPlay.version"|trans({}, "catroweb") }}</p>
  </div>
{% endblock %}

