{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  {% for category in categories %}
    <div>
      <h1>{{ category.name }}</h1>
      <div class="programs">

        {% for file in category.files %}
          {% set sound = getMediaPackageSoundUrl(file.data) %}
          {% set image = getMediaPackageImageUrl(file.data) %}
          <div class="program mediafile-{{ file.id }}">

            <a href="{{ file.downloadUrl }}" onclick="onDownload(this)">
            {% if image %}
            <div>
              <img src="{{ asset(image) }}">
            </div>
              {% if file.data.author %}
                <div>
                  {{ 'remixGraph.by'|trans({}, 'catroweb') }} <b>{{ file.data.author }}</b>
                </div>
              {% endif %}
            {% endif %}

            {% if sound %}
            <div>
              <audio controls>
                <source src="{{ asset(sound) }}" type="audio/mpeg">

                <object>
                  <param name="autostart" value="false">
                  <param name="src" value="{{ sound }}">
                  <param name="autoplay" value="false">
                  <param name="controller" value="true">
                  <embed src="{{ asset(sound) }}" controller="true" autoplay="false" autostart="false" type="audio/mpeg"></embed>
                  Update your Browser
                </object>
              </audio>
            </div>
            <div>
              <b>{{ file.data.name }}</b>
            </div>
                {% if file.data.author %}
                  <div>
                    {{ 'remixGraph.by'|trans({}, 'catroweb') }} <b>{{ file.data.author }}</b>
                  </div>
                {% endif %}
              <div>
              Download
            </div>
            {% endif %}
            </a>

          </div>
        {% endfor %}

      </div>
    </div>
    <br>
  {% endfor %}

{% endblock %}

{% block js %}
  <script>
    function onDownload(link) {
      if(link.href != 'javascript:void(0)') {
        var download_href = link.href;
        link.href = 'javascript:void(0)';

        setTimeout(function() {
          link.href = download_href;
        }, 5000);

        window.location = download_href;
      }
      return false;
    }
  </script>
{% endblock %}
