{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1 id="profile-edit-header">{{ 'myprofile.editProfile'|trans({}, 'catroweb') }}</h1>

  {% if not nolb_user and not app.user.limited %}

    <div class="container-fluid" style="width:100%">
      <div id="profile-edit-box" style="margin-top:50px;" class="mainbox col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <ul class="list-group">
            <li class="list-group-item">
              <div id="profile-avatar">
                <div>
                  <button id="avatar-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                </div>
                <img width="300" height="300" src="{% if app.user.avatar is not empty %}{{ app.user.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}">
              </div>
            </li>

            <li class="list-group-item">
              <div id="country-information">
                <button id="country-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                <div class="information-header" id="country-header">{{ 'country'|trans({}, 'catroweb') }}:</div>
                <div class="data" id="country-text"> {{ country }} </div>
              </div>
            </li>

            <li class="list-group-item">
              <div id="email-information">
                <button id="email-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                <div class="information-header" id="email-header">{{ 'myprofile.email'|trans({}, 'catroweb') }}:</div>
                <div class="data" id="email-text"> {{ firstMail }} </div>
                <div id="second-email-text"> {{ secondMail }} </div>
              </div>
            </li>

            <li class="list-group-item">
              <div id="password-information">
                <button id="password-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                <div class="information-header" id="password-header">{{ 'password'|trans({}, 'catroweb') }}:</div>
                <div class="data" id="password-placeholder">*********</div>
              </div>
            </li>
          </ul>

        </div>
        <button id="finished-button" class="btn btn-success btn-done">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
      </div>
    </div>
  {% endif %}

  {% if nolb_user and 'teacher' in app.user.username %}
    <div class="container-fluid" style="width:100%">
      <div id="profile-edit-box" style="margin-top:50px;" class="mainbox col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <ul class="list-group">
            <li class="list-group-item">
              <div id="password-information">
                <button id="password-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                <div class="information-header" id="password-header">{{ 'password'|trans({}, 'catroweb') }}:</div>
                <div class="data" id="password-placeholder">*********</div>
              </div>
            </li>
          </ul>
        </div>
        <button id="finished-button" class="btn btn-success btn-done">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
  </script>
{% endblock %}