{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/myprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1>{{ app.user.username }}</h1>

  <div id="profile-avatar">
    <div class="avatar-error text-avatar-toolarge">{{ 'profile.avatar.pictureTooLarge'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-uploadError">{{ 'profile.avatar.uploadError'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-noImage">{{ 'profile.avatar.noImage'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-noSupport">{{ 'profile.avatar.noSupport'|trans({}, 'catroweb') }}</div>
    <img width="300" height="300" src="{% if app.user.avatar is not empty %}{{ app.user.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}">
  </div>
  <div id="user-information">

    <div id="country-information">
      <div id="country-header">Land:</div>
      <div id="country"> {{ country }} </div>
    </div>

    <div id="email-information">
      <div id="email-header">E-Mail:</div>
      <div id="email"> {{ firstMail }} </div>
      <div id="second-email"> {{ secondMail }} </div>
    </div>
  </div>

  <div id="edit-icon">
    <a href="{{ url('profile_edit', {id : profile.id}) }}">
      <img src="{{ asset('images/default/edit.png') }}">
    </a>
  </div>

  <div class="clear"></div>
  {% if not app.user.limited %}
  <div id="myprofile-programs">
  {% else %}
  <div id="user-programs">
  {% endif %}
    <h1>{{ "profile.myPrograms"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    {% if not app.user.limited %}
    var programs = new ProgramLoader('#myprofile-programs', '{{ path('api_user_programs') }}');
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('name_save') }}', '{{ path('name_edit') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}',  '{{ path('profile_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
    programs.initProfile({{ app.user.id }});
    profile.init();
    {% else %}
    var programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}');
    programs.initProfile({{ app.user.id }});
    {% endif %}
  </script>
{% endblock %}