{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <div class="row my-5">
    <div class="col-md-12">
      <h1 id="profile-edit-header">{{ 'myprofile.editProfile'|trans({}, 'catroweb') }}</h1>
    </div>
    <div class="col-md-4 mx-auto">
      {% if not nolb_user and not app.user.limited %}


        <div id="profile-edit-box" style="margin-top:50px;" class="mainbox">
          <div class="panel panel-info">
            <ul class="list-group">
              <li class="list-group-item">
                <div id="profile-avatar">
                  <div class="row">
                    <div class="col-6 my-auto">
                      <img width="300" height="300" src="{% if app.user.avatar is not empty %}{{ app.user.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}">
                    </div>
                    <div class="col-6 my-auto">
                      <button id="avatar-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div id="country-information">
                  <button id="country-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                  <div class="information-header" id="country-header">{{ 'country'|trans({}, 'catroweb') }}:</div>
                  <div class="data" id="country-text"> {{ country }} </div>
                </div>
              </li>

              <li class="list-group-item">
                <div id="email-information">
                  <button id="email-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                  <div class="information-header" id="email-header">{{ 'myprofile.email'|trans({}, 'catroweb') }}:</div>
                  <div class="data" id="email-text"> {{ firstMail }} </div>
                  <div id="second-email-text"> {{ secondMail }} </div>
                </div>
              </li>

              <li class="list-group-item">
                <div id="password-information">
                  <button id="password-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                  <div class="information-header" id="password-header">{{ 'password'|trans({}, 'catroweb') }}:</div>
                  <div class="data" id="password-placeholder">*********</div>
                </div>
              </li>

              <li class="list-group-item">
                <div id="delete-information">
                  <button id="delete-button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">{{ 'myprofile.deleteAccount'|trans({}, 'catroweb') }}</button>
                </div>
              </li>
            </ul>

          </div>
          <button id="finished-button" class="btn btn-success btn-done">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
        </div>

      {% endif %}

      {% if nolb_user and 'teacher' in app.user.username %}
        <div id="profile-edit-box" style="margin-top:50px;" class="mainbox col-md-4 mx-auto">
          <div class="panel panel-info">
            <ul class="list-group">
              <li class="list-group-item">
                <div id="password-information">
                  <button id="password-button" class="btn btn-info btn-edit">{{ 'myprofile.edit'|trans({}, 'catroweb') }}</button>
                  <div class="information-header" id="password-header">{{ 'password'|trans({}, 'catroweb') }}:</div>
                  <div class="data" id="password-placeholder">*********</div>
                </div>
              </li>
            </ul>
          </div>
          <button id="finished-button" class="btn btn-success btn-done">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
        </div>
      {% endif %}
    </div>

  </div>


  <div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ 'myprofile.deleteAccount'|trans({}, 'catroweb') }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ 'myprofile.deleteAccountText'|trans({}, 'catroweb') }}</p>
        </div>
        <div class="modal-footer">
          <button id="delete-account-yes" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button class="btn btn-info" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}',
        '{{ path('profile_delete_account') }}');
  </script>
{% endblock %}