{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/myprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12">
      <h1>{{ app.user.username }}</h1>
    </div>
    <div class="col-3 col-md-3">
      <div id="profile-avatar">
        <div class="avatar-error text-avatar-toolarge">{{ 'profile.avatar.pictureTooLarge'|trans({}, 'catroweb') }}</div>
        <div class="avatar-error text-avatar-uploadError">{{ 'profile.avatar.uploadError'|trans({}, 'catroweb') }}</div>
        <div class="avatar-error text-avatar-noImage">{{ 'profile.avatar.noImage'|trans({}, 'catroweb') }}</div>
        <div class="avatar-error text-avatar-noSupport">{{ 'profile.avatar.noSupport'|trans({}, 'catroweb') }}</div>
        <img width="300" height="300" src="{% if app.user.avatar is not empty %}{{ app.user.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}">
      </div>
    </div>
    <div class="col-6 col-md-4 mt-2">
        <div id="user-information">
          <div id="country-information">
            <div id="country-header">{{ 'country'|trans({}, 'catroweb') }}:</div>
            <div id="country"> {{ country }} </div>
          </div>

          <div id="email-information">
            <div id="email-header">{{ 'myprofile.email'|trans({}, 'catroweb') }}:</div>
            <div id="email"> {{ firstMail }} </div>
            <div id="second-email"> {{ secondMail }} </div>
          </div>
        </div>
    </div>

    <div class="col-2 col-md-1 ml-auto mt-2">
        {% if (not nolb_user and not app.user.limited) or (nolb_user and 'teacher' in app.user.username) %}
        <div id="edit-icon">
          <a href="{{ url('profile_edit') }}"
            data-toggle="tooltip" title="{{ 'profile.edit'|trans({}, 'catroweb') }}">
            <span><i class="material-icons">edit</i></span>
          </a>
        </div>
        {% endif %}
    </div>
  </div>


  <div class="clear mt-4"></div>
  {% if not app.user.limited %}
  <div id="myprofile-programs">
  {% else %}
  <div id="user-programs">
  {% endif %}
    <h1>{{ "profile.myPrograms"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

  <div id="program-cannot-be-toggled">
    <h3>Can not change visibility</h3>
    <p>The language version of your program is too high and thus it can not be set to visible.</p>
    <button id="close-toggled-popup">Ok</button>
  </div>

  <div class="clear"></div>
  <h1>{{ "profile.follows"|trans({}, "catroweb") }} ({{ app.user.following|length }})</h1>
  <div id="list-follows"></div>

  <div class="clear"></div>
  <h1>{{ "profile.follower"|trans({}, "catroweb") }} ({{ app.user.followers|length }})</h1>
  <div id="list-follower"></div>

{% endblock %}

{% block js %}
  <link rel="stylesheet" href="{{ asset('css/plugins/sweetalert.css') }}"/>
  <script src="{{ asset('js/globalPlugins/sweetalert.min.js') }}"></script>
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    let programs;
    {% if not app.user.limited %}
    programs = new ProgramLoader('#myprofile-programs', '{{ path('api_user_programs') }}');
    let profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
    programs.initProfile({{ app.user.id }});
    profile.init();
    {% else %}
    programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}');
    programs.initProfile({{ app.user.id }});
    {% endif %}
  </script>
  <script src="{{ asset('js/custom/ProfileLoader.js') }}"></script>
  <script>
    let follows = new ProfileLoader({{ app.user.id }} ,'{{ path('list_follow', { type: 'follows' }) }}', '{{ path('profile') }}', "#list-follows", '{{ asset('images/default/avatar_default.png') }}');
    follows.init();
    let follower = new ProfileLoader({{ app.user.id }} ,'{{ path('list_follow', { type: 'follower' }) }}', '{{ path('profile') }}', "#list-follower", '{{ asset('images/default/avatar_default.png') }}');
    follower.init();
  </script>
{% endblock %}