{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/myprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1>{{ app.user.username }}</h1>

  <div id="profile-avatar">
    <div class="avatar-error text-avatar-toolarge">{{ 'profile.avatar.pictureTooLarge'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-uploadError">{{ 'profile.avatar.uploadError'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-noImage">{{ 'profile.avatar.noImage'|trans({}, 'catroweb') }}</div>
    <div class="avatar-error text-avatar-noSupport">{{ 'profile.avatar.noSupport'|trans({}, 'catroweb') }}</div>
    <img width="300" height="300" src="{% if app.user.avatar is not empty %}{{ app.user.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}">
    {% if not app.user.limited %}
    <div id="avatar-upload">
      <div>
        <input type="file" name="file">
        <span>{{ 'profile.changePicture'|trans({}, 'catroweb') }}</span>
        <div class="button-show-ajax img-load-ajax"></div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if not app.user.limited %}
  <div id="profile-form">

    <form>
      <div>
        <div class="input-error text-password-nomatch">{{ 'passwordsNoMatch'|trans({}, 'catroweb') }}</div>
        <div class="input-error text-password-tooshort">{{ 'profile.form.passwordTooShort'|trans({'%length%':minPassLength}, 'catroweb') }}</div>
        <div class="input-error text-password-toolong">{{ 'profile.form.passwordTooLong'|trans({'%length%':maxPassLength}, 'catroweb') }}</div>
        <div class="input-error text-password-isusername">{{ 'profile.form.passwordIsUsername'|trans({}, 'catroweb') }}</div>
        {% if not oauth_user %}
          <div class="input-field">
            <input type="password" id="password" name="_password" placeholder="{{ 'profile.newPass'|trans({}, 'catroweb') }}" tabindex="1">
            <div class="img-password"></div>
          </div>
          <div class="input-field">
            <input type="password" id="repeat-password" name="_repeat-password" placeholder="{{ 'profile.repeatPass'|trans({}, 'catroweb') }}" tabindex="2">
            <div class="img-password"></div>
          </div>
        {% endif %}
        <div id="select-country">
          <div>{{ 'country'|trans({}, 'catroweb') }}</div>
          <div>
            <select name="country" tabindex="5">
              <option value=""></option>
              {% for key, country in  countriesList() %}
                {% if app.user.country == key %}
                  <option value="{{ key }}" selected>{{ country }}</option>
                {% else %}
                  <option value="{{ key }}">{{ country }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div>
        <div class="input-error text-email-notvalid">{{ 'profile.form.emailNotValid'|trans({}, 'catroweb') }}</div>
        <div class="input-error text-email-missing">{{ 'profile.form.emailMissing'|trans({}, 'catroweb') }}</div>
        <div class="input-error text-email-exists">{{ 'profile.form.emailExists'|trans({}, 'catroweb') }}</div>
        <div class="input-field">
          <input type="text" id="email" name="_email" placeholder="{{ 'profile.firstEmail'|trans({}, 'catroweb') }}" value="{{ app.user.email }}" tabindex="3">
          <div class="img-mail-first"></div>
        </div>
        <div class="input-field">
          <input type="text" id="additional-email" name="_additional-email" placeholder="{{ 'profile.secondEmail'|trans({}, 'catroweb') }}" value="{{ app.user.additionalemail }}" tabindex="4">
          <div class="img-mail-second"></div>
        </div>
        <div>
          <button type="submit" name="submit" class="btn btn-primary pull-right" tabindex="6">{{ 'profile.saveChanges'|trans({}, 'catroweb') }}</button>
          <div class="img-load-ajax"></div>
          <div id="submit-done">
            <div class="img-saved"></div>
            <span>{{ 'profile.form.submitSuccess'|trans({}, 'catroweb') }}</span>
          </div>
        </div>
      </div>
    </form>

  </div>
  {% endif %}
  <div class="clear"></div>
  {% if not app.user.limited %}
  <div id="myprofile-programs">
  {% else %}
  <div id="user-programs">
  {% endif %}
    <h1>{{ "profile.myPrograms"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    {% if not app.user.limited %}
    var programs = new ProgramLoader('#myprofile-programs', '{{ path('api_user_programs') }}');
    var profile = new MyProfile('{{ path('profile_save') }}', '{{ path('profile_delete_program') }}', '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
    programs.initProfile({{ app.user.id }});
    profile.init();
    {% else %}
    var programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}');
    programs.initProfile({{ app.user.id }});
    {% endif %}
    </script>
{% endblock %}