{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1 id="profile-edit-header">{{ 'myprofile.editPassword'|trans({}, 'catroweb') }}</h1>

  {% if (not nolb_user and not app.user.limited) or (nolb_user and 'teacher' in app.user.username) %}
    <div id="change-password" class="edit-wrapper">
      <div class="panel panel-info">
        <div style="padding-top:30px" class="panel-body">

          <div class="hide text-password-nomatch alert alert-danger col-sm-12">{{ 'passwordsNoMatch'|trans({}, 'catroweb') }}</div>
          <div class="hide text-password-tooshort alert alert-danger col-sm-12">{{ 'profile.form.passwordTooShort'|trans({'%length%':minPassLength}, 'catroweb') }}</div>
          <div class="hide text-password-toolong alert alert-danger col-sm-12">{{ 'profile.form.passwordTooLong'|trans({'%length%':maxPassLength}, 'catroweb') }}</div>
          <div class="hide text-password-isusername alert alert-danger col-sm-12">{{ 'profile.form.passwordIsUsername'|trans({}, 'catroweb') }}</div>
          <div class="hide text-password-wrongpassword alert alert-danger col-sm-12">{{ 'profile.form.passwordWrong'|trans({}, 'catroweb') }}</div>

          <div id="form_fos" class="form-horizontal">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" id="old-password" class="password-field form-control" name="_password" placeholder="old password" tabindex="1">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" id="password" class="password-field form-control" name="_password" placeholder="{{ 'profile.newPass'|trans({}, 'catroweb') }}" tabindex="2">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
              <input type="password" id="repeat-password" class="password-field form-control" name="_repeat-password" placeholder="{{ 'profile.repeatPass'|trans({}, 'catroweb') }}" tabindex="3">
            </div>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="save-password" class="btn btn-success save-button">{{ 'myprofile.done'|trans({}, 'catroweb') }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
  </script>
{% endblock %}