{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/editprofile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
  <h1 id="profile-edit-header">Passwort beenden</h1>

  <div id="change-password" class="edit-wrapper">
    <div class="input-error text-password-nomatch">{{ 'passwordsNoMatch'|trans({}, 'catroweb') }}</div>
    <div class="input-error text-password-tooshort">{{ 'profile.form.passwordTooShort'|trans({'%length%':minPassLength}, 'catroweb') }}</div>
    <div class="input-error text-password-toolong">{{ 'profile.form.passwordTooLong'|trans({'%length%':maxPassLength}, 'catroweb') }}</div>
    <div class="input-error text-password-isusername">{{ 'profile.form.passwordIsUsername'|trans({}, 'catroweb') }}</div>
    <div class="input-error text-password-wrongpassword">Falsches Passwort</div>
    <div class="input-field">
      <input type="password" id="old-password" name="_password" placeholder="old password" tabindex="1">
    </div>
    <div class="input-field">
      <input type="password" id="password" name="_password" placeholder="{{ 'profile.newPass'|trans({}, 'catroweb') }}" tabindex="2">
    </div>
    <div class="input-field">
      <input type="password" id="repeat-password" name="_repeat-password" placeholder="{{ 'profile.repeatPass'|trans({}, 'catroweb') }}" tabindex="3">
    </div>
    <button id="save-password" class="save-button">Änderungen speichern</button>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/MyProfile.js') }}"></script>
  <script>
    var profile = new MyProfile('{{ path('profile') }}', '{{ path('name_save') }}', '{{ path('name_edit') }}', '{{ path('email_edit') }}','{{ path('profile_edit') }}', '{{ path('avatar_edit') }}', '{{ path('password_edit') }}',
        '{{ path('country_edit') }}', '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}',  '{{ path('profile_save') }}', '{{ path('profile_delete_program') }}',
        '{{ path('profile_toggle_program_visibility') }}', '{{ 'profile.reallyDeleteProgram'|trans({}, 'catroweb') }}', '{{ path('profile_upload_avatar') }}');
  </script>
{% endblock %}