{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
<h1> {{ profile.username }} </h1>

<div id="user-avatar">
  <img id="user-image" src="{% if profile.avatar is not empty %}{{ profile.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"> </img>

  <div id="user-information">
    <p><strong>Amount of programs: {{ program_count }}</strong></p>
    <p><strong>Country: {{ country }}</strong></p>
  </div>
</div>
<div id="user-programs">
  <h1>{{ "profile.programsOf"|trans({}, "catroweb")  }} {{ profile.username }}</h1>
  <div class="programs"></div>
</div>

<div class="clear"></div>

{% endblock %}

{% block js %}
  <script>
    var programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}', 6);
    programs.initProfile('{{ profile.id }}');

    $(document).on("click", ".program", function() {
      var clicked_program_id = this.id.replace("program-", "");
      this.className += " visited-program";
      var stored_visits = sessionStorage.getItem("visits");

      if(!stored_visits){
        var new_visits = [clicked_program_id];
        sessionStorage.setItem("visits", JSON.stringify(new_visits));
      }
      else{
        var parsed_visits = JSON.parse(stored_visits);
        if(!($.inArray(clicked_program_id, parsed_visits)>=0)){
          parsed_visits.push(clicked_program_id);
          sessionStorage.setItem("visits", JSON.stringify(parsed_visits));
        }
      }

    });
  </script>
{% endblock %}
