{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}

{% block body %}
<h1> {{ profile.username }} </h1>

  {% if app.user.id != profile.id %}
    <div id="follow-icon">
      {% if profile.hasFollower(app.user) %}
        <a id="follow-btn" class="pull-right" href="{{ url('unfollow_user', { id : profile.id }) }}" data-toggle="tooltip" title="Unfollow this user!">
          <i class="fa fa-user-times"></i>
        </a>
      {% else %}
        <a id="follow-btn" class="pull-right" href="{{ url('follow_user', { id : profile.id }) }}" data-toggle="tooltip" title="Follow this user!">
          <i class="fa fa-user-plus"></i>
        </a>
      {% endif %}
    </div>
  {% endif %}

<div id="user-avatar">
  <img id="user-image" src="{% if profile.avatar is not empty %}{{ profile.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}" />
  <div id="user-information">
    <p><strong>Amount of programs: {{ program_count }}</strong></p>
    <p><strong>Followers: {{ follower_count }}</strong></p>
    <p><strong>Country: {{ country }}</strong></p>
  </div>
</div>
<div id="user-programs">
  <h1>{{ "profile.programsOf"|trans({}, "catroweb")  }} {{ profile.username }}</h1>
  <div class="programs"></div>
</div>

<div class="clear"></div>
<h1>{{ "profile.follower"|trans({}, "catroweb") }} ({{ profile.followers|length }})</h1>
<div id="list-follower"></div>

{% endblock %}

{% block js %}
  <script>
    var programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}', 6);
    programs.initProfile('{{ profile.id }}');

    $(document).on("click", ".program", function() {
      var clicked_program_id = this.id.replace("program-", "");
      this.className += " visited-program";
      var stored_visits = sessionStorage.getItem("visits");

      if(!stored_visits){
        var new_visits = [clicked_program_id];
        sessionStorage.setItem("visits", JSON.stringify(new_visits));
      }
      else{
        var parsed_visits = JSON.parse(stored_visits);
        if(!($.inArray(clicked_program_id, parsed_visits)>=0)){
          parsed_visits.push(clicked_program_id);
          sessionStorage.setItem("visits", JSON.stringify(parsed_visits));
        }
      }

    });
  </script>
  <script src="{{ asset('js/custom/ProfileLoader.js') }}"></script>
  <script>
      var follower = new ProfileLoader({{ profile.id }} ,'{{ path('list_follow', { type: 'follower' }) }}', '{{ path('profile') }}', "#list-follower", '{{ asset('images/default/avatar_default.png') }}');
      follower.init();
  </script>
{% endblock %}
