{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/program.css') }}" media="screen"/>
  <link href="/html5/player/pocketCodePlayer.css" rel="stylesheet" />
  <script src="/html5/player/pocketCodePlayer.js"></script>
  <meta property="og:image" content="{{ asset(program_details.screenshotBig, absolute=true) }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image:secure_url" content="{{ asset(program_details.screenshotBig, absolute=true) }}" />
  <meta property="og:title" content="{{ program.name|escape('html_attr') }}" />
  {% if program.description is empty %}
    <meta property="og:description" content="{{ "programs.checkout_this_program"|trans({}, "catroweb") }}" />
  {% else %}
    <meta property="og:description" content="{{ program.description|escape('html_attr') }}" />
  {% endif %}
  <meta property="og:url" content="{{ url('program', {id: program.id}) }}" />
{% endblock %}

{% block body %}

  <div id="program-top" class="h1">
    <div id="program-name">{{ program.name }}</div>
    <div id="program-user">
      <span class="img-author"></span>
      <a href="{{ url('profile', { id : program.user.id }) }}">{{ program.user }}</a>
    </div>
    <div class="clear"></div>
  </div>

  <div id="program-middle">
    <div id="image" class="image-container">
      <a id="url-image" href="{% if (checkCatrobatLanguage(program_details.languageVersion)) %}{{ program_details.downloadUrl }}{% else %}javascript:program.showUpdateAppPopup();{% endif %}">
        <img width="300" height="300" id="screenshot" src="{{ asset(program_details.screenshotBig) }}">
      </a>
    </div>
    <div id="info">
      <h2>{{ "description"|trans({}, "catroweb") }}</h2>

      <div id="description">
        {% if program.description %}
          {{ program.description|nl2br }}
        {% else %}
          {{ "noDescription"|trans({}, "catroweb") }}
        {% endif %}
      </div>

{#      {% if  program.tags|length > 0 %}
        <div id="tag-extionsion-container">
          <div id="tags-text">{{ ("tag-text")|trans({}, "catroweb") }}:</div>
          <div id='tags'>
            {% for tag in program.tags %}
              <a href="{{ url('tag_search', { q : tag.id }) }}">
                <button id={{ tag.en }} class="btn-tags"> {{ ("tags.constant.tag"~tag.id)|trans({}, "catroweb") }}</button>
              </a>
            {% endfor %}
          </div>

        </div>
      {% endif %}#}

      <div class="download-container">
        <a id="url-download" href="{% if (checkCatrobatLanguage(program_details.languageVersion)) %}{{ program_details.downloadUrl }}{% else %}javascript:program.showUpdateAppPopup();{% endif %}">
          <button id="download" class="btn btn-primary download-button">
            <table>
              <tr>
                <td><img src="{{ asset('images/symbols/download.svg') }}" > </td>
                <td>{{ "download"|trans({}, "catroweb") }}</td>
              </tr>
            </table>
          </button>
        </a>

        <button id="apk-generate" class="btn btn-apk download-button">
          <table>
            <tr>
              <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
              <td>{{ "apk.prepare"|trans({}, "catroweb") }}</td>
            </tr>
          </table>
        </button>

        <div id="apk-pending" class="btn-apk pending-container">
          <button  class="btn download-button download-pending">
            <table>
              <tr>
                <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
                <td>{{ "apk.preparing"|trans({}, "catroweb") }}</td>
              </tr>
            </table>
          </button>
          <img class="pending-icon" src="{{ asset('images/symbols/loading.gif') }}" >
        </div>

        <button id="apk-download" class="btn btn-apk download-button">
          <table>
            <tr>
              <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
              <td>{{ "apk.download"|trans({}, "catroweb") }}</td>
            </tr>
          </table>
        </button>

      </div>

      {% if not program.gamejam or not program.acceptedforgamejam %}
        {% set jam = getCurrentGameJam() %}

        {% if jam %}
            {% if app.user %}
            <a href="{{ url('gamejam_web_submit', { "id": program.id }) }}" title="{{ jam.name }}">
            {% else %}
            <a href="{{ url('login') }}" title="{{ jam.name }}">
            {% endif %}
        <button id="gamejam-submittion" class="btn btn-jam download-button">
          <table>
            <tr>
              <td><img src="{{ asset('images/symbols/jam_submit.png') }}" > </td>
              <td>{{ "gamejam.submit"|trans({}, "catroweb") }}</td>
            </tr>
          </table>
        </button>
        </a>
        {% endif %}
      {% endif %}
      <br>

      <table id="copy-link">
        <tr>
          <td><img src="{{ asset('images/symbols/link.svg') }}" > </td>
          <td>
            <span>Link</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
              <input name="copy-link" id="url-link" value="{{ url('program', { id : program.id }) }}">
          </td>
        </tr>
      </table>

      <div id="facebook-post-link">
        <a id="btn-facebook-post-link" target="_blank" href="#"><img src="{{ asset('images/social/FB-f-Logo__blue.png') }}" alt="Facebook Post Link"></a>
      </div>

      <p>
      <span id="report">{{ "programs.reportAsInappropriate"|trans({}, 'catroweb') }}</span>
      <br>
      {{ "programs.languageVersion"|trans({ "%languageVersion%" : program_details.languageVersion }, 'catroweb') }}
      </p>
    </div>
    <div class="clear"></div>
    <div id="report-container" class="size-large">
      {% if app.user %}
        {% if my_program %}
          {{ "programs.reportOwnProgram"|trans({}, "catroweb") }} ... LOL?
        {% elseif already_reported %}
          {{ "programs.reportAlready"|trans({}, "catroweb") }}
        {% else %}
          <span id="report-form">
            {{ "programs.reportDialogHeader"|trans({}, "catroweb") }}
            <br>
          <textarea id="reportReason" placeholder="{{ "programs.reportDialogReason"|trans({}, "catroweb") }}"></textarea>
          <br>
          <button id="report-cancel" class="btn-white">{{ "cancel"|trans({}, "catroweb") }}</button>
          <button id="report-report" class="btn-green">{{ "report"|trans({}, "catroweb") }}</button>
          </span>
          <span id="report-done">
            {{ "programs.reportDone"|trans({}, "catroweb") }}
          </span>
        {% endif %}
      {% else %}
        {% set loginText = "loginText"|trans({}, "catroweb") %}
        {{ "programs.reportLoginText"|trans({"%login%" : "<a href=\"" ~ url('login') ~ "\">" ~ loginText ~ "</a>"}, "catroweb")|raw }}
      {% endif %}
    </div>
  </div>

  <div id="program-bottom">
    <div id="icon-author">
      <div class="img-author-2 icon"></div>
      <a href="{{ url('profile', { id : program.user.id }) }}" class="icon-text">{{ program.user }}</a>
    </div>
    <div>
      <div class="img-age icon"></div>
      <span class="icon-text">{{ program_details.age }}</span>
    </div>
    <div>
      <div class="img-size icon"></div>
      <span class="icon-text">{{ program_details.filesize }} MB</span>
    </div>
    <div>
      <div class="img-downloads icon"></div>
      <span class="icon-text">{{ "programs.downloads"|trans({ '%downloads%' : program_details.downloads }, "catroweb") }}</span>
    </div>
    <div>
      <div class="img-views icon"></div>
      <span class="icon-text">{{ "programs.views"|trans({ '%views%' : program_details.views }, "catroweb") }}</span>
    </div>
  </div>

{% endblock %}


{% block js %}
  <script src="{{ asset('js/custom/Program.js') }}"></script>
  <script>
    var program = new Program('{{ path('ci_status', { 'id' : program.id }) }}', '{{ path('ci_build', { 'id' : program.id }) }}',
      '{{ 'apk.preparing'|trans({}, "catroweb") }}','{{ 'apk.text'|trans({}, "catroweb") }}','{{ asset('images/symbols/loading.gif') }}',
      '{{ 'programs.updateAppHeader'|trans({}, "catroweb") }}','{{ 'programs.updateAppText'|trans({}, "catroweb") }}',
      '{{ 'programs.btnClosePopup'|trans({}, "catroweb") }}', '{{ fb_post_link }}');
    program.getApkStatus();
    program.createLinks();
    program.setReportListener({{ program.id }}, '{{ path('catrobat_api_report_program') }}');
    program.generateFacebookPostLink();

    counter = 10;

    $('.show-more-button').click(function() {
      counter += 10;

      for(var i = counter - 10; i < counter && i < {{ (program_details.commentsLength) }}; i++)
      {
        $('.single-comment.hidden').first().removeClass("hidden");
      }
    });

    $(document).on("click", ".delete-button", function() {
      var pId = {{ program_details.id }};
      var commentId = $(this).data('commentid');
      $.ajax({
        url:"../delete",
        type: "get",
        data:{ProgramId: pId, CommentId: commentId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else if (data == "no_admin"){
            alert("You have no admin rights. Please Log in as an Admin");
          }
          else {
            $('#comments-wrapper').load(' #comments-wrapper');
            $('.msg').val("");
          }
        },
        error: function(data) {
          //alert(data);
          alert("something went terribly wrong");
        }});
    });

    $('.post-button').click(function() {
      var msg = $('.msg').val();
      var pId = {{ program_details.id }};
      $.ajax({
        url: "../comment",
        type: "post",
        data:{Message: msg, ProgramId: pId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else
          {
            $('#comments-wrapper').load(' #comments-wrapper');
            $('.msg').val("");
          }
        },
        error: function() {
          alert("something went terribly wrong");
        }});
    });

    $(document).on("click", ".report-button", function() {
      var commentId = $(this).data('commentid');
      var pId = {{ program_details.id }};
      $.ajax({
        url:"../report",
        type: "get",
        data:{ProgramId: pId, CommentId: commentId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else {
            alert(data);
          }
        },
        error: function(data) {
          //alert(data);
          alert("something went terribly wrong");
        }});
    });

  </script>
{% endblock %}