{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/program.css') }}" media="screen"/>
  <link href="/html5/player/pocketCodePlayer.css" rel="stylesheet" />
  <script src="/html5/player/pocketCodePlayer.js"></script>
  <script src=" {{  asset( getJavascriptPath('loginscript.js') )}}"></script>

  <meta property="og:image" content="{{ asset(program_details.screenshotBig, absolute=true) }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image:secure_url" content="{{ asset(program_details.screenshotBig, absolute=true) }}" />
  <meta property="og:title" content="{{ program.name|escape('html_attr') }}" />
  {% if program.description is empty %}
    <meta property="og:description" content="{{ "programs.checkout_this_program"|trans({}, "catroweb") }}" />
  {% else %}
    <meta property="og:description" content="{{ program.description|escape('html_attr') }}" />
  {% endif %}
  <meta property="og:url" content="{{ url('program', {id: program.id}) }}" />
{% endblock %}

{% block body %}

  <div id="program-top" class="h1">
    <div id="program-name">{{ program.name }}</div>
    <div id="program-user">
      <span class="img-author"></span>
      <a href="{{ url('profile', { id : program.user.id }) }}">{{ program.user }}</a>
    </div>
    <div class="clear"></div>
  </div>

  <div id="program-middle">
      <div id="image" class="image-container">
        <a id="url-image" class="url-image" href="{% if (checkCatrobatLanguage(program_details.languageVersion)) %}{{ program_details.downloadUrl }}{% else %}javascript:program.showUpdateAppPopup();{% endif %}">
          <img id="img-screenshot" width="300" height="300" id="screenshot" src="{{ asset(program_details.screenshotBig) }}">
        </a>
        {% if not isWebview() %}
          {% include ':social:social_share_desktop.html.twig' %}
        {% endif %}
      </div>

    <div id="info">
      <h2>{{ "description"|trans({}, "catroweb") }}</h2>

      <div id="description">
        {% if program.description %}
          {{ program.description|nl2br }}
        {% else %}
          {{ "noDescription"|trans({}, "catroweb") }}
        {% endif %}
      </div>

      {% if  program.tags|length > 0  or program.extensions|length > 0 %}
        <div id="tag-extension-container">

          {% if program.extensions|length > 0 %}
            <div id="extension-container">
              <div class="tags-extensions-text">{{ ("extenstion-text")|trans({}, "catroweb") }}:</div>
                <div class="tagext">
                  {% for extension in program.extensions %}
                    <a href="{{ url('extension_search', { q : extension.name }) }}">
                      <button id={{ extension.name }} class="btn-tags-extensions"> {{ extension.name }}</button>
                    </a>
                  {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if  program.tags|length > 0 %}
            <div id="tag-container">
              <div class="tags-extensions-text">{{ ("tag-text")|trans({}, "catroweb") }}:</div>
              <div class='tagext'>
                {% for tag in program.tags %}
                  <a href="{{ url('tag_search', { q : tag.id }) }}">
                    <button id={{ tag.en }} class="btn-tags-extensions"> {{ ("tags.constant.tag"~tag.id)|trans({}, "catroweb") }}</button>
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}

        </div>
      {% endif %}

      <div class="download-container">
        <a id="url-download" href="{% if (checkCatrobatLanguage(program_details.languageVersion)) %}{{ program_details.downloadUrl }}{% else %}javascript:program.showUpdateAppPopup();{% endif %}">
          <button id="download" class="btn btn-primary download-button">
            <table>
              <tr>
                <td><img src="{{ asset('images/symbols/download.svg') }}" > </td>
                <td>{{ "download"|trans({}, "catroweb") }}</td>
              </tr>
            </table>
          </button>
        </a>

        <button id="apk-generate" class="btn btn-apk download-button">
          <table>
            <tr>
              <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
              <td>{{ "apk.prepare"|trans({}, "catroweb") }}</td>
            </tr>
          </table>
        </button>

        <div id="apk-pending" class="btn-apk pending-container">
          <button  class="btn download-button download-pending">
            <table>
              <tr>
                <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
                <td>{{ "apk.preparing"|trans({}, "catroweb") }}</td>
              </tr>
            </table>
          </button>
          <img class="pending-icon" src="{{ asset('images/symbols/loading.gif') }}" >
        </div>

        <button id="apk-download" class="btn btn-apk download-button">
          <table>
            <tr>
              <td><img src="{{ asset('images/symbols/apk_download.svg') }}" > </td>
              <td>{{ "apk.download"|trans({}, "catroweb") }}</td>
            </tr>
          </table>
        </button>

      </div>

      {% if not program.gamejam or not program.acceptedforgamejam %}
        {% if jam %}
          {% if app.user %}
            <a href="{{ url('gamejam_web_submit', { "id": program.id }) }}" title="{{ jam.name }}">
          {% else %}
            <a href="{{ url('login') }}" title="{{ jam.name }}">
          {% endif %}
              <button id="gamejam-submittion" class="btn btn-jam download-button">
                <table>
                  <tr>
                    <td><img src="{{ asset( jam.logo_url ) }}" > </td>
                    <td>{{ "gamejam.submit"|trans({ '%gamejamname%' : jam.name}, "catroweb") }}</td>
                  </tr>
                </table>
              </button>
            </a>
        {% endif %}
      {% endif %}
      <br>

      <table id="copy-link">
        <tr>
          <td id="copy-link-image"></td>
          <td>
            <span>Link</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
              <input name="copy-link" id="url-link" value="{{ url('program', { id : program.id }) }}">
          </td>
        </tr>
      </table>

      <p>
      <span id="report">{{ "programs.reportAsInappropriate"|trans({}, 'catroweb') }}</span>
      <br>
      {{ "programs.languageVersion"|trans({ "%languageVersion%" : program_details.languageVersion }, 'catroweb') }}
      </p>
    </div>

    <div class="clear"></div>
    <div id="report-container" class="size-large">
      {% if app.user %}
        {% if my_program %}
          {{ "programs.reportOwnProgram"|trans({}, "catroweb") }} ... LOL?
        {% elseif already_reported %}
          {{ "programs.reportAlready"|trans({}, "catroweb") }}
        {% else %}
          <span id="report-form">
            {{ "programs.reportDialogHeader"|trans({}, "catroweb") }}
            <br>
          <textarea id="reportReason" placeholder="{{ "programs.reportDialogReason"|trans({}, "catroweb") }}"></textarea>
          <br>
          <button id="report-cancel" class="btn-white">{{ "cancel"|trans({}, "catroweb") }}</button>
          <button id="report-report" class="btn-green">{{ "report"|trans({}, "catroweb") }}</button>
          </span>
          <span id="report-done">
            {{ "programs.reportDone"|trans({}, "catroweb") }}
          </span>
        {% endif %}
      {% else %}
        {% set loginText = "loginText"|trans({}, "catroweb") %}
        {{ "programs.reportLoginText"|trans({"%login%" : "<a href=\"" ~ url('login') ~ "\">" ~ loginText ~ "</a>"}, "catroweb")|raw }}
      {% endif %}
    </div>
  </div>

  {% if isWebview() %}
    {% include ':social:social_share_mobile.html.twig' %}
  {% endif %}

  <div id="program-bottom">
    <div id="icon-author">
      <div class="img-author-2 icon"></div>
      <a href="{{ url('profile', { id : program.user.id }) }}" class="icon-text">{{ program.user }}</a>
    </div>
    <div>
      <div class="img-age icon"></div>
      <span class="icon-text">{{ program_details.age }}</span>
    </div>
    <div>
      <div class="img-size icon"></div>
      <span class="icon-text">{{ program_details.filesize }} MB</span>
    </div>
    <div>
      <div class="img-downloads icon"></div>
      <span class="icon-text">{{ "programs.downloads"|trans({ '%downloads%' : program_details.downloads }, "catroweb") }}</span>
    </div>
    <div>
      <div class="img-views icon"></div>
      <span class="icon-text">{{ "programs.views"|trans({ '%views%' : program_details.views }, "catroweb") }}</span>
    </div>
  </div>

  <div id="comment-successfully-reported">
    <h3>{{ 'programs.report_popup_header'|trans({}, 'catroweb') }}</h3>
    <p>{{ 'programs.report_popup'|trans({}, 'catroweb') }}</p>
    <button id="close-reported-popup">Ok</button>
  </div>

  <div id="program-comments">

    <p>{{ 'programs.comments'|trans({}, 'catroweb') }}</p>
    <div id="user-comment-wrapper">
      <textarea class="msg" style="width: 100%; height: 100px"></textarea>
      <button id="post-button" class="post-button">{{ 'programs.send'|trans({}, 'catroweb') }}</button>
    </div>

    <div id="comments-wrapper">
      {% for comment in program_details.comments|slice(0, 10) %}
        <div id="comment-{{ comment.id }}" class = "single-comment">
          <div class = "avatar-wrapper">
            <div class = "img-avatar"></div>
          </div>
          <div class = "comment-payload-wrapper">
            <div class = "name-date-wrapper">
              <div class = "usr-name">{{ comment.username }}</div>
              <div class = "date"> {{ comment.uploadDate.format('Y-m-d') }}</div>
              <button id="report-button-{{ comment.id }}" class="report-button" data-commentId="{{ comment.id }}">{{ 'programs.report'|trans({}, 'catroweb') }}</button>
              {% if  program_details.isAdmin  %}
                <button id="delete-button-{{ comment.id }}" class="delete-button" data-commentId="{{ comment.id }}">{{ 'programs.delete'|trans({}, 'catroweb') }}</button>
              {% endif %}
            </div>
            <div class = "comment-text">
              <p>{{ comment.text}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      {% for comment in program_details.comments|slice(10, program_details.comments|length) %}
        <div id="comment-{{ comment.id }}" class = "single-comment hidden">
          <div class = "avatar-wrapper">
            <div class = "img-avatar"></div>
          </div>
          <div class = "comment-payload-wrapper">
            <div class = "name-date-wrapper">
              <div class = "usr-name">{{ comment.username }}</div>
              <div class = "date"> {{ comment.uploadDate.format('Y-m-d') }}</div>
              <button id="report-button-{{ comment.id }}" class="report-button" data-commentId="{{ comment.id }}">{{ 'programs.report'|trans({}, 'catroweb') }}</button>
              {% if  program_details.isAdmin  %}
                <button id="delete-button-{{ comment.id }}" class="delete-button" data-commentId="{{ comment.id }}">{{ 'programs.delete'|trans({}, 'catroweb') }}</button>
              {% endif %}
            </div>
            <div class = "comment-text">
              <p>{{ comment.text}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class = "show-more">
        <button id="show-more-button" {% if program_details.comments|length < 10 %} style="display: none" {% endif %}>{{ 'programs.show_more'|trans({}, 'catroweb') }}</button>
      </div>
    </div>
  </div>
  {% if isWebview() %}
    {% include ':social:social_like_program_bottom.html.twig' %}
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/Program.js') }}"></script>
  <script>
    var program = new Program('{{ path('ci_status', { 'id' : program.id }) }}', '{{ path('ci_build', { 'id' : program.id }) }}',
      '{{ 'apk.preparing'|trans({}, "catroweb") }}','{{ 'apk.text'|trans({}, "catroweb") }}','{{ asset('images/symbols/loading.gif') }}',
      '{{ 'programs.updateAppHeader'|trans({}, "catroweb") }}','{{ 'programs.updateAppText'|trans({}, "catroweb") }}',
      '{{ 'programs.btnClosePopup'|trans({}, "catroweb") }}');
    program.getApkStatus();
    program.createLinks();
    program.setReportListener({{ program.id }}, '{{ path('catrobat_api_report_program') }}');


    counter = 10;

    $(document).on("click", "#show-more-button", function() {

      counter += 10;
      for(var i = counter - 10; i < counter; i++)
      {
        $('.single-comment.hidden').first().removeClass("hidden");
      }
      if(!$('.single-comment.hidden').length){
        $('.show-more').hide();
      }
    });

    $(document).on("click", "#close-reported-popup", function() {
      $('#comment-successfully-reported').hide();
    });

    $(document).on("click", ".delete-button", function() {
      var pId = {{ program_details.id }};
      var commentId = $(this).data('commentid');
      $.ajax({
        url:"../delete",
        type: "get",
        data:{ProgramId: pId, CommentId: commentId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else if (data == "no_admin"){
            alert("You have no admin rights. Please Log in as an Admin");
          }
          else {
            $('#comments-wrapper').load('#comments-wrapper');
            $('.msg').val("");
          }
        },
        error: function(data) {
          //alert(data);
          alert("something went terribly wrong");
        }});
    });

    $(document).on("click", ".post-button", function() {
      var msg = $('.msg').val();
      var pId = {{ program_details.id }};
      $.ajax({
        url: "../comment",
        type: "post",
        data:{Message: msg, ProgramId: pId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else
          {
            $('#comments-wrapper').load(' #comments-wrapper');
            $('.msg').val("");
          }
        },
        error: function() {
          alert("something went terribly wrong");
        }});
    })

    $(document).on("click", ".report-button", function() {
      var commentId = $(this).data('commentid');
      var pId = {{ program_details.id }};
      $.ajax({
        url:"../report",
        type: "get",
        data:{ProgramId: pId, CommentId: commentId},
        success: function(data) {
          if (data == "log_in")
            window.location.href = "../login";
          else {
            $('#comment-successfully-reported').show();
          }
        },
        error: function(data) {
          alert("something went terribly wrong");
        }});
    });

  </script>
{% endblock %}