{% extends ':Default:base.html.twig' %}

{% block head %}
    {% stylesheets 'css/custom/program.less' filter='cssrewrite,lessphp' output='compiled/program.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="projectDetailsHeader">
        <div>
            <span id="projectDetailsProjectTitle">{{ program.name }}</span>
            <div class="projectDetailsAuthorTop">
                <ul>
                    <li>
                        <div class="img-author"></div>
                        <div class="link-author">
                            <a href="{{ url('profile', { id : program.user.id, flavor: app.request.attributes.get('flavor') }) }}">{{ program.user }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="projectDetailsContainer">
        <div class="projectDetailsThumbnail">
            <a href="{{ program_details.downloadUrl }}">
                <img id="projectDetailsThumbnailImage" src="{{ asset(program_details.screenshotBig) }}" />
            </a>
        </div>

        <div class="projectDetailsDescription">
            <div>
                <span class="projectDetailsDescriptionHeading">{{ "programs.description"|trans({}, 'catroweb') }}</span>
            </div>

            <div class="projectDetailsDescriptionText">
                <span>{{ program.description }}</span>

                <div class="projectDetailsDownloadButton">
                    <a style="text-decoration: none;" href="{{ program_details.downloadUrl }}">
                        <div class="blue">
                            <span class="projectDetailsDownloadText shrinkTextToFit" style="font-size: 25px;">{{ "programs.download"|trans({}, 'catroweb') }}</span>
                        </div>
                    </a>
                </div>
                <span id="reportAsInappropriateButton">{{ "programs.reportAsInappropriate"|trans({}, 'catroweb') }}</span>
                <br>
              <span id="projectDetailsDownloadLanguageVersion">{{ "programs.languageVersion"|trans({ "%languageVersion%" : program_details.languageVersion }, 'catroweb') }}</span>
            </div>
        </div>

        <div id="projectDetailsReportContainer">

            <div id="reportAsInappropriateDialog" class="reportAsInappropriateDialog" style="display: none;">
              {% if app.user != null %}
                <form method="POST" class="reportInappropriateForm">
                  <p>{{ "programs.reportDialogHeader"|trans({}, "catroweb") }}</p>
                  <input id="reportInappropriateProjectId" type="hidden" value="{{ program.id }}">
                  <p>
                    <textarea id="reportInappropriateReason" class="reportInappropriateReason" name="flagReason" placeholder="{{ "programs.reportDialogReason"|trans({}, "catroweb") }}" required="required"></textarea>
                  </p>
                  <p class="reportAsInappropriateDialogButtons">
                    <input id="reportInappropriateCancelButton" type="button" class="buttonWhite buttonSmall" value="{{ "programs.reportDialogCancel"|trans({}, "catroweb") }}">
                    <input id="reportInappropriateReportButton" type="button" class="buttonGreen buttonSmall" value="{{ "programs.reportDialogConfirm"|trans({}, "catroweb") }}">
                  </p>
                  </form>
              {% else %}
                {{ "programs.reportLoginText"|trans( { '%href1%' : "<a href=" ~ url( 'login', { flavor : app.request.attributes.get('flavor') } ) ~ ">", '%href2%' : "</a>" }, 'catroweb' )|raw }}
              {% endif %}
            </div>

            <div id="reportAsInappropriateAnswer" style="display: none;"></div>

        </div>

        <div class="projectDetailsSeperator">
        </div>

        <div class="projectDetailsInformation">
            <ul>
                <li>
                    <div class="img-age"></div>
                    <div class="projectDetailsInformationText">
                        {{ "programs.age"|trans({ '%age%' : program_details.age }, "catroweb") }}
                    </div>
                </li>
                <li>
                    <div class="img-size"></div>
                    <div class="projectDetailsInformationText">
                        {{ "programs.size"|trans({ '%size%' : program_details.filesize }, "catroweb") }}
                    </div>
                </li>
                <li>
                    <div class="img-downloads"></div>
                    <div class="projectDetailsInformationText">
                        {{ "programs.downloads"|trans({ '%downloads%' : program_details.downloads }, "catroweb") }}
                    </div>
                </li>
                <li>
                    <div class="img-views"></div>
                    <div class="projectDetailsInformationText">
                        {{ "programs.views"|trans({ '%views%' : program_details.views }, "catroweb") }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block js %}
  <script>
    $("#reportAsInappropriateDialog").toggle(false);
    $("#reportAsInappropriateAnswer").toggle(false);

    $("#reportAsInappropriateButton").click(function() {
      $("#reportAsInappropriateAnswer").toggle(false);
      $("#reportAsInappropriateDialog").toggle();
    });

    $("#reportInappropriateCancelButton").click(function() {
      $("#reportAsInappropriateDialog").toggle(false);
    });

    $("#reportInappropriateReportButton").click(
      $.proxy(reportInappropriateSubmit, this)
    );

    $("#reportInappropriateReason").keypress(
      $.proxy(reportInappropriateCatchKeypress, this)
    );

    function reportInappropriateCatchKeypress(event) {
      if(event.which == '13') {
        event.preventDefault();
        reportInappropriateSubmit();
      }
    }

    function reportInappropriateSubmit() {
      $("#reportInappropriateReportButton").attr('disabled', true);
      $("#reportInappropriateReason").attr('disabled', true);

      var url = '/api/reportProgram/reportProgram.json';
      $.post(url, {
        program : $("#reportInappropriateProjectId").val(),
        note : $("#reportInappropriateReason").val()
      }, $.proxy(reportInappropriateSuccess, this), "json");
    }

    function reportInappropriateSuccess(response) {
      $("#reportAsInappropriateAnswer").toggle(true);
      $("#reportAsInappropriateAnswer").html(response.answer);

      if(response.statusCode == 200) {
        $("#reportAsInappropriateDialog").toggle(false);
      }  else {
        $("#reportAsInappropriateDialog").toggle(false);
        $("#reportInappropriateReportButton").attr('disabled', false);
        $("#reportInappropriateReason").attr('disabled', false);
      }
    }

    window.onresize = $.proxy(function(){
      $.proxy(resizeColumnsAndText(), this);
    }, this);

    window.onload = $.proxy(function(){
      $.proxy(resizeColumnsAndText(), this);
    }, this);

    function resizeColumnsAndText() {
      resizeText($(".shrinkTextToFit"));
      resizeColumns();
    }

    function resizeColumns() {
      var colThumbnail       = $(".projectDetailsThumbnail");
      var colDescription     = $(".projectDetailsDescription");
      var cssMediaQueryWidth = 800; /* defined in details.css (media query for single column layout) */

      if(!$('body').width() > cssMediaQueryWidth) {
        colThumbnail.css("height", "auto");
        colDescription.css("height", "auto");
      }
    }

    function resizeText(elem) {

      while(elem.width() > elem.parent().width()-20) {
        var fontsize = parseFloat(elem.css('font-size')) - 2.0;
        elem.css('font-size', parseFloat(fontsize) + "px" );
      }

      while(elem.width() < elem.parent().width() - 60) {
        var fontsize = parseFloat(elem.css('font-size')) + 2.0;
        elem.css('font-size', parseFloat(fontsize) + "px" );
      }
    }

  </script>
{% endblock %}