{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/search.css') }}" media="screen"/>
{% endblock %}

{% block body %}


  <div id="search-results">
    <h1>{{ "search.results"|trans({}, "catroweb") }}</h1>
    <div id="search-results-text">
      {{ "search.resultcount"|trans({'%count%': '<span></span>'}, "catroweb")|raw }}
    </div>
    <div class="programs"></div>
  </div>

{% endblock %}

{% block js %}
  <script>
    var search = new ProgramLoader('#search-results', '{{ path('api_search_programs') }}');
    /* var search_term = '{{ q }}';
    var search_terms = search_term.split(" ");
    for (var index = 0; index < search_terms.length; ++index) {
        search.repeatableSearch(search_terms[index]);
    }*/
    search.initSearch('{{ q }}');

    $('.input-search').val('{{ q }}');
  </script>
{% endblock %}
