{% extends 'Default/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/plugins/sweetalert.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/notifications.css') }}"/>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ "notifications"|trans({}, "catroweb") }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="notifications">
            {% for originalProgramId, data in unseenRemixesGrouped %}
                <div class="remixed-programs">
                    <div id="search-results-text">
                        <strong>
                            {{ "programs.newRemixesNotificationTitle"|transchoice(data.remixes|length, {
                                '%programName%' : data.originalProgramName,
                                '%remixes%' : data.remixes|length
                            }, "catroweb") }}
                        </strong>
                    </div>

                    <div class="programs">
                        {% for remixData in data.remixes %}
                            <div class="program" id="program-{{ remixData.remixProgramId }}" style="display:block;">
                                <a href="{{ url('see_user_notification', {
                                    'ancestor_id' : remixData.originalProgramId,
                                    'descendant_id' : remixData.remixProgramId
                                }) }}" class="notification-link">
                                    <div><img src="{{ remixData.thumbnail }}"></div>
                                    <div class="program-name"><b>{{ remixData.remixProgramName }}</b></div>
                                    <div><div class="img-time-small"></div>{{ remixData.age }}</div></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if catroUserNotifications|length > 0  %}
  <div id="notifications-summary">

    <div class="mt-3 mb-2 pb-0 mb-sm-5 pb-sm-3">

      <div class="notification-summary-left">
        <span id="total_amount_of_notifications" class="h4">
          {{ "catro-notifications.summary"|transchoice(catroUserNotifications|length, {"%amount%": catroUserNotifications|length}, "catroweb") }}
        </span>
      </div>

      <button id="mark-all-as-seen" class="btn btn-primary download-button notification-summary-right"><i class="fa fa-check" aria-hidden="true"></i>
        {{ "clearAllNotificationsButtonTitle"|trans({}, "catroweb") }}
      </button>
    </div>
    <hr>
  </div>
{% endif %}

<div id="notifications-container" class="row mt-4">
    {% for notification in catroUserNotifications %}
        <div class="col-md-12">
            {{ include(notification.getTwigTemplate) }}
        </div>
    {% endfor %}
</div>
<div class="clear"></div>

<div id="error" class="no-notifications-placeholder">
    <i class="fa fa-check fa-6" style="font-size:16em" aria-hidden="true"></i>
    <p><b>{{ "wellDone"|trans({}, "catroweb") }}</b><br />{{ "notificationsReadMessage"|trans({}, "catroweb") }}</p>
</div>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/custom/Notifications.js') }}"></script>
  <script>
    let notifications = new Notification({{ catroUserNotifications|length }},
      {{ unseenRemixesGrouped|length }}, "{{ url('catro_notification_mark_as_read') }}",
      "{{ url('user_notifications_seen') }}",
      "{{ "done"|trans({}, "catroweb") }}",
      "{{ "notificationsClearedMessage"|trans({}, "catroweb") }}",
      "{{ "somethingWentWrong"|trans({}, "catroweb") }}",
      "{{ "notificationsClearError"|trans({}, "catroweb") }}"
    );
    $(document).ready(function() {
      notifications.init();
    });

  </script>


{% endblock %}
