<div id="dialog-oauth-username" title="Pocket Code Website">
    <p class="dialog-oauth-username">{{ "oauth.username_header"|trans({}, "catroweb") }}</p>
    <p class="dialog-oauth-username">{{ "oauth.username_chooser"|trans({}, "catroweb") }}</p>
    <input type="text" id="dialog_oauth_username_input">
    <p class="dialog-oauth-username">{{ "oauth.username_hint"|trans({}, "catroweb") }}</p>
    <input type="hidden" id="fb_google">
    <div id="error_username_taken" class="error-text" >
        {{ "oauth.usernameTaken"|trans({}, "catroweb") }}
    </div>
    <p class="dialog-oauth-username"><button id="btn_oauth_username">{{ "ok"|trans({}, "catroweb") }}</button></p>
</div>

<form id ="form_oauth" action="{{ path("fos_user_security_check") }}" method="post">

    {% if csrf_token is defined %}
        <input type="hidden" id = "csrf_token_oauth" name="_csrf_token" value="{{ csrf_token }}" />
    {% else %}
        <input type="hidden" id = "csrf_token_oauth" name="_csrf_token"/>
    {% endif %}
    <input type="hidden" id = "id_oauth" name="_id" />
    <input type="hidden" id = "email_oauth" name="_email" />
    <input type="hidden" id = "locale_oauth" name="_locale" />
    <input type="hidden" id = "username_oauth" name="_username" />
    <input type="hidden" id = "access_token_oauth" name="_access_token" />
    <input type="hidden" id = "gplus_approval_prompt" value="auto" />
    <input type="hidden" id = "facebook_auth_type" value=""/> <!-- can be set to reauthenticate to force re-authentication of the user -->

    <div id="fb-root"></div>
    <div id ="googleLoginButton">
        <!--
            Google Login Button is a 2 click button, where image is removed at first click, second click triggers login because of data privacy - see:
            http://extensions.joomla.org/extensions/extension/social-web/social-share/2-click-social-buttons
        -->
        <a id="btn-login_google" href="#" onclick="triggerGoogleLogin();"><img class="img-socialLogin" src="{{ asset('images/social/sign-in-with-google.png') }}" alt="Google Login"></a>
    </div>
    <div id ="facebookLoginButton">
        <a id="btn-login_facebook" href="#" onclick="triggerFacebookLogin();"><img class="img-socialLogin" src="{{ asset('images/social/sign-in-with-facebook.png') }}" alt="Facebook Login"></a>
    </div>

    <div id="status">
    </div>
</form>

<button id="btn-facebook-testhook" class="hidden" onclick="handleFacebookUserInfoResponseTrigger();"></button>
<button id="btn-gplus-testhook" class="hidden" onclick="checkGoogleCallbackDataWithServer();"></button>
