<div id="share">
    Share on
    <a id="share-facebook" href="javascript:triggerShareOnFacebook();">
        <img class="img-share" src="{{ asset('images/social/share/desktop/facebook.png') }}" alt="Share on Facebook" title="Share on Facebook"/>
    </a>
    <a id="share-gplus" href="javascript:triggerShareOnGooglePlus();">
        <img class="img-share" src="{{ asset('images/social/share/desktop/googleplus.png') }}" alt="Share on Google+" title="Share on Google+"/>
    </a>
    <a  id="share-twitter" href="javascript:triggerShareOnTwitter();">
        <img class="img-share" src="{{ asset('images/social/share/desktop/twitter.png') }}" alt="Tweet on Twitter" title="Tweet on Twitter"/>
    </a>
    <a  id="share-email" href="javascript:triggerShareViaMail('{{ program.name }}', '{{ program.description }}', '{{ 'programs.checkout_this_program'|trans({}, 'catroweb') }}' );">
        <img class="img-share" src="{{ asset('images/social/share/desktop/mail.png') }}" alt="Share via e-mail" title="Mail"/>
    </a>
</div>
