{% block footer %}
  <div id="footer-menu-desktop" class="footer-padding">
    <div id="footer-menu-desktop-left">
      <div>
        <div><a href="{{ url('catrobat_web_help') }}">{{ "tutorials"|trans({}, "catroweb") }}</a></div>
        <div><a href="http://www.catrobat.org" target="_blank">{{ "aboutPocketCode"|trans({}, "catroweb") }}</a></div>
        <div><a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a></div>
        <div><a href="{{ url('licenseToPlay') }}">{{ "licenseToPlay.link"|trans({}, "catroweb") }}</a></div>
      </div>
      <div>
        <div><a href="http://developer.catrobat.org/privacy_policy" target="_blank">{{ "privacyPolicy"|trans({}, "catroweb") }}</a></div>
        <div><a href="{{ url('termsOfUse') }}">{{ "termsOfUse.title"|trans({}, "catroweb") }}</a></div>
        <div><a href="http://developer.catrobat.org/imprint" target="_blank">{{ "imprint"|trans({}, "catroweb") }}</a></div>
      </div>
    </div>
    <div id="footer-menu-desktop-right">
      <div id="search-footer" class="img-magnifying-glass"></div>
      <input id="search-input-footer" class="input-search" type="search" placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}"/>
    </div>
  </div>

  <div id="footer-menu-bottom" class="footer-padding">
    <div>
      <select id="switch-language" autocomplete="off">
        {% set countries = getLanguageOptions() %}
        {% for country in countries %}
        <option value="{{ country[0] }}" {% if country[2] %}selected{% endif %}>{{ country[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="footer-copyright">
      <a href="http://www.catrobat.org" target="_blank">&copy; Catrobat</a>
    </div>
    <div id="footer-more-less">
      <span id="footer-button-more"><span class="img-more"></span> {{ "more"|trans({}, "catroweb") }}</span>
      <span id="footer-button-less"><span class="img-less"></span> {{ "less"|trans({}, "catroweb") }}</span>
    </div>
  </div>

  <div id="footer-menu-mobile">
    <div><a href="{{ url('catrobat_web_help') }}">{{ "tutorials"|trans({}, "catroweb") }}</a></div>
    <div><a href="http://www.catrobat.org" target="_blank">{{ "aboutPocketCode"|trans({}, "catroweb") }}</a></div>
    <div><a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a></div>
    <div><a href="{{ url('licenseToPlay') }}">{{ "licenseToPlay.link"|trans({}, "catroweb") }}</a></div>
    <div><a href="http://developer.catrobat.org/privacy_policy" target="_blank">{{ "privacyPolicy"|trans({}, "catroweb") }}</a></div>
    <div><a href="{{ url('termsOfUse') }}">{{ "termsOfUse.title"|trans({}, "catroweb") }}</a></div>
    <div><a href="http://developer.catrobat.org/imprint" target="_blank">{{ "imprint"|trans({}, "catroweb") }}</a></div>
  </div>

{% endblock %}
