{% block footer %}
  <footer class="footer">
    <div class="container">

      <div class="content">
        <div class="row">
          <div class="col-md-2">
            <h4>{{ "footer.usefulLinks"|trans({}, "catroweb") }}</h4>
            <ul class="list-vertical">
              <li>
                <a href="{{ url('catrobat_web_help') }}">{{ "tutorials"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="http://www.catrobat.org" target="_blank">{{ "aboutPocketCode"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>{{ "footer.legalities"|trans({}, "catroweb") }}</h4>
            <ul class="list-vertical">
              <li>
                <a href="{{ url('licenseToPlay') }}">{{ "licenseToPlay.link"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="http://developer.catrobat.org/privacy_policy" target="_blank">{{ "privacyPolicy"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="{{ url('termsOfUse') }}">{{ "termsOfUse.title"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="http://developer.catrobat.org/imprint" target="_blank">{{ "imprint"|trans({}, "catroweb") }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr>
      <div class="copyright pull-left">
        <select id="switch-language" autocomplete="off">
            {% set countries = getLanguageOptions() %}
            {% for country in countries %}
              <option value="{{ country[0] }}" {% if country[2] %}selected{% endif %}>{{ country[1] }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="copyright pull-right">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.catrobat.org">Catrobat</a>. All rights reserved.
      </div>
    </div>
  </footer>
{% endblock %}
