<nav id="sidebar">
  <a class="logo" href="{{ path('index') }}" style="background-image:url('{{ asset('images/logo/catrobat_text.svg') }}')"><span
        class="sr-only">{{ "menu.home"|trans({}, "catroweb") }}</span></a>
  <ul class="list-unstyled">
    {% if app.user %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('user_notifications') }}" id="btn-notifications">
          <i class="fas fa-bell mr-1"></i>
          {{ "notifications"|trans({}, "catroweb") }}
          <span
              class="badge-pill badge-danger user-notification-badge user-notification-badge-font"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('profile') }}" id="btn-profile">
          <i class="fas fa-user-circle mr-1"></i>
          {{ 'menu.profile'|trans({}, "catroweb") }}
        </a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url('sonata_admin_dashboard') }}" id="btn-admin">
            <i class="fas fa-user-tie mr-1"></i>
            {{ 'menu.admin'|trans({}, "catroweb") }}
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('logout') }}" id="btn-logout">
          <i class="fas fa-sign-out-alt mr-1"></i>
          {{ 'menu.logout'|trans({}, "catroweb") }}
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('login') }}" id="btn-login">
          <i class="fas fa-sign-in-alt mr-1"></i>
          <span>{{ 'menu.login'|trans({}, "catroweb") }}</span>
        </a>
      </li>
    {% endif %}
    {% if sidebar_ul is not empty %}
      {{ sidebar_ul|raw }}
    {% endif %}
  </ul>
</nav>
<div id="sidebar-overlay"></div>