{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('layout_multi_column_article') }}
{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="article-columns">
          <h1 class="mb-4">{{ 'licenseToPlay.title'|trans({}, 'catroweb') }}</h1>
          <p>{{ 'licenseToPlay.text1'|trans({}, 'catroweb') }}</p>
          <p>{{ 'licenseToPlay.text2'|trans({}, 'catroweb') }}</p>
          <p>
            <b>{{ 'licenseToPlay.text3'|trans({}, 'catroweb') }}</b>
          </p>
          <ul>
            <li>{{ 'licenseToPlay.list1.item1'|trans({}, 'catroweb') }}</li>
            <li>{{ 'licenseToPlay.list1.item2'|trans({}, 'catroweb') }}</li>
          </ul>
          <p>{{ 'licenseToPlay.text4'|trans({}, 'catroweb') }}</p>
          <p>{{ 'licenseToPlay.text5'|trans({}, 'catroweb') }}</p>
          <p>{{ 'licenseToPlay.text6'|trans({'%link-termsOfUse%': '<a href="' ~ url('termsOfUse') ~ '">' ~ url('termsOfUse') ~ '</a>'}, 'catroweb')|raw }}</p>
          <p>{{ 'licenseToPlay.version'|trans({}, 'catroweb') }}</p>
        </div>
  </div>
{% endblock %}
