
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'privacy-policy.header'|trans({}, 'catroweb') }}</h3>
      </div>

      <div class="modal-body">
        <p>{{ 'privacy-policy.version'|trans({}, 'catroweb') }}</p>
        <p class="align_start">{{ 'privacy-policy.text1'|trans({}, 'catroweb') }}</p>
        <ul>
          <li><p class="align_start">{{ 'privacy-policy.text2'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text3'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text4'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text5'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text6'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text7'|trans({}, 'catroweb') }}</p></li>
          <li><p class="align_start">{{ 'privacy-policy.text8'|trans({}, 'catroweb') }}</p></li>
        </ul>
        <p class="align_start">{{ 'privacy-policy.text9'|trans({}, 'catroweb') }}</p>
        <p class="align_start">
        {{ 'privacy-policy.text10'|trans({'%privacy_policy%': '<a href="https://developer.catrobat.org/privacy_policy">
            privacy policy</a>'}, 'catroweb')|raw }}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="agreeButton" data-bs-dismiss="modal">
          {{ 'agree'|trans({}, 'catroweb') }}
        </button>
        <button type="button" class="btn btn-outline-primary" id="disagreeButton" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#disagreeModal">
          {{ 'disagree'|trans({}, 'catroweb') }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="disagreeModal" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centeredmodal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'privacy-policy.header'|trans({}, 'catroweb') }}</h3>
      </div>

      <div class="modal-body">
        <p>{{ 'privacy-policy.disagree-text'|trans({}, 'catroweb') }}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
