{% extends "Default/base.html.twig" %}

{% block head %}
  {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block header "" %}

{% block body %}

  {% block fos_user_content %}

    <div class="container-fluid">

      {% include 'PrivacyAndTerms/policy.html.twig' %}

      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-6 mb-4">

          <h1 class="h2">{{ "register.title"|trans({}, "catroweb") }}</h1>

          <form id="registration_form" action="{{ path('fos_user_registration_register') }}"
                method="POST" role="form" class="fos_user_registration_register form-horizontal">
            {{ form_start(form) }}

            <div>
              {% for errorItem in form.username.vars.errors %}
                <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
              {% endfor %}
              {% for errorItem in form.email.vars.errors %}
                <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
              {% endfor %}
              {% for errorItem in form.plainPassword.first.vars.errors %}
                <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
              {% endfor %}
            </div>

            <label class="mdc-text-field mdc-text-field--with-leading-icon mdc-text-field--filled username">
              <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" role="button">person</span>
              <span class="mdc-text-field__ripple"></span>
              {{ form_widget(form.username, {'attr': {'class':'mdc-text-field__input', 'aria-labelledby': 'username-label', 'id': 'username' }}) }}
              <span class="mdc-floating-label" id="username-label">{{ "login.username"|trans({}, "catroweb") }}</span>
              <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--with-leading-icon mdc-text-field--filled email mt-3">
              <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" role="button">email</span>
              <span class="mdc-text-field__ripple"></span>
              {{ form_widget(form.email, {'attr': {'class':'mdc-text-field__input', 'aria-labelledby': 'email-label', 'id': 'email', 'name': '_email' }}) }}
              <span class="mdc-floating-label" id="email-label">{{ "login.email"|trans({}, "catroweb") }}</span>
              <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--with-leading-icon mdc-text-field--filled password-first mt-3">
              <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" role="button">lock</span>
              <span class="mdc-text-field__ripple"></span>
              {{ form_widget(form.plainPassword.first, {'attr': {'class':'mdc-text-field__input', 'aria-labelledby': 'password-first-label', 'id': 'password-first', 'name': '_password-first' }}) }}
              <span class="mdc-icon-button material-icons password-toggle">visibility</span>
              <span class="mdc-floating-label" id="password-first-label">{{ "login.passwordFirst"|trans({}, "catroweb") }}</span>
              <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--with-leading-icon mdc-text-field--filled password-second mt-3">
              <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" role="button">lock</span>
              <span class="mdc-text-field__ripple"></span>
              {{ form_widget(form.plainPassword.second, {'attr': {'class':'mdc-text-field__input', 'aria-labelledby': 'password-second-label', 'id': 'password-second', 'name': '_password-second' }}) }}
              <span class="mdc-icon-button material-icons password-toggle">visibility</span>
              <span class="mdc-floating-label" id="password-second-label">{{ "login.passwordSecond"|trans({}, "catroweb") }}</span>
              <span class="mdc-line-ripple"></span>
            </label>

            <div class="mt-3" style="float: right;">
              <a href="{{ path('login') }}" class="btn btn-secondary">{{ "register.button.cancel"|trans({}, "catroweb") }}</a>
              <button id="_submit" type="submit" data-bs-toggle="modal" data-bs-target="#termsModal"
                      class="btn btn-primary"
                      name="_create">{{ "register.button.createAccount"|trans({}, "catroweb") }}</button>
            </div>

            {{ form_rest(form) }}
          </form>
        </div>
      </div>
    </div>
    {% include 'UserManagement/oauth_registration.html.twig' %}


  {% endblock fos_user_content %}

{% endblock body %}

{% block javascript %}
  {{ encore_entry_script_tags('register') }}
{% endblock %}
