{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
{% set sound = admin.getSoundUrl(object) %}
{% set image = admin.getImageUrl(object) %}
    <div style="">
        {% if sound %}
            <audio controls>
                <source src="{{ sound }}" type="audio/mpeg">

                <object>
                    <param name="autostart" value="false">
                    <param name="src" value="{{ sound }}">
                    <param name="autoplay" value="false">
                    <param name="controller" value="true">
                    <embed src="{{ sound }}" controller="true" autoplay="false" autostart="false" type="audio/mpeg"></embed>
                    Update your Browser
                </object>
            </audio>
            (<a href="{{ sound }}">Download</a>)<br/>
        {% endif %}
        {% if image %}
            <img src="{{ image }}" width="300">
        {% endif %}
    </div>
{% endblock %}