<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
  <meta name="robots" content="noindex,nofollow"/>
  <title>Pocket Code Website {% block title %}{% endblock %}</title>

  {% stylesheets '@CatrobatWebBundle/Resources/public/css/plugins/*'
                 '@CatrobatWebBundle/Resources/public/css/base/*' filter='cssrewrite,lessphp' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
  {% endstylesheets %}

  {% javascripts '@CatrobatWebBundle/Resources/public/js/plugins/*'
                 '@CatrobatWebBundle/Resources/public/js/base/*' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block head %}{% endblock %}
</head>
<body>

<div id="wrapper">
  <header>
    {% block header %}
      {{ render(controller('catrobat.web.default.controller:headerAction', { _locale: app.request.locale, _embedded: true })) }}
    {% endblock %}
  </header>

  <article>
    {% block body %}{% endblock %}
  </article>
</div>

<footer class="size-medium">
  {% block footer %}
    {{ render(controller('catrobat.web.default.controller:footerAction', { _locale: app.request.locale, _embedded: true })) }}
  {% endblock %}
</footer>


<script type="text/javascript">
  var main = new Main();
  main.handleFooterView();
  main.handleLanguage();
</script>

</body>
</html>
