{% block footer %}

  <div id="footer-menu-desktop" class="footer-padding">
    <div id="footer-menu-desktop-left">
      <div>
        <div><a href="{{ url('catrobat_web_tutorial') }}">Tutorial</a></div>
        <div><a href="http://www.catrobat.org" target="_blank">About</a></div>
        <div><a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">Google Play</a></div>
        <div><a href="{{ url('catrobat_web_licenseToPlay') }}">License to play</a></div>
      </div>
      <div>
        <div><a href="http://developer.catrobat.org/privacy_policy" target="_blank">Privacy Policy</a></div>
        <div><a href="{{ url('catrobat_web_termsOfUse') }}">Terms of Use</a></div>
        <div><a href="http://developer.catrobat.org/imprint" target="_blank">Imprint</a></div>
      </div>
    </div>
    <div id="footer-menu-desktop-right">
      <div class="img-magnifying-glass"></div>
        <input class="input-search" type="search" placeholder="{{ "Search..."|trans({}, "catroweb_web") }}"/>
    </div>
  </div>

  <div id="footer-menu-bottom" class="footer-padding">
    <div>
      <select id="switch-language">
        <option value="zh-CN">‪中文（简体中文）‬</option>
        <option value="zh-TW">‪中文 (繁體中文)‬</option>
        <option value="en">‪English (United States)‬</option>
        <option selected value="de">‪Deutsch‬</option>
        <option value="ja">‪日本語‬</option>
        <option value="ms">‪Bahasa Melayu‬</option>
        <option value="ro">‪română‬</option>
        <option value="ru">‪русский‬</option>
      </select>
    </div>
    <div id="footer-copyright">
      <a href="http://www.catrobat.org" target="_blank">&copy; Catrobat</a>
    </div>
    <div id="footer-more-less">
      <span id="footer-button-more"><span class="img-more"></span> more</span>
      <span id="footer-button-less"><span class="img-less"></span> less</span>
    </div>
  </div>

  <div id="footer-menu-mobile">
    <div><a href="{{ url('catrobat_web_tutorial') }}">Tutorial</a></div>
    <div><a href="http://www.catrobat.org" target="_blank">About</a></div>
    <div><a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">Google Play</a></div>
    <div><a href="{{ url('catrobat_web_licenseToPlay') }}">License to play</a></div>
    <div><a href="http://developer.catrobat.org/privacy_policy" target="_blank">Privacy Policy</a></div>
    <div><a href="{{ url('catrobat_web_termsOfUse') }}">Terms of Use</a></div>
    <div><a href="http://developer.catrobat.org/imprint" target="_blank">Imprint</a></div>
  </div>

{% endblock %}