<nav>
  <div id="header-left">
    <div id="logo">
      <a href="{{ path('catrobat_web_index') }}">
        {% image '@CatrobatWebBundle/Resources/public/images/logo/logo_text.png' %}
        <img src="{{ asset_url }}" alt="Pocket Code Logo" />
        {% endimage %}
      </a>
    </div>
    <input id="searchbar" class="input-search" placeholder="{{ "Search..."|trans({}, "catroweb_web") }}">
  </div>

  <div id="header-right">
    <div id="menu">
      <div class="btn btn-search">
        <div class="img-magnifying-glass"></div>
      </div>
      <div>
        <input placeholder="{{ "Search..."|trans({}, "catroweb_web") }}" class="size-large input-search">
      </div>

      {% if app.user %}
        <div class="btn btn-menu logged-in show-nav-dropdown">
          <div class="img-avatar"></div>
        </div>
        <div class="btn btn-username show-nav-dropdown">{{ app.user.username }}</div>
        <div class="btn show-nav-dropdown">
          <div class="img-dropdownArrow"></div>
        </div>
      {% else %}
        <a href="{{ url('fos_user_security_login') }}">
          <div class="btn btn-menu">
            <div class="img-avatar"></div>
          </div>
        </a>
      {% endif %}

    </div>

    <div id="menu-mobile">
      <div class="btn btn-search">
        <div class="img-magnifying-glass"></div>
        <div class="img-undo-search"></div>
      </div>
      <div class="margin-spacer"></div>
      {% if app.user %}
      <div class="btn btn-menu show-nav-dropdown">
        <div class="img-avatar"></div>
      </div>
      {% else %}
      <a href="{{ url('fos_user_security_login') }}">
        <div class="btn btn-menu">
          <div class="img-avatar"></div>
        </div>
      </a>
      {% endif %}
    </div>

  </div>

  {% if app.user %}
    <div id="nav-dropdown" class="img-nav-dropdown">
      <div>
        <a href="#">
          <div><div class="img-author-big"></div></div>
          <div>{{ "My Profile"|trans({}, "catroweb_web") }}</div>
        </a>
      </div>
      <div>
        <a href="{{ url('fos_user_security_logout') }}">
          <div><div class="img-logout"></div></div>
          <div>{{ "Logout"|trans({}, "catroweb_web") }}</div>
        </a>
      </div>
    </div>
  {% endif %}
</nav>
