<nav>
  {% if not isWebview() %}
    <div id="header-top">
      <div><a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid" target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a></div>
      <div><a href="{{ url('catrobat_web_help') }}">{{ "tutorials"|trans({}, "catroweb") }}</a></div>
      <div><a href="http://www.catrobat.org" target="_blank">{{ "aboutPocketCode"|trans({}, "catroweb") }}</a></div>
      {% block eventLink %}{% endblock %}
    </div>
  {% endif %}
  <div>
    <div id="header-left">
      <div id="logo">
        <a href="{{ path('index') }}">
          {% block logoImage %}{% endblock %}
        </a>
      </div>
      <input id="searchbar" class="input-search" placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}">
    </div>

    <div id="header-right">
      <div id="menu">
        <div class="btn btn-search">
          <div id="search-header" class="img-magnifying-glass"></div>
        </div>
        <div>
          <input id="search-input-header" placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}" class="size-large input-search">
        </div>

        {% if app.user %}
          <div class="btn btn-menu logged-in show-nav-dropdown">
            <div class="img-avatar" {%  if app.user.avatar is not empty %}style="background-size:cover; background-position:center; outline: 1px solid #FFFFFF; background-image:url({{ app.user.avatar }});"{%  endif %}></div>
          </div>
          <div class="btn btn-username show-nav-dropdown">{{ app.user.username }}</div>
          <div class="btn show-nav-dropdown">
            <div class="img-dropdownArrow"></div>
          </div>
        {% else %}
          <a href="{{ url('login') }}" id="btn-login">
            <div class="btn btn-menu">
              <div class="img-avatar"></div>
            </div>
          </a>
        {% endif %}

      </div>

      <div id="menu-mobile">
        <div class="btn btn-search">
          <div id="search-header-mobile" class="img-magnifying-glass"></div>
          <div class="img-undo-search"></div>
        </div>
        <div class="margin-spacer"></div>
        {% if app.user %}
          {% if app.user.avatar is not empty %}
            <div id="custom-avatar" class="btn btn-menu show-nav-dropdown">
              <div style="background-image:url({{ app.user.avatar }});">
                <div class="img-dropdownArrow-mobile"></div>
              </div>
            </div>
          {% else %}
            <div class="btn btn-menu show-nav-dropdown">
              <div class="img-avatar"></div>
            </div>
          {% endif %}
        {% else %}
          <a href="{{ url('login') }}" id="btn-login">
            <div class="btn btn-menu">
              <div class="img-avatar"></div>
            </div>
          </a>
        {% endif %}
      </div>

    </div>

    {% if app.user %}
      <div id="nav-dropdown" class="img-nav-dropdown">
        <div>
          <a href="{{ url('profile') }}" id="btn-profile">
            <div><div class="img-author-big"></div></div>
            <div>{{ "My Profile"|trans({}, "catroweb") }}</div>
          </a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
          <div>
            <a href="{{ url('sonata_admin_dashboard') }}" id="btn-admin">
              <div><div class="img-dashboard"></div></div>
              <div>Admin</div>
            </a>
          </div>
        {% endif %}
        <div>
          <a href="{{ url('logout') }}" id="btn-logout">
            <div><div class="img-logout"></div></div>
            <div>{{ "Logout"|trans({}, "catroweb") }}</div>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</nav>
