{% extends "Default/base.html.twig" %}

{% block head %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('js/jquery-ui/jquery-ui.js') }}"></script>
<script src="{{ asset( getJavascriptPath('loginscript.js') ) }}"></script>

{% endblock %}

{% block header "" %}

{% block body %}

  {% block fos_user_content %}

    <div class="container-fluid">

      {% include 'components/login/login_logo.html.twig' %}

      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-5" align="center">

            <form id="registration_form" action="{{ path('fos_user_registration_register') }}"
                  method="POST" role="form" class="fos_user_registration_register form-horizontal">
                {{ form_start(form) }}

              <div>
                  {% for errorItem in form.username.vars.errors %}
                    <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
                  {% endfor %}
                  {% for errorItem in form.email.vars.errors %}
                    <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
                  {% endfor %}
                  {% for errorItem in form.plainPassword.first.vars.errors %}
                    <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
                  {% endfor %}
              </div>

              <div class="group">
                {{ form_widget(form.username) }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><span class="span-input">{{ 'login.username'|trans({}, 'catroweb') }}</span></label>
              </div>

              <div class="group">
                {{ form_widget(form.email) }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><span class="span-input">{{ 'login.email'|trans({}, 'catroweb') }}</span></label>
              </div>

              <div class="group">
                <span class="highlight"></span>
                <span class="bar"></span>
                <div class="group-with-icon-wrapper show-hide-password">
                  <div class="group-with-icon">
                    <span>
                      {{ form_widget(form.plainPassword.first) }}
                      <label><span class="span-input" >{{ 'login.passwordFirst'|trans({}, 'catroweb') }}</span></label>
                    </span>
                  </div>
                  <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="group">
                <span class="highlight"></span>
                <span class="bar"></span>
                <div class="group-with-icon-wrapper show-hide-password">
                  <div class="group-with-icon">
                    <span>
                      {{ form_widget(form.plainPassword.second) }}
                      <label><span class="span-input" >{{ 'login.passwordSecond'|trans({}, 'catroweb') }}</span></label>
                    </span>
                  </div>
                  <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
                </div>
              </div>

              <!-- Policy -->
              {% include 'privacy_policy/policy.html.twig' %}

              <!-- Button -->
              <div style="margin-top:30px; margin-bottom:30px" class="form-group">
                <div class="col-sm-12 controls">
                  <button id="_submit" type="submit" style="width: 100%;" data-toggle="modal" data-target="#termsModal"
                          class="login btn-primary"
                          name="_create">{{ "login.createAccount"|trans({}, "catroweb") }}</button>
                </div>
              </div>

              <!-- Redirects -->
              <div>
                <div class="form-group">
                  <div class="col-md-12 control">
                    <div style="padding-top:15px; font-size:85%">
                      {{ 'login.forgotPass'|trans({}, 'catroweb') }}
                      <a id="pw-request"
                         href="{{ path("fos_user_resetting_request") }}">
                        {{ 'login.recoverPass'|trans({}, 'catroweb') }}</a>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 control">
                    <div style="font-size:85%">
                      {{ 'login.alreadyAccount'|trans({}, 'catroweb') }}
                      <a id="create_account" href="{{ path('login') }}" rel="noreferrer">Log in</a>
                    </div>
                  </div>
                </div>
                {% include 'components/login/or_line.html.twig' %}
              </div>

              {{ form_rest(form) }}
            </form>
          </div>
        </div>
      </div>
    <div id="spacer1" style="margin-bottom: 30px"></div>
    {% include 'social/oauth_form.html.twig' %}
    <div id="spacer2" style="margin-bottom: 30px"></div>


  {% endblock fos_user_content %}

{% endblock body %}

{% block js %}
  <script src="{{ asset('js/custom/register.js') }}"></script>
  <script src="{{ asset('js/custom/PasswordVisibilityToggler.js') }}"></script>
{% endblock js %}
