<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
	{% block stylesheets %}
	  {% stylesheets '@bootstrap_css' combine=true %}
	    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	 {% endstylesheets %}
	{% endblock %}
  </head>
  <body>
    <h1>Hello, world!</h1>
    
    {{ render(controller('CatrobatWebBundle:Program:mostDownloaded', {})) }}

        {{ render(controller('CatrobatWebBundle:Program:mostViewed', {})) }}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
  </body>
</html>
