<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% block javascripts %}
	  {% javascripts '@bootstrap_js' combine=true %}
	     <script src="{{ asset_url }}"></script>
	  {% endjavascripts %}
	{% endblock %}

	{% block stylesheets %}
	  {% stylesheets '@bootstrap_css' combine=true %}
	    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	 {% endstylesheets %}
	{% endblock %}
</head>
<body>
	<form action="{{ path('debug_upload') }}" method="post" {{ form_enctype(form) }}>
	<legend>Uplad a file</legend>
		{{ form_widget(form) }}
		<button type="submit" class="btn">Submit</button>
	</form>
</body>
</html>
