<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ app.request.locale | slice(0, 2) }}">
<head>
  <meta http-equiv="Content-Type" content="text/html"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, user-scalable=no'/>
  <title>{% block title %}Pocket Code Website{% endblock %}</title>

  <link rel="shortcut icon" href="{{ asset('images/logo/favicon.png') }}"/>

  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/base.css') }}" media="screen"/>

  {# Head block for child views #}
  {% block head %}{% endblock %}
</head>

<body class="new-nav">
<div id="page-container" class="pr-0 pl-0">

  {% include 'Header/header.html.twig' with
    {
      page_title: block('page_title') ?? '',
      back_path: block('back_path') ?? '',
      no_search: block('no_search') ?? ''
    }
  %}

  {% include 'Default/sidebar.html.twig' with {sidebar_ul: (block('sidebar_ul')) ?? ''} %}

  <div class="container body-content mb-5" style="margin-top: 6em">
    {# Body block where child views will appear #}
    {% block body %}{% endblock %}
  </div>

  {% include 'Default/footer.html.twig' %}

  <div id="app-version" style="display:none">{{ app_version }}</div>

</div>{# page-container#}

{#
   !!Important!! Define scripts here and not in the head to prevent render-blocking resources
    This should increase performance. As a sidenote. The JS block can't be used in twig templates that are included.
    The scripts have to be in the file that is extending the base and have to be in the JS blocks, not in the head!
#}
<script src="{{ asset('js/modules/jquery.min.js') }}"></script>
<script src="{{ asset('js/modules/textfill.min.js') }}"></script>
<script src="{{ asset('js/modules/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/modules/sweetalert2.all.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('js/base.min.js') }}"></script>

{% if app_env == 'prod' %}
<script> let configGA = { 'UaId': 'UA-42270417-5' } </script>
<script async src="{{ asset('js/analytics.min.js') }}"></script>
{% endif %}

{# Main Script #}
<script>
  new Main()
  {% if package|default and ('/media-library/' in app.request.pathinfo or '/pocket-library/' in app.request.pathinfo) %}
    setSearchUrl('{{ path('medialibrary_empty_search', {'package_name' : package} ) }}')
  {% else %}
    setSearchUrl('{{ path('empty_search' ) }}')
  {% endif %}
</script>

{# Sidebar #}
<script>
  manageNotificationsDropdown()
</script>

{% if app.user %}
  <script src="{{ asset('js/FetchNotifications.min.js') }}"></script>
  <script>
    let fetchNotifications = new FetchNotifications("{{ path('notifications_count') }}", 99, 10000)
    $(document).ready(function () {
      fetchNotifications.run()
    })
  </script>
{% endif %}

{# JS block where all the scripts written in the child views should appear #}
{% block js %}{% endblock %}

</body>
</html>
