<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta http-equiv="Content-Type" content="text/html"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <meta name="robots" content="noindex,nofollow"/>
  <meta name='viewport' content='width=device-width, user-scalable=no'/>
  <title>{% block title %}Pocket Code Website{% endblock %}</title>

  <link rel="shortcut icon" href="{{ asset('images/logo/favicon.png') }}"/>

  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/base.css') }}" media="screen"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="{{ asset('compiled/bootstrap/jquery.min.js') }}"></script>
  <script src="{{ asset( getJavascriptPath('script.js') ) }}"></script>
  <script src="{{ asset('compiled/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

  <script>
    {# seems to be needed for some behat tests #}
    let configGA = {
      'UaId': 'UA-42270417-5',
      //'DebugOutput' : true,
    }
  </script>

  <script async src="{{ asset(getJavascriptPath('analytics.js')) }}"></script>

  {% block head %}{% endblock %}
</head>

<body class="new-nav">
  <div id="wrapper">
    <header>
      {% block header %}
        {% include 'Default/header.html.twig' %}
      {% endblock %}
    </header>
    {% include 'Default/sidebar.html.twig' with {sidebar_ul: (block('sidebar_ul')) ?? ''} %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </div>
</body>

{% block footer %}
  {% include 'Default/footer.html.twig' %}
{% endblock %}

<script>
  let search_input = $('.input-search')

  search_input.tooltip({
    trigger  : 'manual',
    placement: 'bottom'
  })

  search_input
  .attr('data-original-title', '{{ "search.fail"|trans({}, "catroweb") }}')
  .addClass('tooltip-danger')

  search_input.on('shown.bs.tooltip', function () {
    setTimeout(function () {
      search_input.tooltip('hide')
    }, 1000)
  })

  function scrollToHash() {
    if (window.location.hash && $(window.location.hash).offset()) {
      window.scrollTo(0,($(window.location.hash).offset().top - $(".navbar").outerHeight()));
    }
  }

  scrollToHash()
  window.addEventListener('load', scrollToHash)
  $(window).on('hashchange', scrollToHash)

  new Main('{{ path('search', {'q': 0 } ) }}')
</script>

{% block js %}{% endblock %}

{% if app.user %}
  <script src="{{ asset('compiled/js/FetchNotifications.js') }}"></script>
  <script>
    let fetchNotifications = new FetchNotifications("{{ path('user_notifications_count') }}", 99, 10000)
    $(document).ready(function () {
      fetchNotifications.run()
    })
  </script>
{% endif %}
<script>
  $('#nav-search').submit(function (e) {
    e.preventDefault()
  })
</script>

</html>
