<footer class="footer d-flex justify-content-center mt-auto body-content">
  {% block footer %}
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-6 col-sm-4">
          <h3>{{ "footer.usefulLinks"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a id="help" href="{{url('help')}}" target="_blank">
                {{ "tutorials"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/ShareAbout" target="_blank">
                {{ "about"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/education" target="_blank">
                {{ "education"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/ChatAndForums" target="_blank">
                {{ "chat"|trans({}, "catroweb") }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-4">
          <h3>{{ "footer.legalities"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a href="{{ url('licenseToPlay') }}">{{ "licenseToPlay.link"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="{{ url('privacypolicy') }}">{{ "privacy-policy.header"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="{{ url('termsOfUse') }}">{{ "termsOfUse.title"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="https://catrob.at/imprint"
                 target="_blank">{{ "imprint"|trans({}, "catroweb") }}</a>
            </li>
          </ul>
        </div>
        <div class="col-6 mt-4 mt-sm-0 col-sm-4">
          <h3>{{ "footer.download"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a href="{{ url('google_play_store') }}"
                 target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a>
            </li>
            {% if flavor() == "pocketcode" %}
              <li>
                <a href="https://catrob.at/ca"
                   target="_blank">{{ "iosAppStore"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="https://catrob.at/HuaweiAppGallery"
                   target="_blank">{{ "huaweiAppGallery"|trans({}, "catroweb") }}</a>
              </li>
            {% endif %}
            <li>
              <a href="https://catrob.at/apps"
                 target="_blank">{{ "others"|trans({}, "catroweb") }}</a>
            </li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="row justify-content-between">

        <div id="copyright" class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
          {{ "copyright"|trans({'%year%' : "now"|date("Y")}, "catroweb")|raw }}
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3 mt-sm-0">
          <div class="mdc-select mdc-select--outlined mdc-select--locale">
            <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span id="outlined-select-label"
                        class="mdc-floating-label">{{ 'footer.language'|trans({}, "catroweb") }}</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
              <span class="mdc-select__selected-text-container">
                <span id="demo-selected-text" class="mdc-select__selected-text"></span>
              </span>
              <span class="mdc-select__dropdown-icon">
                <svg
                    class="mdc-select__dropdown-icon-graphic"
                    viewBox="7 10 10 5" focusable="false">
                  <polygon
                      class="mdc-select__dropdown-icon-inactive"
                      stroke="none"
                      fill-rule="evenodd"
                      points="7 10 12 15 17 10">
                  </polygon>
                  <polygon
                      class="mdc-select__dropdown-icon-active"
                      stroke="none"
                      fill-rule="evenodd"
                      points="7 15 12 10 17 15">
                  </polygon>
                </svg>
               </span>
            </div>
            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
              <ul class="mdc-list" role="listbox">
                {% set languageOptionList = getLanguageOptions() %}
                {% for languageOption in languageOptionList %}
                  <li class="mdc-list-item" data-value={{ languageOption[0] }} {% if languageOption[2] %}selected{% endif %}
                      role="option">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">
                    {{ languageOption[1] }}
                  </span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

  {% endblock %}
</footer>
