<nav class="navbar nav-catrobat navbar-dark bg-catrobat">

  <div class="container">
{#    <div id="header-nav" style="display: inline;">#}
      <div id="navbar">
        {% if mediasearch is defined %}
          <i class="fas fa-arrow-left" id="medialib-header-back-btn"></i>
        {% else %}
          <button id="btn-sidebar-toggle" class="navbar-toggler" type="button"
                  aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="nav-logo " href="{{ path('index') }}">
            <img id="logo" {% include 'Default/headerLogo.html.twig' %}/> {# header logo contains src and alt from theme #}
          </a>
        {% endif %}
      </div>
      {# START: Searchfield #}
      <div id="searchbar">
        <div class="input-group d-none" id="search-input-group-header">
          <input type="text" class="form-control input-search search-input-header tooltip-danger"
              {% if package is defined %}
                placeholder="{{ "media-packages.search-input-description"|trans({}, "catroweb") }}"
                aria-label="{{ "media-packages.search-input-description"|trans({}, "catroweb") }}"
              {% else %}
                placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}"
                aria-label="{{ "search.dotdotdot"|trans({}, "catroweb") }}"
              {% endif %}
                 aria-describedby="btn-search-header"
                 data-original-title="{{ "search.fail"|trans({}, "catroweb") }}"
          >
          <div class="input-group-append">
            <button class="btn btn-default btn-search" type="button" id="btn-search-header">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <a id="search-icon" class="search-icon-header" href="#">
          <i class="fas fa-search search-icon"></i>
        </a>
      </div>
      {# END: Searchfield #}

    {% if 'media-library' in app.request.pathinfo or 'pocket-library' in app.request.pathinfo %}
      <div id="downloadbar">
        <span><span class="fas fa-times" id="downloadbar-delete-selection-btn"> </span><span id="downloadbar-nr-selected">1</span></span>
        <span id="downloadbar-start-downloads"><span class="downloadbar-save">{{ "media-packages.download_these_files"|trans({}, "catroweb")|upper}}</span><span class="fas fa-download" /></span>
      </div>
    {% endif %}

  </div>

</nav>
