<nav id="sidebar">
  <a class="logo" href="{{ path('index') }}"
     style="background-image:url('{{ asset('images/logo/catrobat_text.svg') }}')"><span
        class="sr-only">{{ "menu.home"|trans({}, "catroweb") }}</span></a>
  <ul class="list-unstyled" id="project-navigation">
    {% if theme() == 'pocketgalaxy' %}{# TODO maybe integrate in dynamic theming? #}
      <li class="nav-item">
        <a id="event-link" class="nav-link" href="http://www.galaxygamejam.com/AT/main.html">
          Event
        </a>
      </li>
    {% endif %}

    {# logged in #}
    {% if app.user %}


      <li class="nav-item">

        <div>
          <a id="notifications-dropdown-toggler" class="nav-link collapsible">
            <i class="fas fa-bell mr-1"></i>
            {{ "notifications"|trans({}, "catroweb") }}
            <span
                class="badge-pill badge-danger user-notification-badge all-notifications-dropdown user-notification-badge-font"></span>
            <i id="notifications-dropdown-arrow" class="caret-icon fa fa-caret-left"></i>
          </a>

          <div id="notifications-dropdown-content" class="notifications-dropdown-content">

            <a class="nav-link"
               href="{{ path('user_notifications', { 'notification_type': "allNotifications" }) }}"
               id="btn-notifications">
              <i class="fas fa-bell mr-1"></i>
              {{ "allNotifications"|trans({}, "catroweb") }}
              <span
                  class="badge-pill badge-danger user-notification-badge-dropdown all-notifications user-notification-badge-font"></span>
            </a>

            <a class="nav-link"
               href="{{ path('user_notifications', { 'notification_type': "followers" }) }}"
               id="btn-followers">

              <i class="fas fa-user"></i>
              {{ "FollowersNotifications"|trans({}, "catroweb") }}
              <span
                  class="badge-pill badge-danger user-notification-badge-dropdown followers user-notification-badge-font"></span>
            </a>

            <a class="nav-link"
               href="{{ path('user_notifications', { 'notification_type': "likes" }) }}"
               id="btn-likes">
              <i class="fas fa-thumbs-up"></i>
              {{ "LikeNotifications"|trans({}, "catroweb") }}
              <span
                  class="badge-pill badge-danger user-notification-badge-dropdown likes user-notification-badge-font"></span>
            </a>

            <a class="nav-link"
               href="{{ path('user_notifications', { 'notification_type': "comments" }) }}"
               id="btn-comments">
              <i class="fas fa-comments"></i>

              {{ "CommentNotifications"|trans({}, "catroweb") }}
              <span
                  class="badge-pill badge-danger user-notification-badge-dropdown comments user-notification-badge-font"></span>
            </a>
            <a class="nav-link"
               href="{{ path('user_notifications', { 'notification_type': "remix" }) }}"
               id="btn-remix">
              <i class="fab fa-r-project"></i>

              {{ "RemixNotifications"|trans({}, "catroweb") }}
              <span
                  class="badge-pill badge-danger user-notification-badge-dropdown remixes user-notification-badge-font"></span>
            </a>

          </div>

        </div>

      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url('profile') }}" id="btn-profile">
          <i class="fas fa-user-circle mr-1"></i>
          {{ 'menu.profile'|trans({}, "catroweb") }}
        </a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url('sonata_admin_dashboard') }}" id="btn-admin">
            <i class="fas fa-user-tie mr-1"></i>
            {{ 'menu.admin'|trans({}, "catroweb") }}
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ url('catrobat_follower') }}" id="btn-follow">
          <i class="fas fa-user"></i>
          <span>{{ 'menu.followersAndFollowing'|trans({}, "catroweb") }}</span>
        </a>
      </li>

    {% else %} {# login #}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('login') }}" id="btn-login">
          <i class="fas fa-sign-in-alt mr-1"></i>
          <span>{{ 'menu.login'|trans({}, "catroweb") }}</span>
        </a>
      </li>
    {% endif %}

    {# Always visible #}
    <li class="nav-item">
      <a class="nav-link" href="{{ url('catrobat_web_help') }}" id="btn-tutorials">
        <i class="fas fa-hands-helping mr-1"></i>
        <span>{{ 'menu.helpAndTutorials'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    {# logout #}
    {% if app.user and app.session and not app.session.get('webview-auth') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('logout') }}" id="btn-logout">
          <i class="fas fa-sign-out-alt mr-1"></i>
          {{ 'menu.logout'|trans({}, "catroweb") }}
        </a>
      </li>
    {% endif %}

    <hr>

    {# Programs #}
    <li id="nav-featured" class="nav-item">
      <a class="nav-link" href="{{ path('index') }}#featured" id="btn-featured">
        <i class="fas fa-star mr-1"></i>
        <span>{{ 'programs.featured'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-newest" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#newest" id="btn-newest">
        <i class="fas fa-clock mr-1"></i>
        <span>{{ 'programs.newest'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-recommended" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#recommended" id="btn-recommended">
        <i class="fas fa-thumbs-up mr-1"></i>
        <span>{{ 'programs.recommended'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-scratch-remixes" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#scratchRemixes" id="btn-recommended">
        <i class="fab fa-r-project"></i>
        <span>{{ 'programs.scratchremixes'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-most-downloaded" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#mostDownloaded" id="btn-most-downloaded">
        <i class="fas fa-download mr-1"></i>
        <span>{{ 'programs.most.downloaded'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-most-viewed" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#mostViewed" id="btn-most-viewed">
        <i class="fas fa-eye mr-1"></i>
        <span>{{ 'programs.most.viewed'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-random" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#random" id="btn-random">
        <i class="fas fa-dice mr-1"></i>
        <span>{{ 'programs.random'|trans({}, "catroweb") }}</span>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled">
    {% if sidebar_ul is not empty %}
      {{ sidebar_ul|raw }}
    {% endif %}
  </ul>

</nav>
<div id="sidebar-overlay"></div>