<nav id="sidebar">
  <a class="logo" href="{{ path('index') }}"
     style="background-image:url('{{ asset('images/logo/catrobat_text.svg') }}')"><span
        class="sr-only">{{ "menu.home"|trans({}, "catroweb") }}</span></a>
  <ul class="list-unstyled" id="project-navigation">
    {% if theme() == 'pocketgalaxy' %}{# TODO maybe integrate in dynamic theming? #}
      <li class="nav-item">
        <a id="event-link" class="nav-link" href="http://www.galaxygamejam.com/AT/main.html">
          Event
        </a>
      </li>
    {% endif %}

    {# logged in #}
    {% if app.user %}


    <li class="nav-item" id="sidebar-notifications">
        <a id="notifications-dropdown-toggler" class="nav-link collapsible">
          <i class="link-icon fas fa-bell"></i>
          <span class="text">{{ "notifications"|trans({}, "catroweb") }}</span>
          <span class="badge-pill badge-danger all-notifications-dropdown"></span>
          <i id="notifications-dropdown-arrow" class="fas fa-caret-left"></i>
        </a>

        <div id="notifications-dropdown-content" class="notifications-dropdown-content">

          <a class="nav-link"
             href="{{ path('user_notifications', { 'notification_type': "allNotifications" })}}"
             id="btn-notifications">
            <i class="link-icon fas fa-bell"></i>
            <span class="text">{{ "allNotifications"|trans({}, "catroweb") }}</span>
            <span class="badge-pill badge-danger all-notifications"></span>
          </a>

          <a class="nav-link"
             href="{{ path('user_notifications', { 'notification_type': "followers" }) }}"
             id="btn-followers">

            <i class="link-icon fas fa-user"></i>
            <span class="text">{{ "FollowersNotifications"|trans({}, "catroweb") }}</span>
            <span class="badge-pill badge-danger followers"></span>
          </a>

          <a class="nav-link" href="{{ path('user_notifications', { 'notification_type': "likes" }) }}" id="btn-likes">
            <i class="link-icon fas fa-thumbs-up"></i>
            <span class="text">{{ "LikeNotifications"|trans({}, "catroweb") }}</span>
            <span class="badge-pill badge-danger likes"></span>
          </a>

          <a class="nav-link" href="{{ path('user_notifications', { 'notification_type': "comments" }) }}" id="btn-comments">
            <i class="link-icon fas fa-comments"></i>
            <span class="text">{{ "CommentNotifications"|trans({}, "catroweb") }}</span>
            <span class="badge-pill badge-danger comments"></span>
          </a>
          <a class="nav-link" href="{{ path('user_notifications', { 'notification_type': "remix" }) }}" id="btn-remix">
            <i class="link-icon fab fa-r-project"></i>
            <span class="text">{{ "RemixNotifications"|trans({}, "catroweb") }}</span>
            <span class="badge-pill badge-danger remixes"></span>
          </a>

        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url('profile') }}" id="btn-profile">
          <i class="link-icon fas fa-user-circle"></i>
          {{ 'menu.profile'|trans({}, "catroweb") }}
        </a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url('sonata_admin_dashboard') }}" id="btn-admin">
            <i class="link-icon fas fa-user-tie"></i>
            {{ 'menu.admin'|trans({}, "catroweb") }}
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ url('catrobat_follower') }}" id="btn-follow">
          <i class="link-icon fas fa-user"></i>
          <span>{{ 'menu.followersAndFollowing'|trans({}, "catroweb") }}</span>
        </a>
      </li>

    {% else %} {# login #}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('login') }}" id="btn-login">
          <i class="link-icon fas fa-sign-in-alt"></i>
          <span>{{ 'menu.login'|trans({}, "catroweb") }}</span>
        </a>
      </li>
    {% endif %}

    {# Always visible #}
    <li class="nav-item">
      <a class="nav-link" href="{{ url('catrobat_web_help') }}" id="btn-tutorials">
        <i class="link-icon fas fa-hands-helping"></i>
        <span>{{ 'menu.helpAndTutorials'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    {# logout #}
    {% if app.user and app.session and not app.session.get('webview-auth') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url('logout') }}" id="btn-logout">
          <i class="link-icon fas fa-sign-out-alt"></i>
          {{ 'menu.logout'|trans({}, "catroweb") }}
        </a>
      </li>
    {% endif %}

    <hr>

    {# Programs #}
    <li id="nav-featured" class="nav-item">
      <a class="nav-link" href="{{ path('index') }}#featured" id="btn-featured">
        <i class="link-icon fas fa-star"></i>
        <span>{{ 'programs.featured'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-newest" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#newest" id="btn-newest">
        <i class="link-icon fas fa-clock"></i>
        <span>{{ 'programs.newest'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-recommended" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#recommended" id="btn-recommended">
        <i class="link-icon fas fa-thumbs-up"></i>
        <span>{{ 'programs.recommended'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-scratch-remixes" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#scratchRemixes" id="btn-recommended">
        <i class="link-icon fab fa-r-project"></i>
        <span>{{ 'programs.scratchremixes'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-most-downloaded" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#mostDownloaded" id="btn-most-downloaded">
        <i class="link-icon fas fa-download"></i>
        <span>{{ 'programs.most.downloaded'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-most-viewed" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#mostViewed" id="btn-most-viewed">
        <i class="link-icon fas fa-eye"></i>
        <span>{{ 'programs.most.viewed'|trans({}, "catroweb") }}</span>
      </a>
    </li>

    <li id="nav-random" class="nav-item" style="display:none">
      <a class="nav-link" href="{{ path('index') }}#random" id="btn-random">
        <i class="link-icon fas fa-dice"></i>
        <span>{{ 'programs.random'|trans({}, "catroweb") }}</span>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled">
    {% if sidebar_ul is not empty %}
      {{ sidebar_ul|raw }}
    {% endif %}
  </ul>

</nav>
<div id="sidebar-overlay"></div>