{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/index.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  {% if not app.user %}
    {{ include('Index/welcome-section.html.twig') }}
  {% endif %}

  <div id="featuredPrograms">

      <h2>{{ "programs.featured"|trans({}, "catroweb") }}</h2>
    {% if featured|length > 0 %}
      {{ include('Index/featured_programs_carousel.html.twig',
        { 'carousel' :
          {
            'id' : 'feature-slider',
            'slideCount' : featured|length,
            'slides' : featured,
            'classes' : '',
            'controls' : true
          }
        }
      ) }}
    {% endif %}

  </div>

  {% if theme() == 'pocketgalaxy' %}

    <div id="submissions">
      <h2>{{ "programs.submitted"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="sample">
      <h2>{{ "programs.sample"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="related">
      <h2>{{ "programs.related"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

  {% else %}

    <div id="newest" style="display:none">
      <h2>{{ "programs.newest"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="example" style="display:none">
      <h2>{{ "programs.example"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="recommended" style="display:none">
      <h2>{{ "programs.recommended"|trans({}, "catroweb") }}
        <span id="help-button" class="material-icons mdc-icon-button"
           data-toggle="tooltip" title="Help"
           data-help-title="{{ "indexPage.recommendedSection.info.title"|trans({}, "catroweb") }}"
           data-help-description="{{ "indexPage.recommendedSection.info.description"|trans({}, "catroweb") }}">
          help_outline
        </span>
      </h2>
      <div class="programs"></div>
    </div>

    <div id="mostDownloaded" style="display:none">
      <h2>{{ "programs.most.downloaded"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="mostViewed" style="display:none">
      <h2>{{ "programs.most.viewed"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="scratchRemixes" style="display:none">
      <h2>{{ "programs.scratchremixes"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

    <div id="random" style="display:none">
      <h2>{{ "programs.random"|trans({}, "catroweb") }}</h2>
      <div class="programs"></div>
    </div>

  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ asset('js/Index.min.js') }}"></script>
  <script>
    let index = new Index("{{ path('click_stats') }}", "{{ path('homepage_click_stats') }}",
      "{{ "ok"|trans({}, "catroweb") }}")
    {% if theme() == 'pocketgalaxy' %}
    index.gamejamInit('{{ path('api_gamejam_sample_programs') }}?q=GalaxyGameJam',
      '{{ path('api_gamejam_submissions') }}?q=GalaxyGameJam', '{{ path('api_search_programs') }}?q=galaxy')
    {% else %}
    index.init('{{ path('api_recent_programs') }}',
      "{{ constant('App\\Catrobat\\RecommenderSystem\\RecommendedPageId::INDEX_PAGE') }}",
      '{{ path('api_recsys_general_projects') }}', '{{ path('api_most_downloaded_programs') }}',
      '{{ path('api_most_viewed_programs') }}', '{{ path('api_scratch_remix') }}',
      '{{ path('api_random_programs') }}', '{{ path('api_example_programs') }}')
    index.showOauthPopup('{{ path('oauth_first_login') }}','{{ 'oauthInfo' | trans({'%link_start%' : '<a href="'~path('profile')~'">', '%link_end%' : '</a>'}, 'catroweb') | raw }}',
      '{{ 'oauthPopUpTitle' | trans({}, 'catroweb') }}', '{{ 'ok' | trans({}, 'catroweb') }}')
    {% endif %}
  </script>
{% endblock %}
