{% extends 'Default/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/index.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/project_list.css') }}" media="screen"/>
{% endblock %}

{% block body %}

    {% if not app.user %}
        {{ include('Index/welcome-section.html.twig') }}
    {% endif %}

  <div id="featuredPrograms">
    {% if featured|length > 0 %}
      <h2>{{ "programs.featured"|trans({}, "catroweb") }}</h2>
      {{ include('Index/featured_programs_carousel.html.twig',
        { 'carousel' :
          {
            'id' : 'feature-slider',
            'slideCount' : featured|length,
            'slides' : featured,
            'classes' : '',
            'controls' : true
          }
        }
      ) }}
    {% endif %}

    </div>
    <div id="home-projects">
        {# array values: [api project_type, translation, property to show] #}
        {% for category in [
            ['recent', 'newest', 'uploaded'],
            ['example', 'example', 'author'],
            ['recommended', 'recommended', 'views'],
            ['most_downloaded', 'most.downloaded', 'downloads'],
            ['most_viewed', 'most.viewed', 'views'],
            ['scratch', 'scratchremixes', 'views'],
            ['random', 'random', 'uploaded']
        ] %}
            <div id="home-projects__{{ category[0] }}" data-category="{{ category[0] }}"
                 data-property="{{ category[2] }}" class="project-list loading horizontal">
                <div class="container">
                    <div class="project-list__title">
                        <h2>{{ ("programs." ~ category[1]) | trans({}, "catroweb") }}</h2>
                        <div class="project-list__title__btn-toggle btn-view-open">
                            <div class="project-list__title__btn-toggle__text">{{ "show-more" | trans({}, "catroweb") }}</div>
                            <div class="project-list__title__btn-toggle__icon material-icons">arrow_forward</div>
                        </div>
                    </div>
                    <div class="projects-spinner-container">
                        {% include 'Default/loadingSpinner.html.twig' only %}
                    </div>
                    <div class="project-list__wrapper">
                        <div class="projects-container"></div>
                        <div class="project-list__chevrons">
                            <div class="project-list__chevrons__left material-icons mdc-icon-button" style="display: none">chevron_left</div>
                            <div class="project-list__chevrons__right material-icons mdc-icon-button">chevron_right</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <i class="material-icons d-none" id="project-opening-spinner" style="margin: auto">
        {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'project-opening-spinner' ~ suffix|default(), 'small': 'true'} %}
    </i>

{% endblock %}

{% block js %}
  <script src="{{ asset('js/LazyLoadIframes.min.js') }}"></script>
  <script>const flavor = '{{ theme() }}'</script>
  <script>const baseUrl = '{{ app.request.getBaseURL() }}'</script>
  <script src="{{ asset('js/ProjectList.min.js') }}"></script>
  <script src="{{ asset('js/Index.min.js') }}"></script>
  <script>
    const index = new Index("{{ path('click_stats') }}", "{{ path('homepage_click_stats') }}",
            "{{ "ok"|trans({}, "catroweb") }}")
    index.init()
    index.showOauthPopup('{{ path('oauth_first_login') }}', '{{ 'oauthInfo' | trans({'%link_start%' : '<a href="'~path('profile')~'">', '%link_end%' : '</a>'}, 'catroweb') | raw }}',
            '{{ 'oauthPopUpTitle' | trans({}, 'catroweb') }}', '{{ 'ok' | trans({}, 'catroweb') }}')
  </script>
{% endblock %}
