{% if not isWebview() %}

  <div id="welcome-section">
    <div class="mb-4">
      <h3>{{ "programs.welcome.title"|trans({'%theme%': getThemeDisplayName()}, "catroweb") }}</h3>
      <h3>{{ "programs.welcome.subtitle"|trans({}, "catroweb") }}</h3>
    </div>

    <div id="welcome-section-container" class="mb-3">
      <div class="flex-shrink help-video-container">
        {{ include('help/youteHelpVideo.html.twig') }}
      </div>
      <div class="flex-no-shrink help-download-container">
        <div class="col-12">
          <a href="{{ google_play_url }}">
            <div class="catro-card help-card primary google-play">
              <div class="catro-content">
                <div class="row">
                  <div class="col-8 col-sm-8">
                    <div class="catro-card-title">
                      {{ "help-cards.headings.getinvolvedGoogle"|trans({}, "catroweb") }}
                    </div>
                    {{ "help-cards.text.getinvolved"|trans({}, "catroweb") }}
                  </div>
                  <img alt="Play Store Logo" src="{{ asset('images/help/google_playstore.png') }}"/>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          {% if theme() == "luna" %}
            <a href="https://catrob.at/lcd">
              <div class="catro-card help-card primary discord">
                <div class="catro-content">
                  <div class="row">
                    <div class="col-8 col-sm-8">
                      <div class="catro-card-title">
                        {{ "help-cards.headings.discord"|trans({}, "catroweb") }}
                      </div>
                      {{ "help-cards.text.discord"|trans({}, "catroweb") }}
                    </div>
                    <img alt="Discord Logo" src="{{ asset('images/help/Discord-Logo-White.svg') }}"/>
                  </div>
                </div>
              </div>
            </a>
          {% else %}
          <a href="https://itunes.apple.com/app/pocket-code/id1117935892">
            <div class="catro-card help-card apple primary">
              <div class="catro-content">
                <div class="row">
                  <div class="col-8 col-sm-8">
                    <div class="catro-card-title">
                      {{ "help-cards.headings.getinvolvedApple"|trans({}, "catroweb") }}
                    </div>
                    {{ "help-cards.text.getinvolved"|trans({}, "catroweb") }}
                  </div>
                  <img alt="Apple Logo" src="{{ asset('images/help/apple_logo.png') }}"/>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}   {#{% if not isWebview() %}#}

