{% if not isWebview() %}

  <div id="welcome-section">
    <div class="mb-4">
      <h1>{{ "programs.welcome.title"|trans({'%theme%': getThemeDisplayName()}, "catroweb") }}</h1>
      {% if theme() == 'embroidery' %}
        <h3>{{ "programs.welcome.subtitle_embroidery"|trans({}, "catroweb") }}</h3>
      {% else %}
      <h3>{{ "programs.welcome.subtitle"|trans({}, "catroweb") }}</h3>
      {% endif %}
    </div>

    <div id="welcome-section-container" class="mb-3">
      <div class="flex-shrink help-video-container">
        {{ include('help/youteHelpVideo.html.twig') }}
      </div>

      <div class="flex-no-shrink help-download-container">
        <a target="_blank" href="https://catrob.at/gp">
          <div class="help-card primary d-flex align-items-center" style="flex-direction: column; justify-content: center;">
            <div class="h1 {% if theme() == 'luna'%} text-white {% endif %}">
              <img style="width: 60px;" alt="Play Store Logo" src="{{ asset('images/help/google_playstore.png') }}"/>
              <span class="ml-2"> Google Play</span>
            </div>
          </div>
        </a>

        {% if theme() == "luna" %}
          <a target="_blank" href="https://catrob.at/lcd">
            <div class="primary help-card d-flex align-items-center" style="flex-direction: column; justify-content: center;">
              <div class="h1 text-white">
                <img style="width: 75px; vertical-align:middle;" alt="Discord server" src="{{ asset('images/help/Discord-Logo-White.svg') }}">
                <span>Discord chat</span>
              </div>
            </div>
          </a>
        {% elseif theme() == 'arduino' %}
          <div class="catro-card help-card primary discord" style="visibility: hidden">
            {#   show nothing for now   #}
          </div>
        {% elseif theme() == 'embroidery' %}
            <a target="_blank" href="https://www.instagram.com/code_n_stitch/">
              <div class="primary help-card d-flex align-items-center" style="flex-direction: column; justify-content: center;">
                <div class="h1">
                  <img style="width: 60px; vertical-align:middle;" alt="Code&Stich Instagram" src="{{ asset('images/help/instagram.svg') }}">
                  <span class="ml-2">Instagram</span>
                </div>
              </div>
            </a>
        {% else %}
        <a target="_blank" href="https://itunes.apple.com/app/pocket-code/id1117935892">
          <div class="help-card primary d-flex align-items-center" style="flex-direction: column; justify-content: center;">
            <div class="h1">
              <img style="width: 50px;" alt="Play Store Logo" src="{{ asset('images/help/apple_logo.png') }}"/>
              <span class="ml-2"> App Store</span>
            </div>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}   {#{% if not isWebview() %}#}

