{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/index.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  <div id="featuredPrograms">
    <h1>{{ "programs.featured"|trans({}, "catroweb") }}</h1>
    <div id="feature-slider" class="owl-carousel">
    {% for feature in featured %}
      <div><a href="{{ feature.url }}"><img src="{{ asset(feature.image) }}" /></a></div>
    {% endfor %}
    </div>
  </div>

  <div id="sample">
    <h1>{{ "programs.sample"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>
  
  <div id="submissions">
    <h1>{{ "programs.submitted"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>

    <div id="related">
    <h1>{{ "programs.related"|trans({}, "catroweb") }}</h1>
    <div class="programs"></div>
  </div>
  
{% endblock %}

{% block js %}
  <script src="{{ asset('./js/plugins/owl.carousel.min.js') }}"></script>
  <script>
    var sample = new ProgramLoader('#sample', '{{ path('api_gamejam_sample_programs') }}?q=GalaxyGameJam');
    var submissions = new ProgramLoader('#submissions', '{{ path('api_gamejam_submissions') }}?q=GalaxyGameJam');
    var related = new ProgramLoader('#related', '{{ path('api_search_programs') }}?q=galaxy');
    sample.init();
    submissions.init();
    related.init();
  </script>
{% endblock %}
