{% extends 'Default/base.html.twig' %}
{% block page_title %}{{ "codeview.title"|trans({}, "catroweb") }}{% endblock %}
{% block back_path %}{{ path('program', { 'id' : id }) }}{% endblock %}
{# Catblocks is broken in the moment therefor no search would work. ToDo: Enable as soon as it's working again #}
{% block no_search %}true{% endblock %}


{% block head %}
  {# Until catblocks supports bs5 #}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {{ encore_entry_link_tags('catblocks_code_view') }}
  {% if isVersionSupportedByCatBlocks(version) %}
    <link rel="stylesheet" href="{{ asset('catblocks/main.css') }}"/>
  {% endif %}
{% endblock %}

{% block body %}

  <div class="d-flex justify-content-center">
    <i class="material-icons" id="code-view-spinner">
      {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'code-view-spinner' ~ suffix|default()} %}
    </i>
  </div>
  {% if isVersionSupportedByCatBlocks(version) %}

    <div class="bootstrap-iso">
      <div id='catblocks-code-container'>
      </div>
    </div>
    {# As long as catblocks is not stable we need to also load the old view as backup #}
    {{ render(controller('App\\Catrobat\\Controller\\Web\\CodeViewController:oldView', {'id' : id, 'visible' : false })) }}
  {% else %}
    {{ render(controller('App\\Catrobat\\Controller\\Web\\CodeViewController:oldView', {'id' : id })) }}
  {% endif %}

{% endblock %}


{% block javascript %}

<script src="{{ asset('js/OldCodeView.js') }}"></script>

{% if isVersionSupportedByCatBlocks(version) %}
  <script src="{{ asset('js/modules/jquery.min.js') }}"></script>
  <script src="{{ asset('js/modules/bootstrap.min.js') }}"></script>
  <script src="{{ asset('catblocks/CatBlocks.js') }}"></script>
  <script src="{{ asset('js/ProgramCodeView.js') }}"></script>
  <script>
    let codeView = new ProgramCodeView('{{ app.request.getSchemeAndHttpHost() ~ '/' }}',
      '{{ extracted_path }}', '{{ extracted_dir_hash }}',
      '{{ app.request.getLocale() }}', '{{ app_env }}', CatBlocks)
    codeView.init()
  </script>
{% endif %}

{% endblock %}

