<div id="comments-wrapper" class="col-12">
  {% for comment in comments %}
    <div id="comment-{{ comment.id }}" 
         data-path-program-comment="{{ path('program_comment', { id : comment.id }) }}"
         class="{% if are_replies is not defined %} 
                  single-comment
                {% else %}
                  single-reply
                {% endif %}" 
         {% if loop.index> 5 %}
           style="display: none"
         {% endif %}>

      <div class="comment-avatar">
        <img class="comment-avatar-img" src="{% if commentAvatars[comment.id] is defined %}
                    {{ commentAvatars[comment.id] }}
                  {% else %}
                    {{ asset('images/default/avatar_default.png') }}
                  {% endif %}" alt="Card image">
      </div>

      <div class="comment-payload-wrapper">
        <div class="name-date-wrapper">
          <a href="{{ url('profile', { id : comment.user.id }) }}">
            <div id="profile-comment-user-id-{{ comment.user.id }}" class="usr-name no-overflow">
              {{ comment.username }}
            </div>
          </a>
          
          {% if (isAdmin or not app.user or comment.id != app.user.id)  and (not comment.isDeleted) %}
            {#  Everybody, but the comment owner must be able to report a comment  #}
            <a id="comment-report-button-{{ comment.id }}" class="comment-report-button"
                data-bs-toggle="tooltip" title="{{ 'programs.report'|trans({}, 'catroweb') }}">
              <i class="material-icons">report</i>
            </a>
          {% endif %}

          {% if (isAdmin or (app.user and comment.user.id == app.user.id)) and (not comment.isDeleted)%}
            {#  Only Admins and comment owner can delete the comment  #}
            <a id="comment-delete-button-{{ comment.id }}" class="comment-delete-button"
                data-bs-toggle="tooltip" title="{{ 'programs.delete'|trans({}, 'catroweb') }}">
              <i class="ms-2 material-icons text-danger">delete</i>
            </a>
          {% endif %}
        </div>
        <div id="comment-text-wrapper-{{ comment.id }}" class="comment-text">
          {% if comment.isDeleted %}
            <p><span class="deleted-comment">{{ 'programs.deletedComment'|trans({}, 'catroweb') }}</span></p>
          {% else %}
            <p id="comment-text-{{ comment.id }}">{{ comment.text }}</p>
          {% endif %}
          
        </div>
        <div class="date">
          <i class="material-icons">access_time_filled</i>
          <span class="icon-text no-overflow comment-upload-date">{{ comment.getUploadDate }}</span>

          {% if comment.nr_replies is defined %}
          <i class="material-icons space-left">comment</i>
          <span>
            {{ comment.nr_replies }} 
            {{ (comment.nr_replies == 1) ? 'programs.replyLabel'|trans({}, 'catroweb') : 'programs.repliesLabel'|trans({}, 'catroweb') }}
          </span>
          {% endif %}
          
          {% if (not app.user or comment.user.id != app.user.id) and (not comment.isDeleted) %}
          
          <span>
            <span id="comment-translation-button-{{ comment.id }}" class="comment-translation-button catro-icon-button"
              data-bs-toggle="tooltip" title="{{ 'programs.showTranslation'|trans({}, 'catroweb') }}">
              <i class="ms-3 material-icons">
                translate
              </i>
            </span>
            <span id="comment-translation-loading-spinner-{{ comment.id }}" class="comment-translation-loading-spinner"
              style="display: none;">
              <i class="material-icons">
                {% include 'components/loading_spinner.html.twig' with {'size': 'small'} %}
              </i>
            </span>
            <span id="remove-comment-translation-button-{{ comment.id }}"
              class="remove-comment-translation-button catro-icon-button" style="display: none" data-bs-toggle="tooltip"
              title="Hide Translation">
              <i class="ms-3 material-icons" data-bs-toggle="tooltip"
                title="{{ 'programs.hideTranslation'|trans({}, 'catroweb') }}">
                close
              </i>
            </span>
          </span>
          <div class="comment-translation" data-path-translate-comment="{{ path('translate_comment', {'id': comment.id}) }}"></div>
          {% endif %}
        </div>

        <div id="comment-translation-wrapper-{{ comment.id }}" class="comment-translation-wrapper"
          style="display: none">
          <div id="comment-translation-credit-wrapper-{{ comment.id }}">
            <span id="comment-translation-before-languages-{{ comment.id }}" class="translation-credit"></span>
            <span id="comment-translation-first-language-{{ comment.id }}" class="translation-credit"></span>
            <span id="comment-translation-between-languages-{{ comment.id }}" class="translation-credit"></span>
            <span id="comment-translation-second-language-{{ comment.id }}" class="translation-credit"></span>
            <span id="comment-translation-after-languages-{{ comment.id }}" class="translation-credit"></span>
          </div>
          <p id="comment-text-translation-{{ comment.id }}" class="comment-text-translation" lang=""></p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>