{% if program.tags|length > 0  or program.extensions|length > 0 %}
  <div class="row">
    <div class="col-12">
      <div id="tag-extension-container">
        {% if program.extensions|length > 0 %}
          <div id="extensions">
            <p>{{ ("extensions.title")|trans({}, "catroweb") }}:</p>
            <div class="list">
              {% for extension in program.extensions %}
                <a class="rec-programs"
                   href="{{ url('extension_search', { q : extension.getInternalTitle() }) }}">
                    <span class="badge rounded-pill bg-primary">{{ extension.getTitleLtmCode()|trans({}, "catroweb") }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if  program.tags|length > 0 %}
          <div id="tags">
            <p>{{ ("tags.title")|trans({}, "catroweb") }}:</p>
            <div class="list">
              {% for tag in program.tags %}
                <a class="rec-programs" href="{{ url('tag_search', { q : tag.getInternalTitle() }) }}">
                    <span class="badge rounded-pill bg-primary">{{ tag.getTitleLtmCode()|trans({}, "catroweb") }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}