<div class="row">
  <div class="col mt-3 mb-3">
    <div class="h2" id="description-headline">
        <span>
          {{ "description"|trans({}, "catroweb") }}
          {% if app.user and my_program %}
            <a data-bs-toggle="tooltip" title="{{ 'programs.editDescription'|trans({}, 'catroweb') }}">
              <i id="edit-description-button"
                 class="ms-3 material-icons catro-icon-button align-bottom">edit</i>
            </a>
          {% endif %}
        </span>
    </div>
    {% if app.user and my_program %}
      <div id="edit-description-ui" class="d-none">
        <div id="edit-description-error" style="display:none;" class="alert alert-danger"></div>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label description">
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-text-field__resizer">
              <textarea class="mdc-text-field__input" id="edit-description" name="edit-description" class="mt-2 mb-2"
                        title="_edit-description"
                        maxlength="{{ max_description_size }}" style="width: 100%;" rows="10" cols="100">
                {% if program.description %}{{program.description}}{% else %}{{ "noDescription"|trans({}, "catroweb") }}{% endif %}
              </textarea>
          </span>
          <span class="mdc-line-ripple"></span>
        </label>
        <button id="edit-description-submit-button" class="btn btn-primary p-3 mb-5">
          <i class="material-icons align-bottom">save</i>
          {{ 'programs.saveDescription'|trans({}, 'catroweb') }}
        </button>
      </div>
    {% endif %}
    <div id="description-credits-container" style="height:auto; overflow: hidden;">
      <div id="description" class="text-break">
        {% if program.description %}
          {{ program.description|nl2br }}
        {% else %}
          {{ "noDescription"|trans({}, "catroweb") }}
        {% endif %}
      </div>
      <div id="description-translation" class="text-break" style="display: none;"></div>
      <div class="h2 mt-3" id="credits-headline">
          <span>
            {{ "credits"|trans({}, "catroweb") }}
            {% if app.user and my_program %}
              <a data-bs-toggle="tooltip" title="{{ 'programs.editCredits'|trans({}, 'catroweb') }}">
                <i id="edit-credits-button"
                   class="ms-3 material-icons catro-icon-button align-bottom">edit</i>
              </a>
            {% endif %}
          </span>
      </div>
      <div id="credits" class="text-break">
        {% if program.credits %}
          {{ program.credits|nl2br }}
        {% else %}
          {{ "noCredits"|trans({}, "catroweb") }}
        {% endif %}
      </div>
      <div id="credits-translation-wrapper" style="display: none;">
        <div id="credits-translation" class="text-break"></div>
        <span id="program-translation-before-languages" class="translation-credit"></span>
        <span id="program-translation-first-language" class="translation-credit"></span>
        <span id="program-translation-between-languages" class="translation-credit"></span>
        <span id="program-translation-second-language" class="translation-credit"></span>
        <span id="program-translation-after-languages" class="translation-credit"></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if app.user and my_program %}
      <div id="edit-credits-ui" class="d-none">
        <div class="h2 mt-3" id="credits-headline">
            <span>
              {{ "credits"|trans({}, "catroweb") }}
              {% if app.user and my_program %}
                <a data-bs-toggle="tooltip" title="{{ 'programs.editCredits'|trans({}, 'catroweb') }}">
                  <i id="edit-credits-button"
                     class="ms-3 material-icons catro-icon-button align-bottom">edit</i>
                </a>
              {% endif %}
            </span>
        </div>
        <div id="notes-and-credits-description">{{ "notesAndCreditsDescription"|trans({}, "catroweb") }}</div>
        <div id="edit-credits-error" style="display:none;" class="alert alert-danger"></div>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label description credits">
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-text-field__resizer">
            <textarea class="mdc-text-field__input" id="edit-credits" name="edit-credits" title="_edit-credits"
                      maxlength="{{ max_description_size }}" style="width: 100%" rows="10" cols="100">
              {% if program.credits %}{{ program.credits }}{% else %}{{ "noCredits"|trans({}, "catroweb") }}{% endif %}
            </textarea>          </span>
          <span class="mdc-line-ripple"></span>
        </label>
        <button id="edit-credits-submit-button" class="btn btn-primary p-3 mb-5">
          <i class="material-icons align-bottom">save</i>
          {{ 'programs.saveCredits'|trans({}, 'catroweb') }}
        </button>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <a id="descriptionShowMoreToggle" aria-expanded="false"
       aria-controls="descriptionFulltext" href="#"
       class="toggle-content d-none">
      <i class="material-icons">keyboard_arrow_down</i>
      <span id="descriptionShowMoreText" class="text text-capitalize">
          {{ ("more-information")|trans({}, "catroweb") }}
        </span>
    </a>
  </div>
</div>

{% block js %}
  {% if app.user and my_program %}
    {{ encore_entry_script_tags('program_description') }}
  {% endif %}
{% endblock js %}
