{% extends 'Default/base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('project') }}

  <meta property="og:image" content="{{ asset(program_details.screenshotBig) }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image:secure_url" content="{{ asset(program_details.screenshotBig) }}"/>
  <meta property="og:title" content="{{ program.name|escape('html_attr') }}"/>


  {% if program.description is empty %}
    <meta property="og:description"
          content="{{ "programs.checkout_this_program"|trans({}, "catroweb") }}"/>
  {% else %}
    <meta property="og:description" content="{{ program.description|escape('html_attr') }}"/>
  {% endif %}
  <meta property="og:url" content="{{ url('program', {id: program.id}) }}"/>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-5 col-sm-4 col-md-4 col-lg-3">
      {% include 'Program/projectThumbnail.html.twig' %}
    </div>

    <div class="col-7 col-sm-8 col-md-8 col-lg-5">
      <div class="name-wrapper">
        <span id="name" class="h2 program-name">{{ program.name }}</span>
        <span id="name-translation" class="h2 program-name" style="display: none;" lang=""></span>

        {% if app.user and my_program %}
          <span>
            <i id="edit-program-button" class="ms-3 material-icons catro-icon-button align-bottom"
              data-bs-toggle="tooltip" title="{{ 'programs.editProject'|trans({}, 'catroweb') }}">
              edit
            </i>
          </span>
        {% else %}
          <span class="translate-program-button-wrapper">
            <span id="program-translation-button" class="program-translation-button catro-icon-button"
                  data-bs-toggle="tooltip" title="{{ 'programs.showTranslation'|trans({}, 'catroweb') }}">
              <i class="ms-2 material-icons">
                translate
              </i>
            </span>
            <span id="program-translation-loading-spinner" style="display: none;">
              <i class="ms-2 material-icons">
                {% include 'components/loading_spinner.html.twig' with {'size': 'small'} %}
              </i>
            </span>
            <span id="remove-program-translation-button" class="remove-program-translation-button catro-icon-button"
                  style="display: none;"
                  data-bs-toggle="tooltip" title="Hide Translation">
                <i class="ms-2 material-icons" data-bs-toggle="tooltip"
                   title="{{ 'programs.hideTranslation'|trans({}, 'catroweb') }}">
                  close
                </i>
            </span>
          </span>
        {% endif %}
      </div>

      <a class="icon-text align-bottom" id="program-owner-username" style="display: block;"
         href="{{ path('profile', {'id': program.user.id }) }}">
        <i class="material-icons pe-2" id="user-profile-icon">person</i>
        {{ program.user }}
      </a>

      <div class="">
        <i class="material-icons mt-2">query_builder</i>
        <span class="icon-text ms-2 align-bottom mt-2">{{ program_details.age }}</span>
      </div>

      <div class="">
        <i class="material-icons mt-2">description</i>
        <span class="icon-text ms-2 align-bottom mt-2">{{ program_details.filesize }} MB</span>
      </div>

      <div id="project-like" class="d-none d-lg-block mt-3">
        {% include 'Program/program_reactions.html.twig' %}
      </div>
    </div>

    <div class="d-none d-lg-block col-lg-4 mt-4 ">
      {% include 'Program/program_download_button.html.twig' %}
      {% if not isIOS() %}
        <div class="mt-3">
          {% include 'Program/program_apk_generation_buttons.html.twig' %}
        </div>
      {% endif %}
      <div class="mt-3">
        {% include 'components/redirect_button.twig' with {
          'id': 'remixGraphButton',
          'url': path('remix_graph', {'id': program.id }),
          'icon': 'call_split',
          'text': "remixGraph.showRemixGraph"|trans({}, "catroweb")
        } %}
      </div>
      <div class="mt-3">
        {% include 'Program/program_sign_app_button.html.twig' %}
      </div>
    </div>
  </div>

  <div class="row d-lg-none">
    <div class="col-5 col-sm-4 mt-3 ">
      <div id="project-like-small">
        {% include 'Program/program_reactions.html.twig' with {'suffix': '-small'} %}
      </div>
    </div>
    <div class="col-7 col-sm-8 mt-3" style="padding-left: 0;">
      {% include 'Program/program_download_button.html.twig' with {'suffix': '-small'} %}
    </div>
  </div>

  {% include 'Program/program_reactions_modal.html.twig' %}

  {% include 'Program/program_description.html.twig' %}

  {% include 'Program/program_editor_navigation.html.twig' %}

  {% include 'Program/program_editor.html.twig' %}

  {% include 'Program/program_tags.html.twig' %}

  <div class="row d-lg-none">
    {% if not isIOS() %}
      <div class="col-6 mt-3">
        {% include 'Program/program_apk_generation_buttons.html.twig' with {'suffix': '-small'} %}
      </div>
      <div class="col-6 mt-3">
        {% include 'components/redirect_button.twig' with {
          'id': 'remixGraphButton',
          'suffix': '-small',
          'url': path('remix_graph', {'id': program.id }),
          'icon': 'call_split',
          'text': "remixGraph.showRemixGraph"|trans({}, "catroweb")
        } %}
      </div>
    {% else %}
      <div class="col-12 mb-3">
        {% include 'components/redirect_button.twig' with {
          'id': 'remixGraphButton',
          'suffix': '-small',
          'url': path('remix_graph', {'id': program.id }),
          'icon': 'call_split',
          'text': "remixGraph.showRemixGraph"|trans({}, "catroweb")
        } %}
      </div>
    {% endif %}
  </div>
  <div class="row d-lg-none">
    <div class="col-12 mt-3 mb-3">
      {% include 'Program/program_sign_app_button.html.twig' %}
    </div>
  </div>
  {% include 'Program/program_sign_app_modal.html.twig' %}

  {% include 'Program/program_details.html.twig' %}
  <div id="recommended-projects">
    {# array values: [api project_type, translation, property to show] #}
    {% for category in [
      ['more_from_user', 'moreFromThisUser', 'views'],
    ] %}
      <div id="recommended-projects__{{ category[0] }}" data-category="{{ category[0] }}"
           data-property="{{ category[2] }}" class="project-list loading horizontal"
           data-theme="{{ theme() }}"
           data-flavor="{{ flavor() }}"
           data-base-url="{{ app.request.getBaseURL() }}"
           data-project-id="{{ program.id }}"
      >
        <div class="container">
          <div class="project-list__title">
            <h2>{{ ("recommender." ~ category[1]) | trans({"%username%": program.user.username }, "catroweb") }}</h2>
            <div class="project-list__title__btn-toggle btn-view-open">
              <div class="project-list__title__btn-toggle__text">{{ "show-more" | trans({}, "catroweb") }}</div>
              <div class="project-list__title__btn-toggle__icon material-icons">arrow_forward</div>
            </div>
          </div>
          <div class="lazyload projects-spinner-container">
            {% include 'components/loading_spinner.html.twig' only %}
          </div>
          <div class="lazyload project-list__wrapper">
            <div class="lazyload projects-container"></div>
            <div class="lazyload project-list__chevrons">
              <div class="lazyload project-list__chevrons__left material-icons mdc-icon-button" style="display: none;">
                chevron_left
              </div>
              <div class="lazyload project-list__chevrons__right material-icons mdc-icon-button">chevron_right</div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'Program/programComments.html.twig' %}

  <div class="js-project"
       data-project-id="{{ program.id }}"
       data-translated-by-line="{{ 'programs.translatedByLine'|trans({}, 'catroweb') }}"
       data-google-translate-display-name="{{ 'programs.googleTranslate'|trans({}, 'catroweb') }}"
       data-has-description="{{ program.description is not empty }}"
       data-has-credits="{{ program.credits is not empty }}"
       data-theme="{{ theme() }}"
       data-flavor="{{ flavor() }}"
       data-base-url="{{ app.request.getBaseURL() }}"
       data-project-name="{{ program.name }}"
       data-user-role="{% if app.user %}user{% else %}guest{% endif %}"
       data-my-program="{% if my_program %}true{% else %}false{% endif %}"
       data-path-ci-status="{{ path('ci_status', { 'id' : program.id }) }}"
       data-path-ci-build="{{ path('ci_build', { 'id' : program.id }) }}"
       data-path-project-like="{{ path('project_like', { 'id' : program.id }) }}"
       data-path-like-details="{{ path('api_project_likes', { 'id' : program.id }) }}"
       data-trans-apk-prep="{{ 'apk.preparing'|trans({}, "catroweb") }}"
       data-trans-apk-text="{{ 'apk.text'|trans({}, "catroweb") }}"
       data-trans-update-app-header="{{ 'programs.updateAppHeader'|trans({}, "catroweb") }}"
       data-trans-update-app-text="{{ 'programs.updateAppText'|trans({}, "catroweb") }}"
       data-trans-btn-close="{{ 'programs.btnClosePopup'|trans({}, "catroweb") }}"
       data-const-action-add="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::ACTION_ADD') }}"
       data-const-action-remove="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::ACTION_REMOVE') }}"
       data-path-profile="{{ path('profile', {'id': 'USERID'}) }}"
       data-asset-wow-white="{{ asset('images/default/wow_white.svg') }}"
       data-asset-wow-black="{{ asset('images/default/wow_black.svg') }}"
       data-trans-reaction="{{ 'programs.reactionsText'|trans({}, 'catroweb') }}"
       data-trans-download-error="{{ 'programs.downloadErrorText'|trans({}, 'catroweb') }}"
       data-trans-download-start="{{ 'programs.downloadStartText'|trans({}, 'catroweb') }}"
  ></div>

  <div class="js-project-share"
       data-theme-display-name="{{ getThemeDisplayName() }}"
       data-trans-check-out-project="{{ "checkOutProject"|trans({}, "catroweb") }}"
       data-project-url="{{ url('program', { id : program.id }) }}"
       data-trans-share-success="{{ "share.success"|trans({}, "catroweb") }}"
       data-trans-share-error="{{ "share.error"|trans({}, "catroweb") }}"
       data-trans-copy="{{ "copy"|trans({}, "catroweb") }}"
       data-trans-clipboard-success="{{ "clipboard.success_project"|trans({}, "catroweb") }}"
       data-trans-clipboard-fail="{{ "clipboard.fail"|trans({}, "catroweb") }}"
  ></div>
  {# TODO: Disable Report Program for now. Needs a separate flag in database - a new concept!
  <div class="js-project-report"
       data-project-id="{{ program.id }}"
       data-path-report="{{ path('catrobat_api_report_program') }}"
       data-path-login="{{ url('login') }}"
       data-trans-success="{{ 'success.report'                          |trans({}, 'catroweb') }}"
       data-trans-error="{{ "error"                                   |trans({}, "catroweb") }}"
       data-trans-report="{{ "programs.report"                         |trans({}, "catroweb") }}"
       data-trans-cancel="{{ "cancel"                                  |trans({}, "catroweb") }}"
       data-trans-header="{{ "programs.reportDialogHeader"             |trans({}, "catroweb") }}"
       data-trans-reason="{{ "programs.reportDialogReason"             |trans({}, "catroweb") }}"
       data-trans-inappropriate="{{ "programs.reportRadioButtonInappropriate" |trans({}, "catroweb") }}"
       data-trans-copyright="{{ "programs.reportRadioButtonCopyright"     |trans({}, "catroweb") }}"
       data-trans-spam="{{ "programs.reportRadioButtonSpam"          |trans({}, "catroweb") }}"
       data-trans-dislike="{{ "programs.reportRadioButtonDislike"       |trans({}, "catroweb") }}"
       data-const-ok="{{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }}"
       data-logged-in="{{ logged_in }}"
       data-trans-more-info="{{ "more-information"|trans({}, "catroweb") }}"
       data-trans-less-info="{{ "less-information"|trans({}, "catroweb") }}"
  ></div>
  #}
  <div class="js-project-description-credits"
       data-project-id="{{ program.id }}"
       data-has-description={% if program.description %} true {% else %} false {% endif %}
       data-has-credits={% if program.credits %} true {% else %} false {% endif %}
       data-trans-more-info="{{ "more-information"|trans({}, "catroweb") }}"
       data-trans-less-info="{{ "less-information"|trans({}, "catroweb") }}"
       data-trans-confirm-delete="{{ "programs.confrimDelete"|trans({}, "catroweb") }}"
       data-trans-close-editor-prompt="{{ "programs.closeEditorPrompt"|trans({}, "catroweb") }}"
       data-trans-save="{{ "programs.save"|trans({}, "catroweb") }}"
       data-trans-discard="{{ "programs.btnDiscard"|trans({}, "catroweb") }}"
       data-trans-cancel="{{ "cancel"|trans({}, "catroweb") }}"
       data-trans-delete="{{ "programs.delete"|trans({}, "catroweb") }}"
       data-trans-default="{{ "programs.default"|trans({}, "catroweb") }}"
       data-trans-translation-title="{{ "programs.translationTitle"|trans({}, "catroweb") }}"
       data-trans-edit-default="{{ "programs.editDefault"|trans({}, "catroweb") }}"
       data-trans-edit-translation="{{ "programs.editTranslation"|trans({}, "catroweb") }}"
       data-trans-create-translation="{{ "programs.createTranslation"|trans({}, "catroweb") }}"
       data-trans-translations="{{ "programs.translations"|trans({}, "catroweb") }}"
       data-path-edit-program-name="{{ path('edit_program_name', {'id': program.id}) }}"
       data-path-edit-program-description="{{ path('edit_program_description', {'id': program.id}) }}"
       data-path-edit-program-credits="{{ path('edit_program_credits', {'id': program.id}) }}"
  ></div>
  <div class="js-project-comments"
       data-project-id="{{ program_details.id }}"
       data-total-number-of-comments="{{ (program_details.comments|length) }}"
       data-trans-cancel="{{ 'cancel'|trans({}, 'catroweb') }}"
       data-trans-delete-it="{{ 'deleteIt'|trans({}, 'catroweb') }}"
       data-trans-report-it="{{ 'reportIt'|trans({}, 'catroweb') }}"
       data-trans-are-you-sure="{{ 'areYouSure'|trans({}, 'catroweb') }}"
       data-trans-no-way-of-return="{{ 'noWayOfReturn'|trans({}, 'catroweb') }}"
       data-trans-delete-confirmation="{{ 'programs.deleteCommentConfirmation'|trans({}, 'catroweb') }}"
       data-trans-report-confirmation="{{ 'programs.reportCommentConfirmation'|trans({}, 'catroweb') }}"
       data-trans-pop-up-comment-reported-title="{{ 'programs.report_popup_header'|trans({}, 'catroweb') }}"
       data-trans-pop-up-comment-reported-text="{{ 'programs.report_popup'|trans({}, 'catroweb') }}"
       data-trans-pop-up-deleted-title="{{ 'programs.deleted_popup_header'|trans({}, 'catroweb') }}"
       data-trans-pop-up-deleted-text="{{ 'programs.deleted_popup'|trans({}, 'catroweb') }}"
       data-trans-no-admin-rights-message="{{ 'programs.noAdminRights'|trans({}, 'catroweb') }}"
       data-trans-default-error-message="{{ 'somethingWentWrong'|trans({}, 'catroweb') }}"
  ></div>
{% endblock %}

{% block javascript %}
<script>
  const projectConfiguration = {
    id: '{{ program_details.id }}',
    messages: {
      forbidden: '{{ 'api.updateProject.forbidden'|trans({}, 'catroweb') }}',
      notFound: '{{ 'api.updateProject.notFound'|trans({}, 'catroweb') }}',
      screenshotInvalid: '{{ 'api.project.screenshotInvalid'|trans({}, 'catroweb') }}',
    }
  }
</script>
  {{ encore_entry_script_tags('project') }}
{% endblock %}
