<button id="projectStealButton{{ suffix|default('') }}"
        class="btn btn-outline-primary btn-block js-redirect-button"
        data-url="/project/steal/{{ program.id }}"
        data-id="{{ program.id }}"
        data-button-id="projectStealButton{{ suffix|default('') }}"
        data-spinner-id="projectStealButton__loadingSpinner{{ suffix|default('') }}"
        data-icon-id="projectStealButton__icon{{ suffix|default('') }}"
>

  {# Loading spinner during steal #}
  <i id="projectStealButton__spinner{{ suffix|default('') }}" class="material-icons d-none text-start">
    {% include 'components/loading_spinner.html.twig' with {
      'spinner_id': 'projectStealButton__spinner' ~ suffix|default(),
      'size': 'small'}
    %}
  </i>

  {# Icon #}
  <i id="projectStealButton__icon{{ suffix|default('') }}" class="material-icons align-bottom">visibility</i>

  {# Text #}
  <span>Steal Project</span>

</button>
