<div>
  <button id="apk-generate{{ suffix|default('') }}"
          class="btn btn-outline-primary btn-block">
    <i class="material-icons align-bottom">casino</i>
    <span>{{ "apk.prepare"|trans({}, "catroweb") }}</span>
  </button>
</div>

<div>
  <button id="apk-pending{{ suffix|default('') }}"
          class="btn btn-outline-primary btn-block d-none">
    <i class="material-icons align-bottom text-left">
      {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'apk-progressbar' ~ suffix|default(), 'small': true} %}
    </i>
    <span>{{ "apk.preparing"|trans({}, "catroweb") }}</span>
  </button>
</div>

<div>
  <button id="apk-download{{ suffix|default('') }}"
          class="btn btn-outline-primary btn-block d-none">
    <i class="material-icons text-left d-none">
      {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'download-spinner' ~ suffix|default(), 'small': true} %}
    </i>
    <i class="material-icons align-bottom">casino</i>
    <span>{{ "apk.download"|trans({}, "catroweb") }}</span>
  </button>
</div>
<i class="material-icons text-left d-none" id="apk-pb{{ suffix|default('') }}">
  {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'download-progressbar' ~ suffix|default(), 'small': 'true'} only %}</i>
