<button id="code-view{{ suffix|default('') }}"
        class="btn btn-outline-primary btn-block project-redirect"
        data-url='{{ path('code_view', {'id': program.id }) }}'
        data-spinner='#code-view-button-spinner{{ suffix|default('') }}'
        data-icon='#code-view-icon{{ suffix|default('') }}'>
  <i class="material-icons d-none text-left" id="code-view-button-spinner{{ suffix|default('') }}">
    {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'code-view-spinner' ~ suffix|default(), 'size': 'small'} %}
  </i>
  <i class="material-icons align-bottom" id="code-view-icon">extension</i>
  <span>{{ "codeview.title"|trans({}, "catroweb") }}</span>
</button>
