<div class="row">
  <div class="col mt-3 mb-3">
    <div id="description-headline">
      <span class="h2">{{ "description"|trans({}, "catroweb") }}</span>
      {% if app.user and my_program %}
        <span>
          <i id="edit-description-button" class="ms-3 material-icons catro-icon-button align-bottom"
             data-bs-toggle="tooltip" title="{{ 'programs.editDescription'|trans({}, 'catroweb') }}">
            edit
          </i>
          <i id="close-description-editor-button" class="ml-3 material-icons catro-icon-button align-bottom" style="display: none;"
             data-bs-toggle="tooltip" title="{{ 'programs.closeDescriptionEditor'|trans({}, 'catroweb') }}">
            close
          </i>
        </span>
      {% endif %}
    </div>
    {% if app.user and my_program %}
      <div id="edit-description-ui" class="d-none mb-5">
        <div id="edit-description-error" style="display:none;" class="alert alert-danger"></div>
        <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label description">
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-text-field__resizer">
              <span id="description-loading-spinner" style="display: none;">
                <i class="ms-2 material-icons">
                  {% include 'components/loading_spinner.html.twig' with {'size': 'small'} %}
                </i>
              </span>
              <textarea class="mdc-text-field__input mt-2 mb-2" id="edit-description" name="edit-description"
                        title="_edit-description"
                        maxlength="{{ max_description_size }}" style="width: 100%;" rows="10" cols="100">
                {% if program.description %}{{ program.description }}{% else %}{{ "noDescription"|trans({}, "catroweb") }}{% endif %}
              </textarea>
          </span>
          <span class="mdc-line-ripple"></span>
        </label>

        <div class="row justify-content-between" style="margin-top: 1rem; padding-right: 0.75rem;">
          <div class="form-group col-8">
            <div id="description-language-selector" class="mdc-select mdc-select--outlined" {% if (program.description == null) %} style="display: none;" {% endif %}>
              <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span id="description-outlined-select-label"
                          class="mdc-floating-label">{{ 'footer.language'|trans({}, "catroweb") }}</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <span class="mdc-select__selected-text-container">
                  <span id="description-selected-text" class="mdc-select__selected-text" data-selected-value="default"></span>
                </span>
                <span class="mdc-select__dropdown-icon">
                  {% include 'components/mdc_select_svg.html.twig' %}
                </span>
              </div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                <ul id="description-language-selector-list" class="mdc-list" role="listbox">
                  <li class="mdc-list-item" data-value="default" role="option">
                      <span class="mdc-list-item__ripple"></span>
                      <span class="mdc-list-item__text">
                        {{ "programs.default"|trans({}, "catroweb") }}
                      </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <button id="edit-description-submit-button" class="btn btn-primary p-3 col-4">
            <i class="material-icons align-bottom">save</i>
            {{ 'programs.saveDescription'|trans({}, 'catroweb') }}
          </button>
        </div>

      </div>
    {% endif %}
    <div id="description-credits-container" style="height:auto; overflow: hidden;">
      <div id="description" class="text-break">
        {% if program.description %}
          {{ program.description|nl2br }}
        {% else %}
          {{ "noDescription"|trans({}, "catroweb") }}
        {% endif %}
      </div>
      <div id="description-translation" class="text-break" style="display: none;"></div>
      <div class="mt-3" id="credits-headline">
        <span class="h2">{{ "credits"|trans({}, "catroweb") }}</span>
        {% if app.user and my_program %}
          <span>
            <i id="edit-credits-button" data-bs-toggle="tooltip" title="{{ 'programs.editCredits'|trans({}, 'catroweb') }}"
               class="edit-credits-button ms-3 material-icons catro-icon-button align-bottom">
              edit
            </i>
          </span>
        {% endif %}
      </div>
      <div id="credits" class="text-break">
        {% if program.credits %}
          {{ program.credits|nl2br }}
        {% else %}
          {{ "noCredits"|trans({}, "catroweb") }}
        {% endif %}
      </div>
      <div id="credits-translation-wrapper" style="display: none;">
        <div id="credits-translation" class="text-break"></div>
        <span id="program-translation-before-languages" class="translation-credit"></span>
        <span id="program-translation-first-language" class="translation-credit"></span>
        <span id="program-translation-between-languages" class="translation-credit"></span>
        <span id="program-translation-second-language" class="translation-credit"></span>
        <span id="program-translation-after-languages" class="translation-credit"></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if app.user and my_program %}
      <div id="edit-credits-ui" class="d-none mb-5">
        <div class="mt-3" id="credits-headline">
          <span class="h2">{{ "credits"|trans({}, "catroweb") }} </span>
          {% if app.user and my_program %}
            <span>
              <i data-bs-toggle="tooltip" title="{{ 'programs.closeCreditsEditor'|trans({}, 'catroweb') }}"
                 id="close-credits-editor-button" class="ml-3 material-icons catro-icon-button align-bottom">
                close
              </i>
            </span>
          {% endif %}
        </div>
        <div id="notes-and-credits-description">{{ "notesAndCreditsDescription"|trans({}, "catroweb") }}</div>
        <div id="edit-credits-error" style="display:none;" class="alert alert-danger"></div>
        <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label description credits">
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-text-field__resizer">
            <span id="credits-loading-spinner" style="display: none;">
              <i class="ms-2 material-icons">
                {% include 'components/loading_spinner.html.twig' with {'size': 'small'} %}
              </i>
            </span>
            <textarea class="mdc-text-field__input" id="edit-credits" name="edit-credits" title="_edit-credits"
                      maxlength="{{ max_description_size }}" style="width: 100%" rows="10" cols="100">
              {% if program.credits %}{{ program.credits }}{% else %}{{ "noCredits"|trans({}, "catroweb") }}{% endif %}
            </textarea>          </span>
          <span class="mdc-line-ripple"></span>
        </label>

        <div class="row justify-content-between" style="margin-top: 1rem; padding-right: 0.75rem;">
          <div class="form-group col-8">
            <div id="credits-language-selector" class="mdc-select mdc-select--outlined"  {% if (program.credits == null) %} style="display: none;" {% endif %}>
              <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span id="credits-outlined-select-label"
                          class="mdc-floating-label">{{ 'footer.language'|trans({}, "catroweb") }}</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <span class="mdc-select__selected-text-container">
                  <span id="credits-selected-text" class="mdc-select__selected-text" data-selected-value="default"></span>
                </span>
                <span class="mdc-select__dropdown-icon">
                  {% include 'components/mdc_select_svg.html.twig' %}
                </span>
              </div>
              <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                <ul id="credit-language-selector-list" class="mdc-list" role="listbox">
                  <li class="mdc-list-item" data-value="default" role="option">
                      <span class="mdc-list-item__ripple"></span>
                      <span class="mdc-list-item__text">
                        {{ "programs.default"|trans({}, "catroweb") }}
                      </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <button id="edit-credits-submit-button" class="btn btn-primary p-3 col-4">
            <i class="material-icons align-bottom">save</i>
            {{ 'programs.saveCredits'|trans({}, 'catroweb') }}
          </button>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <a id="descriptionShowMoreToggle" aria-expanded="false"
       aria-controls="descriptionFulltext" href="#"
       class="toggle-content d-none">
      <i class="material-icons">keyboard_arrow_down</i>
      <span id="descriptionShowMoreText" class="text text-capitalize">
          {{ ("more-information")|trans({}, "catroweb") }}
        </span>
    </a>
  </div>
</div>
