{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('build/css/program.css') }}"/>
  <link rel="stylesheet" href="{{ asset('build/css/modal.css') }}"/>
  <link rel="stylesheet" href="{{ asset('build/css/card.css') }}"/>
  <link rel="stylesheet" href="{{ asset('build/css/profile_styles.css') }}"/>
  <link rel="preload" href="{{ asset('build/css/project_list.css') }}" as="style">
  <link rel="stylesheet" href="{{ asset('build/css/project_list.css') }}" media="screen"/>

  <meta property="og:image" content="{{ asset(program_details.screenshotBig) }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image:secure_url" content="{{ asset(program_details.screenshotBig) }}"/>
  <meta property="og:title" content="{{ program.name|escape('html_attr') }}"/>
  {% if program.description is empty %}
    <meta property="og:description"
          content="{{ "programs.checkout_this_program"|trans({}, "catroweb") }}"/>
  {% else %}
    <meta property="og:description" content="{{ program.description|escape('html_attr') }}"/>
  {% endif %}
  <meta property="og:url" content="{{ url('program', {id: program.id}) }}"/>
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-5 col-sm-4 col-md-4 col-lg-3">
      {% include 'Program/projectThumbnail.html.twig' %}
    </div>

    <div class="col-7 col-sm-8 col-md-8 col-lg-5">
      <div class="name-wrapper">
        <span id="name" class="h2 program-name">{{ program.name }}</span>
        <span id="name-translation" class="h2 program-name" style="display: none;" lang=""></span>

        {% if not app.user or not my_program %}
          <span class="translate-program-button-wrapper">
            <span id="program-translation-button" class="program-translation-button catro-icon-button"
                data-toggle="tooltip" title="{{ 'programs.showTranslation'|trans({}, 'catroweb') }}">
              <i class="ml-2 material-icons">
                translate
              </i>
            </span>
            <span id="program-translation-loading-spinner" style="display: none;">
              <i class="ml-2 material-icons">
                {% include 'Default/loadingSpinner.html.twig' with {'size': 'small'} %}
              </i>
            </span>
            <span id="remove-program-translation-button" class="program-comment-translation-button catro-icon-button" style="display: none"
                data-toggle="tooltip" title="Hide Translation">
                <i class="ml-2 material-icons" data-toggle="tooltip" title="{{ 'programs.hideTranslation'|trans({}, 'catroweb') }}">
                  close
                </i>
            </span>
          </span>
        {% endif %}
      </div>

      <div class="" onclick="program.projectViewButtonsAction('{{ path('profile', {'id': program.user.id }) }}', '#project-user-spinner{{ suffix|default('') }}',
              '#code-view-icon{{ suffix|default('') }}')">
        <a class="icon-text align-bottom" id="program-owner-username">
          <i class="material-icons pr-2" id="user-profile-icon">person</i>
          {{ program.user }}
        </a>
        <span>
          <i class="material-icons d-none" id="project-user-spinner{{ suffix|default('') }}">
            {% include 'Default/loadingSpinner.html.twig' with {'spinner_id': 'user-spinner' ~ suffix|default(), 'size': 'small'} %}
          </i>
        </span>
      </div>

      <div class="">
        <i class="material-icons mt-2">query_builder</i>
        <span class="icon-text ml-2 align-bottom mt-2">{{ program_details.age }}</span>
      </div>

      <div class="">
        <i class="material-icons mt-2">description</i>
        <span class="icon-text ml-2 align-bottom mt-2">{{ program_details.filesize }} MB</span>
      </div>

      <div id="project-like" class="d-none d-lg-block mt-3">
        {% include 'Program/program_reactions.html.twig' %}
      </div>
    </div>

    <div class="d-none d-lg-block col-lg-4 mt-4 ">
      {% include 'Program/program_download_button.html.twig' %}
      {% if not isIOS() %}
      <div class="mt-3">
        {% include 'Program/program_apk_generation_buttons.html.twig' %}
      </div>
      {% endif %}
      <div class="mt-3">
{#        {% include 'Program/program_remix_graph_button.html.twig' %}#}
      </div>
      <div class="mt-3">
        {% include 'Program/program_sign_app_button.html.twig' %}
      </div>
    </div>
  </div>

  <div class="row d-lg-none">
    <div class="col-5 col-sm-4 mt-3 ">
      <div id="project-like-small">
        {% include 'Program/program_reactions.html.twig' with {'suffix': '-small'} %}
      </div>
    </div>
    <div class="col-7 col-sm-8 mt-3" style="padding-left: 0">
      {% include 'Program/program_download_button.html.twig' with {'suffix': '-small'} %}
    </div>
  </div>

  {% include 'Program/program_reactions_modal.html.twig' %}

  {% include 'Program/program_description.html.twig' %}

  {% include 'Program/program_tags.html.twig' %}

  <div class="row d-lg-none">
    {% if not isIOS()%}
      <div class="col-6 mt-3">
        {% include 'Program/program_apk_generation_buttons.html.twig' with {'suffix': '-small'} %}
      </div>
      <div class="col-6 mt-3">
        {% include 'Program/program_remix_graph_button.html.twig' with {'suffix': '-small'} %}
      </div>
    {% else %}
    <div class="col-12 mb-3">
      {% include 'Program/program_remix_graph_button.html.twig' with {'suffix': '-small'} %}
    </div>
    {% endif %}
  </div>
  <div class="row d-lg-none">
    <div class="col-12 mt-3 mb-3">
      {% include 'Program/program_sign_app_button.html.twig' %}
    </div>
  </div>
  {% include 'Program/program_sign_app_modal.html.twig' %}

  {% include 'Program/program_details.html.twig' %}
  <div id="recommended-projects">
    {# array values: [api project_type, translation, property to show] #}
    {% for category in [
      ['similar', 'similarPrograms', 'views'],
      ['also_downloaded', 'mostDownloadedProgramsOfUsersThatAlsoDownloadedOtherPrograms', 'downloads'],
      ['more_from_user', 'moreFromThisUser', 'views'],
    ] %}
      <div id="recommended-projects__{{ category[0] }}" data-category="{{ category[0] }}"
           data-property="{{ category[2] }}" class="project-list loading horizontal">
        <div class="container">
          <div class="project-list__title">
            <h2>{{ ("recommender." ~ category[1]) | trans({"%username%": program.user.username }, "catroweb") }}</h2>
            <div class="project-list__title__btn-toggle btn-view-open">
              <div class="project-list__title__btn-toggle__text">{{ "show-more" | trans({}, "catroweb") }}</div>
              <div class="project-list__title__btn-toggle__icon material-icons">arrow_forward</div>
            </div>
          </div>
          <div class="lazyload projects-spinner-container">
            {% include 'Default/loadingSpinner.html.twig' only %}
          </div>
          <div class="lazyload project-list__wrapper">
            <div class="lazyload projects-container"></div>
            <div class="lazyload project-list__chevrons">
              <div class="lazyload project-list__chevrons__left material-icons mdc-icon-button" style="display: none">chevron_left</div>
              <div class="lazyload project-list__chevrons__right material-icons mdc-icon-button">chevron_right</div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'Program/programComments.html.twig' %}

{% endblock %}

{% block js %}
  <script>const theme = '{{ theme() }}'</script>
  <script>const flavor = '{{ flavor() }}'</script>
  <script>const baseUrl = '{{ app.request.getBaseURL() }}'</script>
  <script src="{{ asset('js/ProjectList.js') }}"></script>
  <script src="{{ asset('js/ImageUpload.js') }}"></script>
  <script>
    setImageUploadListener('{{ path('upload_project_thumbnail', { 'id': program.id }) }}',
      '#change-project-thumbnail-button', '#project-thumbnail-big',
        {{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }},
        {{ constant('App\\Catrobat\\StatusCode::UPLOAD_EXCEEDING_FILESIZE') }},
        {{ constant('App\\Catrobat\\StatusCode::UPLOAD_UNSUPPORTED_MIME_TYPE') }}
    )
  </script>

  <script src="{{ asset('js/Program.js') }}"></script>
  <script src="{{ asset('js/ProgramReport.js') }}"></script>
  <script>
    new ProgramReport('{{ program.id }}', '{{ path('catrobat_api_report_program') }}', '{{ url('login') }}',
      "{{ 'success.report'                          |trans({}, 'catroweb') }}",
      '{{ "error"                                   |trans({}, "catroweb") }}',
      '{{ "programs.report"                         |trans({}, "catroweb") }}',
      '{{ "cancel"                                  |trans({}, "catroweb") }}',
      '{{ "programs.reportDialogHeader"             |trans({}, "catroweb") }}',
      '{{ "programs.reportDialogReason"             |trans({}, "catroweb") }}',
      '{{ "programs.reportRadioButtonInappropriate" |trans({}, "catroweb") }}',
      '{{ "programs.reportRadioButtonCopyright"     |trans({}, "catroweb") }}',
      '{{ "programs.reportRadioButtonSpam"          |trans({}, "catroweb") }}',
      '{{ "programs.reportRadioButtonDislike"       |trans({}, "catroweb") }}',
        {{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }},
        {{ logged_in }}
    )
  </script>
  {{ encore_entry_script_tags('report') }}
  <script src="{{ asset('js/ProgramComments.js') }}"></script>
  <script>
    new ProgramComments('{{ program_details.id }}', 5, 5, 5, {{ (program_details.comments|length) }},
      "{{ 'cancel'                                  |trans({}, 'catroweb') }}",
      "{{ 'deleteIt'                                |trans({}, 'catroweb') }}",
      "{{ 'reportIt'                                |trans({}, 'catroweb') }}",
      "{{ 'areYouSure'                              |trans({}, 'catroweb') }}",
      "{{ 'noWayOfReturn'                           |trans({}, 'catroweb') }}",
      "{{ 'programs.deleteCommentConfirmation'      |trans({}, 'catroweb') }}",
      "{{ 'programs.reportCommentConfirmation'      |trans({}, 'catroweb') }}",
      "{{ 'programs.report_popup_header'            |trans({}, 'catroweb') }}",
      "{{ 'programs.report_popup'                   |trans({}, 'catroweb') }}",
      "{{ 'programs.deleted_popup_header'           |trans({}, 'catroweb') }}",
      "{{ 'programs.deleted_popup'                  |trans({}, 'catroweb') }}",
      "{{ 'programs.noAdminRights'                  |trans({}, 'catroweb') }}",
      "{{ 'somethingWentWrong'                      |trans({}, 'catroweb') }}",
      "{{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }}",
      "{{ constant('App\\Catrobat\\StatusCode::NOT_LOGGED_IN') }}",
      "{{ constant('App\\Catrobat\\StatusCode::NO_ADMIN_RIGHTS') }}"
    )
  </script>
  <script src="{{ asset('js/ProgramDescription.js') }}"></script>
  <script>
    new ProgramDescription('{{ program.id }}',
      '{{ ("more-information")                      |trans({}, "catroweb") }}',
      '{{ ("less-information")                      |trans({}, "catroweb") }}',
        {{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }},
        {{ constant('App\\Catrobat\\StatusCode::DESCRIPTION_TOO_LONG') }}
    )
  </script>

  <script src="{{ asset('js/ProgramCredits.js') }}"></script>
  <script>
    new ProgramCredits('{{ program.id }}',
      '{{ ("more-information")                      |trans({}, "catroweb") }}',
      '{{ ("less-information")                      |trans({}, "catroweb") }}',
        {{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }},
        {{ constant('App\\Catrobat\\StatusCode::NOTES_AND_CREDITS_TOO_LONG') }}
    )
  </script>

  <script src="{{ asset('js/ProgramShare.js') }}"></script>
  <script src=" {{ asset( 'js/modules/clipboard.min.js') }}"></script>
  <script>
    let share = new ProgramShare('{{ getThemeDisplayName() }}',
      '{{ "checkOutProject"|trans({}, "catroweb") }}', '{{ url('program', { id : program.id }) }}',
      '{{ "share.success"|trans({}, "catroweb") }}', '{{ "share.error"|trans({}, "catroweb") }}',
      '{{ "copy"|trans({}, "catroweb") }}', '{{ "clipboard.success"|trans({}, "catroweb") }}',
      '{{ "clipboard.fail"|trans({}, "catroweb") }}')
    share.clipboard()
  </script>

  <script>
    let program = new Program(
      '{{ program.id }}',
      '{{ csrf_token('project') }}',
        {% if app.user %} 'user', {% else %} 'guest', {% endif %}
        {% if my_program %} true, {% else %} false, {% endif %}
      '{{ path('ci_status', { 'id' : program.id }) }}',
      '{{ path('ci_build', { 'id' : program.id }) }}',
      '{{ path('project_like', { 'id' : program.id }) }}',
      '{{ path('api_project_likes', { 'id' : program.id }) }}',
      '{{ 'apk.preparing'|trans({}, "catroweb") }}',
      '{{ 'apk.text'|trans({}, "catroweb") }}',
      '{{ 'programs.updateAppHeader'|trans({}, "catroweb") }}',
      '{{ 'programs.updateAppText'|trans({}, "catroweb") }}',
      '{{ 'programs.btnClosePopup'|trans({}, "catroweb") }}',
      '{{ constant('App\\Entity\\ProgramLike::ACTION_ADD') }}',
      '{{ constant('App\\Entity\\ProgramLike::ACTION_REMOVE') }}',
      '{{ path('profile', {'id': 'USERID'}) }}',
      '{{ asset('images/default/wow_white.svg') }}',
      '{{ asset('images/default/wow_black.svg') }}',
      '{{ 'programs.reactionsText'|trans({}, 'catroweb') }}',
      '{{ 'programs.downloadErrorText'|trans({}, 'catroweb') }}',
    )
    program.getApkStatus()
    program.createLinks()
  </script>

  <script src="{{ asset('js/ProgramRecommender.js') }}"></script>
  <script>
    const $recommendedProjects = $('#recommended-projects')
    $('.project-list', $recommendedProjects).each(function () {
      const $t = $(this)
      const category = $t.data('category')
      const property = $t.data('property')

      /* eslint-disable no-undef */
      let url = baseUrl + '/api/project/{{ program.id }}/recommendations?category=' + category

      /* eslint-disable no-undef */
      if (flavor !== 'pocketcode' || category === 'example') {
        // The pocketcode flavor must use projects from all flavors
        url += '&flavor=' + flavor
      }

      const list = new ProjectList(this, category, url, property, self.performClickStatisticRequest, theme)
      /* eslint-enable no-undef */
      $t.data('list', list)
    })

    let programRecommender = new ProgramRecommender (
      '{{ program.id }}',
      "{{ path('click_stats') }}"
    )
    programRecommender.init()
  </script>
  <script src="{{ asset('js/PasswordVisibilityToggler.js') }}"></script>

  <script src=" {{ asset( 'js/Translation.js') }}"></script>

  <script src=" {{ asset( 'js/TranslateProgram.js') }}"></script>
  <script>
    new TranslateProgram(
      '{{ 'programs.translatedByLine'|trans({}, 'catroweb') }}',
      '{{ program.id }}',
      {% if program.description %} true, {% else %} false, {% endif %}
      {% if program.credits %} true {% else %} false {% endif %}
    )
  </script>

  <script src=" {{ asset( 'js/TranslateComments.js') }}"></script>
  <script>
    new TranslateComments(
      '{{ 'programs.translatedByLine'|trans({}, 'catroweb') }}',
    )
  </script>
{% endblock %}
