<button id="projectStealButton{{ suffix|default('') }}" class="btn btn-primary btn-block js-btn-project-steal"
        data-steal-url= '{{ stealing }}'
        data-button-id='projectStealButton{{ suffix|default('') }}'
        data-spinner-id='projectStealButton__loadingSpinner{{ suffix|default('') }}'
        data-icon-id='projectStealButton__icon{{ suffix|default('') }}'
        data-is-webview='{% if isWebview() %}true{% else %}false{% endif %}'

>

  {# Loading spinner during steal #}
  <i id="projectStealButton__loadingSpinner{{ suffix|default('') }}" class="material-icons text-start d-none">
    {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'steal-progressbar' ~ suffix|default(), 'size': 'small'} only %}
  </i>

  {# Icon #}
  <i id="projectStealButton__icon{{ suffix|default('') }}" class="material-icons align-bottom">supervisor_account</i>

  {# Text #}
  <span>{{ "Steal Project"|trans({}, "catroweb") }}</span>

</button>
