<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Pocket Code Website{% endblock %}</title>

        {% stylesheets '@CatrobatWebBundle/Resources/public/css/normalize.css' filter='cssrewrite,lessphp' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@CatrobatWebBundle/Resources/public/css/base/*' filter='cssrewrite,lessphp' %}
          <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
        {% endstylesheets %}
        {% block head %}{% endblock %}
    </head>
    <body>
    
    <main>
      <header>
        {% block header %}
          {{ render(controller('CatrobatWebBundle:Default:header', { _locale: app.request.locale, _embedded: true })) }}
        {% endblock %}
      </header>

      <article>
        {% block body %}{% endblock %}
      </article>

      <footer>
        {% block footer %}
          {{ render(controller('CatrobatWebBundle:Default:footer', { _locale: app.request.locale, _embedded: true })) }}
        {% endblock %}
      </footer>
    </main>

    </body>
</html>
