{% extends ":Default:base.html.twig" %}

{% block head %}
  {% stylesheets 'css/custom/login.less' filter='cssrewrite,lessphp' output='compiled/login.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block header %}
    {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="input-field">
      <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ "username"|trans({}, "catroweb") }}" />
      <div class="img-login"></div>
    </div>

    <div class="input-field">
      <input type="password" id="password" name="_password" placeholder="{{ "password"|trans({}, "catroweb") }}" />
      <div class="img-password"></div>
    </div>

    {% if error %}
      <div class="error-text">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
    {% endif %}

    {% if ("/login" in app.request.headers.get('referer')) %}

      {% if app.session.has("catroweb_login_referer") %}
        <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_referer")  }}#login" />
      {% else %}
        <input type="hidden" name="_target_path" value="{{ path("index") }}#login" />
      {% endif %}

    {% else %}
      {% if (app.request.headers.get('referer') is not empty) %}
      <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}#login" />
      {{ app.session.set("catroweb_login_referer", app.request.headers.get('referer')) }}
      {% else %}
        <input type="hidden" name="_target_path" value="index" />
      {% endif %}
    {% endif %}

    <button id="_submit" class="login" name="_submit" >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
<div class="link center"><a href="{{ path("sonata_user_resetting_request") }}" id="pw-request">{{ "login.forgotPass"|trans({}, "catroweb") }}</a></div>
{% endblock fos_user_content %}

{% endblock body %}