{% extends ":Default:base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>

  <script src="{{ asset('js/jquery-ui/jquery-ui.js') }}"></script>
  <script src="{{ asset( getJavascriptPath('loginscript.js') )}}"></script>

{% endblock %}

{% block header %}
    {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

{% block fos_user_content %}

  {#
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
        </div>

        <div style="padding-top:30px" class="panel-body" >

          {% if error %}
            <div id="login-alert" class="alert alert-danger col-sm-12">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
          {% endif %}


          <form id="loginform form_fos" class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" id = "csrf_token" name="_csrf_token" value="{{ csrf_token }}" />

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{"username"|trans({}, "catroweb") }}" />
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="login-password" class="form-control" type="password" class="form-control" name="password" placeholder="{{"password"|trans({}, "catroweb") }}">
            </div>

            {% if (app.session.get("catroweb_login_redirect") is not empty) %}
              <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_redirect") }}" />
              {{ app.session.set("catroweb_login_referer", app.session.get("catroweb_login_redirect")) }}
              {{ app.session.set("catroweb_login_redirect", "") }}

            {% elseif ("/login" in app.request.headers.get('referer')) %}

              {% if app.session.has("catroweb_login_referer") %}
                <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_referer")  }}#login" />
              {% else %}
                <input type="hidden" name="_target_path" value="{{ path("index") }}#login" />
              {% endif %}
            {% else %}
              {% if (app.request.headers.get('referer') is not empty) %}
                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}#login" />
                {{ app.session.set("catroweb_login_referer", app.request.headers.get('referer')) }}
              {% else %}
                <input type="hidden" name="_target_path" value="index" />
              {% endif %}
            {% endif %}

            {% if error %}
              <div class="error-text">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
            {% endif %}

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="_submit" href="#" class="login btn btn-success" name="_submit" >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                  {{ "login.forgotPass"|trans({}, "catroweb") }}
                  <a id="pw-request" href="{{ path("sonata_user_resetting_request") }}"> Click here</a>
                </div>
                <div style="padding-top:15px; font-size:85%" >
                  Don't have an account!
                  <a id="create_account" href="{{ path('register_form') }}">{{ 'login.createAccount'|trans({}, 'catroweb') }}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  #}
    {#

    <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
        </div>
        <div class="panel-body" >
          <form id="signupform" class="form-horizontal" role="form">

            <div id="signupalert" style="display:none" class="alert alert-danger">
              <p>Error:</p>
              <span></span>
            </div>

            <div class="form-group">
              <label for="email" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="email" placeholder="Email Address">
              </div>
            </div>

            <div class="form-group">
              <label for="firstname" class="col-md-3 control-label">First Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="firstname" placeholder="First Name">
              </div>
            </div>
            <div class="form-group">
              <label for="lastname" class="col-md-3 control-label">Last Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="passwd" placeholder="Password">
              </div>
            </div>

            <div class="form-group">
              <label for="icode" class="col-md-3 control-label">Invitation Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="icode" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                <span style="margin-left:8px;">or</span>
              </div>
            </div>

            <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
#}

<form id ="form_fos" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" id = "csrf_token" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="input-field">
      <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ "username"|trans({}, "catroweb") }}" />
      <div class="img-login"></div>
    </div>

    <div class="input-field">
      <input type="password" id="password" name="_password" placeholder="{{ "password"|trans({}, "catroweb") }}" />
      <div class="img-password"></div>
    </div>

    {% if (app.session.get("catroweb_login_redirect") is not empty) %}
        <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_redirect") }}" />
        {{ app.session.set("catroweb_login_referer", app.session.get("catroweb_login_redirect")) }}
        {{ app.session.set("catroweb_login_redirect", "") }}

    {% elseif ("/login" in app.request.headers.get('referer')) %}

        {% if app.session.has("catroweb_login_referer") %}
            <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_referer")  }}#login" />
        {% else %}
            <input type="hidden" name="_target_path" value="{{ path("index") }}#login" />
        {% endif %}
    {% else %}
        {% if (app.request.headers.get('referer') is not empty) %}
            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}#login" />
            {{ app.session.set("catroweb_login_referer", app.request.headers.get('referer')) }}
        {% else %}
            <input type="hidden" name="_target_path" value="index" />
        {% endif %}
    {% endif %}

    {% if error %}
      <div class="error-text">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
    {% endif %}

    <button id="_submit" class="login" name="_submit" >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

    <div id="login_links">
         <div>
             <a id="create_account" href="{{ path('register_form') }}">{{ 'login.createAccount'|trans({}, 'catroweb') }}</a>
         </div>
         <div>
             <a href="{{ path("sonata_user_resetting_request") }}" id="pw-request">{{ "login.forgotPass"|trans({}, "catroweb") }}</a>
         </div>
    </div>
</form>

{% include ':social:oauth_form.html.twig' %}

{% endblock fos_user_content %}

{% endblock body %}
