<div id="welcomeSection">
  <h3>{{ "programs.welcome.title"|trans({}, "catroweb") }}</h3>
  <h3>{{ "programs.welcome.subtitle"|trans({}, "catroweb") }}</h3>

  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ path('catrobat_web_starter') }}">
        <div class="catro-card help-card green">
          <div class="catro-content">
            <div class="row">
              <div class="col-md-6 col-sm-7 col-xs-7">
                <div class="catro-card-title">
                  {{ "help-cards.headings.starters"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.starters"|trans({}, "catroweb") }} <b>Pocket Code</b>!
              </div>
              <img src="{{ asset('images/help/starters_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ path('catrobat_web_tutorialcards') }}">
        <div class="catro-card help-card blue">
          <div class="catro-content">
            <div class="row">
              <div class="col-md-6 col-sm-7 col-xs-7">
                <div class="catro-card-title">
                  {{ "help-cards.headings.tutorials"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.tutorials"|trans({}, "catroweb") }} <b>Pocket Code</b>!
              </div>
              <img src="{{ asset('images/help/tutorials_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ path('catrobat_web_stepByStep') }}">
        <div class="catro-card help-card yellow">
          <div class="catro-content">
            <div class="row">
              <div class="col-md-6 col-sm-7 col-xs-7">
                <div class="catro-card-title">
                  {{ "help-cards.headings.stepbystep"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.stepbystep"|trans({}, "catroweb") }} <b>Pocket Code</b>!
              </div>
              <img src="{{ asset('images/help/step_by_step_cut.png') }}"/>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6 help-video-container">
      {% if theme() == 'luna' %}
        <iframe id="youtube-help-video" src="https://www.youtube.com/embed/-6AEZrSbOMg"
                frameborder="0" allowfullscreen width="100%">
        </iframe>
      {% else %}
        <iframe id="youtube-help-video" src="https://www.youtube.com/embed/BHe2r2WU-T8"
                frameborder="0" allowfullscreen width="100%">
        </iframe>
      {% endif %}
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <a href="https://play.google.com/store/apps/details?id=org.catrobat.catroid">
        <div class="catro-card help-card google-play">
          <div class="catro-content">
            <div class="row">
              <div class="col-md-6 col-sm-7 col-xs-7">
                <div class="catro-card-title">
                  {{ "help-cards.headings.getinvolved"|trans({}, "catroweb") }}
                </div>
                {{ "help-cards.text.getinvolved_1"|trans({}, "catroweb") }}
                <b>Pocket Code</b>
                {{ "help-cards.text.getinvolved_2"|trans({}, "catroweb") }}!
              </div>
              <img src="{{ asset('images/help/google_playstore.png') }}" width="120px"/>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      {{ "programs.welcome.download"|trans({}, "catroweb") }}
      <a href="http://play.google.com/store/apps/details?id=org.catrobat.catroid"
         target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a>
    </div>
  </div>
</div>