<div class="row">
  <div class="col-12 mb-2">
    <h1 id="profile-edit-header" class="header">
      {{ "menu.profile"|trans({}, "catroweb") }}
    </h1>
  </div>

  <div class="col-12 mb-2">

    <div class="row">

      <div class="col-12 col-sm-5 col-md-4 col-lg-3 avatar-container mt-2">
        {% include 'UserManagement/Profile/avatarEdit.html.twig' %}
      </div>

      <div class="col-12 col-sm-7 col-md-8 col-lg-9 mt-sm-2">

        <div id="username-wrapper" class="mb-3">
          <div class="subtitle-1 text-icon-aligned">
            <span>{{ 'username'|trans({}, 'catroweb') }}</span>
            <span id="edit-username-button"
                  data-toggle="tooltip" title="{{ 'myprofile.editUsername'|trans({}, 'catroweb') }}"
                  class="mdc-icon-button material-icons trailing-icon">edit</span>
          </div>

          <div id="username-edit-container" class="edit-container">
            {% include 'UserManagement/Profile/usernameEdit.html.twig' %}
          </div>

          <div class="profile-data text-icon-aligned">
            <span class="material-icons mr-2">person</span>
            <div id="username">
              {{ username }}
            </div>
          </div>
        </div>

        <hr>

        <div id="email-wrapper" class="mt-3 mb-3">
          <div class="subtitle-1 text-icon-aligned">
            <span>{{ 'email'|trans({}, 'catroweb') }}</span>
              <span id="edit-email-button"
                    data-toggle="tooltip" title="{{ 'myprofile.editEmail'|trans({}, 'catroweb') }}"
                    class="mdc-icon-button material-icons trailing-icon">edit</span>
          </div>

          <div id="email-edit-container" class="edit-container">
            {% include 'UserManagement/Profile/emailEdit.html.twig' %}
          </div>

          <div class="profile-data text-icon-aligned">
            <span class="material-icons mr-2">email</span>
            <div id="first-mail">
              {{ firstMail }}
            </div>
          </div>
        </div>

        <hr>

          <div id="password-wrapper" class="mt-3 mb-3">
            <div class="subtitle-1 text-icon-aligned">
              {% if app.user.oauthUser == false or app.user.oauthPasswordCreated%}
                <span>{{ 'password'|trans({}, 'catroweb') }}</span>
              {% else %}
                <span>{{ 'createNewPassword'|trans({}, 'catroweb') }}</span>
              {% endif %}
              <span id="edit-password-button"
                    data-toggle="tooltip" title="{{ 'myprofile.editPassword'|trans({}, 'catroweb') }}"
                    class="mdc-icon-button material-icons trailing-icon">edit</span>
            </div>
            <div id="password-edit-container" class="edit-container">
              {% include 'UserManagement/Profile/passwordEdit.html.twig' %}
            </div>

          <div class="profile-data text-icon-aligned">
            <span class="material-icons mr-2">vpn_key</span>
            <div id="fake-password">
              ************
            </div>
          </div>

        </div>

        <hr>

        <div id="country-wrapper" class="mt-3 mb-3">
          <div class="subtitle-1 text-icon-aligned">
          <span>{{ 'country'|trans({}, 'catroweb') }}</span>
            <span id="edit-country-button"
                  data-toggle="tooltip" title="Edit Country"
                  class="mdc-icon-button material-icons trailing-icon">edit</span>
          </div>
          <div id="country" class="profile-data text-icon-aligned">
            <span class="material-icons mr-2">location_on</span>
            {{ country }}
          </div>
          <div id="country-edit-container" class="edit-container">
            {% include 'UserManagement/Profile/countryEdit.html.twig' %}
          </div>
        </div>

        <hr>

        <div id="account-settings-wrapper" class="mt-3">
          <div class="subtitle-1 text-icon-aligned">
            <span class="material-icons mr-2">settings</span>
            <span>{{ 'accountSettings'|trans({}, 'catroweb') }}</span>
            <span id="account-settings-button"
                  data-toggle="tooltip" title="{{ 'myprofile.editAccountSettings'|trans({}, 'catroweb') }}"
                  class="mdc-icon-button material-icons trailing-icon">edit</span>
          </div>
          <div id="account-settings-container" class="edit-container">
            {% include 'UserManagement/Profile/accountSettings.html.twig' %}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
