{% extends 'Default/base.html.twig' %}
{% block page_title %}{{ "menu.profile"|trans({}, "catroweb") }}{% endblock %}

{% block head %}
{{ encore_entry_link_tags('my_profile') }}
{% endblock %}

{% block body %}

   {%  include 'UserManagement/Profile/myProfileData.html.twig' %}

  <div class="mt-5"></div>
      <div id="myprofile-programs">
    <h2 class="header mb-0">
      {{ "profile.myPrograms"|trans({}, "catroweb") }}
    </h2>
    <div class="programs mt-4"></div>
  </div>

{% endblock %}

{% block javascript %}
  <script>
    const profileUrl = '{{ path('profile') }}';
    const saveUsername = '{{ path('username_save') }}';
    const saveEmailUrl = '{{ path('email_save') }}';
    const savePasswordUrl = '{{ path('password_save') }}';
    const deleteUrl = '{{ path('profile_delete_program') }}';
    const deleteAccountUrl = '{{ path('profile_delete_account') }}';
    const toggleVisibilityUrl = '{{ path('profile_toggle_program_visibility') }}';
    const uploadUrl = '{{ path('profile_upload_avatar') }}';
    const statusCodeOk = '{{ constant('Symfony\\Component\\HttpFoundation\\Response::HTTP_OK') }}';
    const statusCodeUsernameAlreadyExists = '{{ constant('App\\Catrobat\\StatusCode::USERNAME_ALREADY_EXISTS') }}';
    const statusCodeUsernameMissing = '{{ constant('App\\Catrobat\\StatusCode::USERNAME_MISSING') }}';
    const statusCodeUsernameInvalid = '{{ constant('App\\Catrobat\\StatusCode::USERNAME_INVALID') }}';
    const statusCodeUserEmailAlreadyExists = '{{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_ALREADY_EXISTS') }}';
    const statusCodeUserEmailMissing = '{{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_MISSING') }}';
    const statusCodeUserEmailInvalid = '{{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_INVALID') }}';
    const statusCodeUsernamePasswordEqual = '{{ constant('App\\Catrobat\\StatusCode::USER_USERNAME_PASSWORD_EQUAL') }}';
    const statusCodeUserPasswordTooShort = '{{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_TOO_SHORT') }}';
    const statusCodeUserPasswordTooLong = '{{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_TOO_LONG') }}';
    const statusCodeUserPasswordNotEqualPassword2 = '{{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_NOT_EQUAL_PASSWORD2') }}';
    const statusCodePasswordInvalid = '{{ constant('App\\Catrobat\\StatusCode::PASSWORD_INVALID') }}';
    const successText = '{{ "success.text"|trans({}, "catroweb") }}';
    const checkMailText = '{{ "myprofile.checkMail"|trans({}, "catroweb") }}';
    const passwordUpdatedText = '{{ "myprofile.passwordUpdated"|trans({}, "catroweb") }}';
    const programCanNotChangeVisibilityTitle = '{{ "myprofile.notChangeVisibility"|trans({}, "catroweb") }}';
    const programCanNotChangeVisibilityText = '{{ "myprofile.notChangeVisibilityReason"|trans({}, "catroweb") }}';
    const statusCodeUsernameContainsEmail = '{{ constant('App\\Catrobat\\StatusCode::USERNAME_CONTAINS_EMAIL') }}';
    const deleteConfirmationMessage = `{{ "programs.deleteAccountConfirmation"|trans({}, "catroweb") }}`;
    const noProgramsText = '{{ "programs.noPrograms"|trans({}, "catroweb") }}';
    const programChangeVisibility = `{{ "programs.changeVisibility"|trans({}, "catroweb") }}`;
    const programDeleteConfirmation = `{{ "programs.deleteConfirmation"|trans({}, "catroweb") }}`;
  </script>
  <script>
    const uploadAvatarUrl = '{{ path('profile_upload_avatar') }}';
    const apiUserPrograms = '{{ path('api_user_programs') }}';
    const userID = '{{ app.user.id }}';
  </script>
  {{ encore_entry_script_tags('my_profile') }}
{% endblock %}