{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}

{% block body %}

   {%  include 'UserManagement/Profile/myProfileData.html.twig' %}

  <div class="clear mt-5"></div>
    {% if not app.user.limited %}
      <div id="myprofile-programs">
    {% else %}
      <div id="user-programs">
    {% endif %}
    <h1 class="header mb-0">
      {{ "profile.myPrograms"|trans({}, "catroweb") }}
    </h1>
    <div class="programs"></div>
  </div>

  <div class="clear mt-5"></div>
    <h1 class="header">
      {{ "profile.follows"|trans({}, "catroweb") }} ({{ app.user.following|length }})
    </h1>
  <div id="list-follows"></div>

  <div class="clear mt-5"></div>
    <h1 class="header">
      {{ "profile.follower"|trans({}, "catroweb") }} ({{ app.user.followers|length }})
    </h1>
  <div id="list-follower"></div>

{% endblock %}

{% block js %}
  <script src="{{ asset('compiled/js/MyProfile.js') }}"></script>
  <script src="{{ asset('compiled/js/ProfileLoader.js') }}"></script>
  <script src="{{ asset('compiled/js/PasswordVisibilityToggler.js') }}"></script>

  <script>

    let programs
    {% if not app.user.limited %}
      programs = new ProgramLoader('#myprofile-programs', '{{ path('api_user_programs') }}')
      // load programs need profile!
      let profile = new MyProfile('{{ path('profile') }}',
        '{{ path('email_save') }}', '{{ path('country_save') }}', '{{ path('password_save') }}',
        '{{ path('profile_delete_program') }}', '{{ path('profile_delete_account') }}',
        '{{ path('profile_toggle_program_visibility') }}',
        '{{ path('profile_upload_avatar') }}',
        {{ constant('App\\Catrobat\\StatusCode::OK') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_ALREADY_EXISTS') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_MISSING') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_EMAIL_INVALID') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_COUNTRY_INVALID') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_USERNAME_PASSWORD_EQUAL') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_TOO_SHORT') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_TOO_LONG') }},
        {{ constant('App\\Catrobat\\StatusCode::USER_PASSWORD_NOT_EQUAL_PASSWORD2') }},
        {{ constant('App\\Catrobat\\StatusCode::PASSWORD_INVALID') }},
        {{ constant('App\\Catrobat\\StatusCode::UPLOAD_EXCEEDING_FILESIZE') }},
        {{ constant('App\\Catrobat\\StatusCode::UPLOAD_UNSUPPORTED_MIME_TYPE') }},
        {{ constant('App\\Catrobat\\Controller\\Web\\ProfileController::MAX_UPLOAD_SIZE') }},
        '{{ "success.text"|trans({}, "catroweb") }}',
        '{{ "myprofile.checkMail"|trans({}, "catroweb") }}',
        '{{ "myprofile.passwordUpdated"|trans({}, "catroweb") }}',
        '{{ "myprofile.notChangeVisibility"|trans({}, "catroweb") }}',
        '{{ "myprofile.notChangeVisibilityReason"|trans({}, "catroweb") }}'
      )
      profile.init()
      programs.initProfile({{ app.user.id }})
    {% else %}
      programs = new ProgramLoader('#user-programs', '{{ path('api_user_programs') }}')
      programs.initProfile({{ app.user.id }})
    {% endif %}

    let follows = new ProfileLoader({{ app.user.id }} ,'{{ path('list_follow', { type: 'follows' }) }}',
    '{{ path('profile') }}', '#list-follows', '{{ asset('images/default/avatar_default.png') }}')
    follows.init()

    let follower = new ProfileLoader({{ app.user.id }} ,'{{ path('list_follow', { type: 'follower' }) }}',
    '{{ path('profile') }}', '#list-follower', '{{ asset('images/default/avatar_default.png') }}')
    follower.init()
  </script>
{% endblock %}