<div class="mt-4">
  <div class="d-none error-message text-password-nomatch alert alert-danger">
    {{ 'passwordsNoMatch'|trans({}, 'catroweb') }}
  </div>
  <div class="d-none error-message text-password-tooshort alert alert-danger">
    {{ 'profile.form.passwordTooShort'|trans({'%length%':minPassLength}, 'catroweb') }}
  </div>
  <div class="d-none error-message text-password-toolong alert alert-danger">
    {{ 'profile.form.passwordTooLong'|trans({'%length%':maxPassLength}, 'catroweb') }}
  </div>
  <div class="d-none error-message text-password-isusername alert alert-danger">
    {{ 'profile.form.passwordIsUsername'|trans({}, 'catroweb') }}
  </div>
  <div class="d-none error-message text-password-wrongpassword alert alert-danger">
    {{ 'profile.form.passwordWrong'|trans({}, 'catroweb') }}
  </div>
</div>

<div id="form_password_edit" class="form-horizontal">

  <div class="group">
    <input title="old_password" type="password" id="old-password" name="_old_password" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label><span class="span-input">{{ "profile.oldPass"|trans({}, "catroweb") }}</span></label>
  </div>

  <div class="group">
    <span class="highlight"></span>
    <span class="bar"></span>
    <div class="group-with-icon-wrapper show-hide-password">
      <div class="group-with-icon">
        <span>
         <input title="new_password" type="password" id="password" name="_password" required>
         <label><span class="span-input">{{ 'profile.newPass'|trans({}, 'catroweb') }}</span></label>
        </span>
      </div>
      <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="group">
    <span class="highlight"></span>
    <span class="bar"></span>
    <div class="group-with-icon-wrapper show-hide-password">
      <div class="group-with-icon">
        <span>
         <input title="repeat_password" type="password" id="repeat-password" name="_repeat-password" required>
         <label><span class="span-input">{{ 'profile.repeatPass'|trans({}, 'catroweb') }}</span></label>
        </span>
      </div>
      <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
    </div>
  </div>

  <button id="save-password" class="btn btn-primary save-button mt-4">
    {{ 'profile.saveChanges'|trans({}, 'catroweb') }}
  </button>
  <div id="password-ajax" class="button-show-ajax"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
  </div>

</div>