{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-12 mb-2">
      <h1 id="profile-header" class="header">
        {{ profile.username }}
      </h1>
    </div>

    <div class="col-12 col-sm-5 col-md-4 col-lg-3 avatar-container mt-2">
      <img alt="user-image" id="user-image"
           src="{% if profile.avatar is not empty %}{{ profile.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"/>
    </div>

    <div id="user-information" class="col-8 col-sm-5 col-md-6 col-lg-7 ml-3 ml-sm-0 mt-4 mt-sm-2">
      <p>
        <strong>
          {{ "profile.amountOfPrograms"|trans({}, "catroweb") }}:
        </strong>
        {{ program_count }}
      </p>
      <p>
        <i class="fas fa-users"></i>
        <strong>
          {{ "profile.follower"|trans({}, "catroweb") }}:
        </strong>
        {{ follower_count }}
      </p>
      <p>
        <i class="fas fa-globe-africa"></i>
        <strong>
          {{ "country"|trans({}, "catroweb") }}:
        </strong>
        {{ country }}
      </p>
    </div>

    <div class="col-2 mt-4 mt-sm-1 center">

        <div id="follow-icon">
          {% if app.user != null and profile.hasFollower(app.user)%}
            <a id="follow-btn" class="pull-right"
               data-toggle="tooltip" title="{{ "profile.unfollowUser"|trans({}, "catroweb") }}"
               href="{{ url('unfollow_user', { id : profile.id }) }}">
              <i class="fa fa-user-times catro-icon-button"></i>
            </a>
          {% else %}
            <a id="follow-btn" class="pull-right"
               data-toggle="tooltip" title="{{ "profile.followUser"|trans({}, "catroweb") }}"
               href="{{ url('follow_user', { id : profile.id }) }}">
              <i class="fa fa-user-plus catro-icon-button"></i>
            </a>
          {% endif %}
        </div>
    </div>

    <div class="col-12 mt-3">

      <h1 id="profile-programs">
        {{ "profile.programsOf"|trans({}, "catroweb") }} {{ profile.username }}
      </h1>
      <div id="user-programs">
        <div class="programs"></div>
      </div>

      <h1 id="profile-follower">
        {{ "profile.follower"|trans({}, "catroweb") }} ({{ profile.followers|length }})
      </h1>
      <div id="list-follower"></div>

    </div>

  </div>


{% endblock %}

{% block js %}
  <script>
    let programs = new ProjectLoader('#user-programs', '{{ path('api_user_programs') }}')
    programs.initProfile('{{ profile.id }}')

    $(document).on('click', '.program', function () {
      let clicked_program_id = this.id.replace('program-', '')
      this.className += ' visited-program'
      let stored_visits = sessionStorage.getItem('visits')

      if (!stored_visits)
      {
        let new_visits = [clicked_program_id]
        sessionStorage.setItem('visits', JSON.stringify(new_visits))
      }
      else
      {
        let parsed_visits = JSON.parse(stored_visits)
        if (!($.inArray(clicked_program_id, parsed_visits) >= 0))
        {
          parsed_visits.push(clicked_program_id)
          sessionStorage.setItem('visits', JSON.stringify(parsed_visits))
        }
      }
    })
  </script>
  <script src="{{ asset('js/ProfileLoader.min.js') }}"></script>
  <script>
    let follower = new ProfileLoader('{{ profile.id }}' , '{{ path('list_follow',  { type: 'follower' }) }}',
      '{{ path('profile') }}', '#list-follower', '{{ asset('images/default/avatar_default.png') }}')
    follower.init()
  </script>
{% endblock %}
