{% extends 'Default/base.html.twig' %}

{% block head %}

  {{ encore_entry_link_tags('profile') }}
  {{ encore_entry_link_tags('follower_overview') }}

  <meta property="og:type" content="website"/>
  {% if profile.avatar is not empty %}
    <meta property="og:image" content="{{ asset(profile.avatar) }}"/>
    <meta property="og:image:secure_url" content="{{ asset(profile.avatar) }}"/>
  {% endif %}
  <meta property="og:title" content="{{ profile.username |escape('html_attr') }}"/>
  <meta property="og:url" content="{{ url('profile', {id: profile.id}) }}"/>

{% endblock %}


{% block body %}

  <div class="row no-gutters profile">
    <div class="col-4 col-md-2 avatar-container mt-2 pe-3">
      <img alt="" id="user-image" class="img-fluid round"
           src="{% if profile.avatar is not empty %}{{ profile.avatar }}{% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"/>
    </div>

    <div id="user-information" class="col-8 col-md-10 mt-2 user-info d-flex flex-column justify-content-between">
      <h1 class="h4">{{ profile.username }}</h1>

      <div class="button-container w-100 mt-3">
        {% if profile.isScratchUser() %}
          <a href={{ 'https://scratch.mit.edu/users/' ~ profile.getScratchUsername() }}>
            <button class="btn btn-outline-primary profile-goto-scratch mt-0 ms-auto">
              {{ 'profile.goToScratchProfile'|trans({}, 'catroweb') }}
            </button>
          </a>
        {% endif %}
        {% if app.user != null and app.user.id != profile.id %}
          <button class="btn btn-outline-primary profile-follows unfollow-btn mt-0 ms-auto"
                  style="{{ profile.hasFollower(app.user) ? 'display: block' : 'display:none' }}"
                  data-user-id="{{ profile.id }}"
                  data-user-name="{{ profile.username }}">
            {{ 'follower.follows'|trans({}, 'catroweb') }}
          </button>
          <button class="btn btn-primary profile-follow follow-btn mt-0 ms-auto"
                  style="{{ profile.hasFollower(app.user) ? 'display: none' : 'display:block' }}"
                  data-user-id="{{ profile.id }}">
            {{ 'follower.follow'|trans({}, 'catroweb') }}
          </button>
        {% endif %}
        {% if app.user == null %}
          <button class="btn btn-primary profile-follow follow-btn mt-0 mt-auto"
                  data-user-id="{{ profile.id }}">
            {{ 'follower.follow'|trans({}, 'catroweb') }}
          </button>
        {% endif %}
      </div>
    </div>
  </div>

  {% if achievements|length > 0 %}
    <div id="user-achievements" class="mt-4 mb-2">
      <hr>
      <h3>{{ 'achievements.profile.title'|trans({}, "catroweb") }}</h3>
      <div class="horizontal-scrolling-wrapper">
        {% for achievement in achievements %}
          <div class="achievement__badge">
            <svg class="achievement__badge__coin achievement__badge__coin--profile"
                 data-src="{{ asset(achievement.getBadgeSvgPath()) }}"
                 data-unique-ids="disabled"/>
            <svg class="achievement__badge__banner achievement__badge__banner--profile"
                 style="color: {{ achievement.getBannerColor() }}"
                 data-src="{{ asset(achievement.getBannerSvgPath()) }}"
                 data-unique-ids="disabled"/>
            <div class="achievement__badge__banner__text achievement__badge__banner__text--profile">
              {{ achievement.getTitleLtmCode()|trans({}, "catroweb") }}
            </div>
          </div>
        {% endfor %}
      </div>
      <hr>
    </div>
  {% endif %}

  <div class="tab-bar-container mt-3">
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area" id="scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab mdc-tab--active mdc-tab--stacked" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon" id="projects-count">{{ project_count }}</span>
                <span class="mdc-tab__icon-text">{{ "projects"|trans({}, "catroweb") }}</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
            </button>

            <button class="mdc-tab mdc-tab--stacked" id="test" role="tab" aria-selected="false" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon" id="followers-count">{{ followers_list|length }}</span>
                <span class="mdc-tab__icon-text">{{ 'follower.followers'|trans({}, 'catroweb') }}</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
            </button>

            <button class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="false" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon" id="following-count">{{ following_list|length }}</span>
                <span class="mdc-tab__icon-text">{{ 'follower.follows'|trans({}, 'catroweb') }}</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content mt-4">
    <div id="projects-section" class="tab-pane fade show active" role="tabpanel" aria-labelledby="projects-tab">
      <div id="user-projects"
           data-property="uploaded"
           data-theme="{{ theme() }}"
           data-base-url="{{ app.request.getBaseURL() }}"
           data-user-id="{{ profile.id }}"
           data-flavor="{{ flavor() }}"
           data-empty-message="{{ "project.noProjects"|trans({}, 'catroweb') }}"
           class="project-list loading project-list--full">
        <div class="container">
          <div class="lazyload projects-spinner-container">
            {% include 'components/loading_spinner.html.twig' only %}
          </div>
          <div class="lazyload project-list__wrapper">
            <div class="lazyload projects-container"></div>
          </div>
        </div>
      </div>
    </div>

    {% include 'UserManagement/Followers/followersTabs.twig' %}
  </div>

  <div class="js-user-share"
       data-theme-display-name="{{ getThemeDisplayName() }}"
       data-trans-check-out-user="{{ "checkOutUser"|trans({}, "catroweb") }}"
       data-user-url="{{ url('profile', { id : profile.id }) }}"
       data-trans-share-success="{{ "share.success"|trans({}, "catroweb") }}"
       data-trans-share-error="{{ "share.error"|trans({}, "catroweb") }}"
       data-trans-copy="{{ "copy"|trans({}, "catroweb") }}"
       data-trans-clipboard-success="{{ "clipboard.success_user"|trans({}, "catroweb") }}"
       data-trans-clipboard-fail="{{ "clipboard.fail"|trans({}, "catroweb") }}"
  ></div>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('profile') }}
{{ encore_entry_script_tags('follower_overview') }}
{% endblock %}
