<div id="form_email_edit" class="form-horizontal">

  <div class="mt-4">
    <div class="d-none error-message text-username-not-valid alert alert-danger">
      {{ 'profile.form.usernameNotValid'|trans({}, 'catroweb') }}
    </div>
    <div class="d-none error-message text-username-missing alert alert-danger">
      {{ 'profile.form.usernameMissing'|trans({}, 'catroweb') }}
    </div>
    <div class="d-none error-message text-username-exists alert alert-danger">
      {{ 'profile.form.usernameExists'|trans({}, 'catroweb') }}
    </div>
    <div class="d-none error-message text-username-contains-email alert alert-danger">
      {{ 'profile.form.usernameContainsEmail'|trans({}, 'catroweb') }}
    </div>
  </div>

  <div class="group">
    <input title="username" type="text" id="username" name="_username" value="{{ username }}"
           required minlength="3" maxlength="180">
  </div>

  <button id="save-username" class="btn btn-primary save-button">
    {{ 'profile.saveChanges'|trans({}, 'catroweb') }}
  </button>

  <div id="username-ajax" class="button-show-ajax">
    {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'save-username-spinner'} only %}
  </div>

</div>

