{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('search_page') }}
{% endblock %}

{% block body %}

  <div id="search-results"
       data-query="{{ q }}"
       data-theme="{{ theme() }}"
       data-base-url="{{ app.request.getBaseURL() }}"
       data-trans-search-results="{{ 'search.results'|trans({}, 'catroweb') }}"
       data-trans-projects="{{ 'projects'|trans({}, 'catroweb') }}"
       data-trans-users="{{ 'users'|trans({}, 'catroweb') }}"
       data-trans-no-projects="{{ 'search.noProjects'|trans({}, 'catroweb') }}"
       data-trans-no-users="{{ 'search.noUsers'|trans({}, 'catroweb') }}"
       data-trans-show-more="{{ 'show-more'|trans({}, 'catroweb') }}"
  >
  </div>

{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('search_page') }}
{% endblock %}
