{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('search_page') }}
{% endblock %}

{% block body %}

  <div id="search-results">
    <div class="search-results__title">
      <h1><span id="search-results-text"></span>{{ 'search.results'|trans({}, 'catroweb') }}</h1>
    </div>
    <div id="search-projects" class="project-list loading horizontal">
      <div class="container">
        <div class="project-list__title">
          <h2>{{ 'projects'|trans({}, 'catroweb') }}</h2>
          <div class="project-list__title__btn-toggle btn-view-open">
            <div class="project-list__title__btn-toggle__text">{{ 'show-more'|trans({}, 'catroweb') }}</div>
            <div class="project-list__title__btn-toggle__icon material-icons">arrow_forward</div>
          </div>
        </div>
        <div class="lazyload project-list__wrapper">
          <div class="lazyload projects-container">

            {% for i in range(0, 10) %}  {# Fill with dummy data until loaded to prevent cls #}
              <div class="project-list__project">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20360%20360'%3E%3Crect%20width='360'%20height='360'%20fill='%23E8E8E8'%20/%3E%3C/svg%3E"
                     class="project-list__project__image">
                <span class="project-list__project__name"></span>
                <div class="project-list__project__property project-list__project__property-uploaded lazyloaded">
                  <i class="material-icons"></i>
                  <span class="project-list__project__property__value"></span>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="lazyload project-list__chevrons">
            <div class="lazyload project-list__chevrons__left material-icons mdc-icon-button" style="display: none;">
              chevron_left
            </div>
            <div class="lazyload project-list__chevrons__right material-icons mdc-icon-button">chevron_right</div>
          </div>
        </div>
      </div>
    </div>
    <i class="material-icons d-none" id="project-opening-spinner" style="margin: auto;">
      {{ include('Components/LoadingSpinner.html.twig', {spinner_id: 'project-opening-spinner' ~ suffix|default(), small: 'true'}) }}
    </i>

    <div id="search-users" class="user-list loading horizontal">
      <div class="container">
        <div class="user-list__title">
          <h2>{{ 'users'|trans({}, 'catroweb') }}</h2>
          <div class="user-list__title__btn-toggle btn-view-open">
            <div class="user-list__title__btn-toggle__text">{{ 'show-more'|trans({}, 'catroweb') }}</div>
            <div class="user-list__title__btn-toggle__icon material-icons">arrow_forward</div>
          </div>
        </div>
        <div class="lazyload user-list__wrapper">
          <div class="lazyload users-container">

            {% for i in range(0, 10) %}  {# Fill with dummy data until loaded to prevent cls #}
              <div class="user-list__user">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20360%20360'%3E%3Crect%20width='360'%20height='360'%20fill='%23E8E8E8'%20/%3E%3C/svg%3E"
                     class="user-list__user__image">
                <span class="user-list__user__name"></span>
                <div class="user-list__user__property lazyloaded">
                  <span class="user-list__user__property__value"></span>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="lazyload user-list__chevrons">
            <div class="lazyload user-list__chevrons__left material-icons mdc-icon-button" style="display: none;">
              chevron_left
            </div>
            <div class="lazyload user-list__chevrons__right material-icons mdc-icon-button">chevron_right</div>
          </div>
        </div>
      </div>
    </div>
    <i class="material-icons d-none" id="project-opening-spinner" style="margin: auto;">
      {{ include('Components/LoadingSpinner.html.twig', {spinner_id: 'user-opening-spinner' ~ suffix|default(), small: 'true'}) }}
    </i>
  </div>

  <div class="js-search"
       data-result-container="#search-results"
       data-path-search="{{ path('api_search_programs') }}"
       data-query="{{ q }}"
       data-theme="{{ theme() }}"
       data-flavor="{{ flavor() }}"
       data-base-url="{{ app.request.getBaseURL() }}"
       data-project-category="search"
       data-project-property="uploaded"
       data-project-translated="{{ 'projects'|trans({}, 'catroweb') }}"
       data-no-users="{{ 'search.noUsers'|trans({}, 'catroweb') }}"
       data-no-projects="{{ 'search.noProjects'|trans({}, 'catroweb') }}"
  ></div>

{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('search_page') }}
{% endblock %}
