{% extends 'Default/base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/search.css') }}" media="screen"/>
{% endblock %}

{% block body %}

  <div id="search-results">
    <h1>{{ "search.results"|trans({}, "catroweb") }}</h1>
    <div id="search-results-text">
      {{ "search.resultcount"|trans({'%count%': '<span></span>'}, "catroweb")|raw }}
    </div>
    <div class="programs"></div>
  </div>

{% endblock %}

{% block js %}
  <script>
    let search = new ProjectLoader('#search-results', '{{ path('api_search_programs') }}')
    let search_input = $('.input-search')
    let old_query = search_input.html('{{ q }}').text()
    search.initSearch(old_query)
    search_input.val(old_query)
    $(function () {
      $('.search-icon-header').click()
    })
  </script>
{% endblock %}
