{% extends base_template %}

{% block list_table %}

  <style>
    h3
    {
      margin-left: 20px;
    }

    .mtable
    {
      display: table;
      margin-left: 20px;
      margin-bottom: 30px;
      padding-bottom: 20px;
      width: 95%;
    }

    .table-name
    {
      font-weight: bold;
      font-size: 130%;
      border-bottom: 1px solid gray;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .lrow
    {
      width: 200px;
      display: table-row;
      float: left;
      clear: both;
    }

    .rrow
    {
      display: table-row;
      float: left;
      width: 500px;
    }

    .separator
    {
      border-bottom: 1px solid gray;
    }

    .user-avatar
    {
      max-width: 100px;
    }

  </style>

  <div class="col-xs-12 col-md-12">
    <div class="box box-primary">
      <div class="box-body table-responsive no-padding">

        <h3>Show stored data for user '{{ user }}'</h3>

        <div class="mtable">
          <div class="table-name">User</div>

          <div class="lrow">ID</div><div class="rrow">{{ user.id }}</div>
          <div class="lrow">Username</div><div class="rrow">{{ user.userName }}</div>
          <div class="lrow">Avatar</div><div class="rrow">{% if user.avatar is not empty %}<img alt="avatar" class="user-avatar" src="{{ user.avatar }}"/>{% else %} Not uploaded {% endif %}</div>
          <div class="lrow">Created at</div><div class="rrow">{{ user.createdAt|date('Y-m-d h:m:s') }}</div>
          <div class="lrow">Email</div><div class="rrow">{{ user.email }}</div>
          <div class="lrow">Facebook data</div><div class="rrow">{{ user.facebookData }}</div>
          <div class="lrow">Facebook name</div><div class="rrow">{{ user.facebookName }}</div>
          <div class="lrow">Facebook uid</div><div class="rrow">{{ user.facebookUid }}</div>
          <div class="lrow">Followers</div><div class="rrow">
            {% for follower in user.followers %} {{ follower }}; {%  endfor %}
          </div>
          <div class="lrow">Following</div><div class="rrow">
            {% for following in user.following %} {{ following }}; {%  endfor %}
          </div>
          <div class="lrow">Google ID</div><div class="rrow">{{ user.googleId }}</div>
          <div class="lrow">Group names</div>
          <div class="rrow">
            {% for groupname in user.groupnames %} {{ groupname }}; {%  endfor %}
          </div>
          <div class="lrow">Last login</div><div class="rrow">{{ user.lastLogin|date('Y-m-d h:m:s') }}</div>
          <div class="lrow">Given likes</div>
          <div class="rrow">
            {% for like in user.likes %} {{ like }}; {%  endfor %}
          </div>
          <div class="lrow">Locale</div><div class="rrow">{{ user.locale }}</div>
          <div class="lrow">Password</div><div class="rrow">*****</div>
          <div class="lrow">Passwort requested at</div><div class="rrow">{{ user.passwordRequestedAt|date('Y-m-d h:m:s') }}</div>
          <div class="lrow">Real roles</div>
          <div class="rrow">
            {% for realrole in user.realroles %} {{ realrole }}; {%  endfor %}
          </div>
          <div class="lrow">Roles</div>
          <div class="rrow">
            {% for role in user.roles %} {{ role }}; {%  endfor %}
          </div>
          <div class="lrow">Salt</div><div class="rrow">*****</div>
          <div class="lrow">Timezone</div><div class="rrow">{{ user.timezone }}</div>
          <div class="lrow">Token</div><div class="rrow">*****</div>
          <div class="lrow">Two step verification code</div><div class="rrow">*****</div>
          <div class="lrow">Updated at</div><div class="rrow">{{ user.updatedAt|date('Y-m-d h:m:s') }}</div>
          <div class="lrow">Upload token</div><div class="rrow">{{ user.uploadToken }}</div>
          <div class="lrow separator"></div><div class="rrow separator"></div>
        </div>

        <div class="mtable">
          <div class="table-name">Projects (uploaded by this user)</div>

          {% if user_projects is empty %} <div>No entries for this user</div> {%  endif %}

          {% for up in user_projects %}
            <div class="lrow">ID</div><div class="rrow">{{ up.id }}</div>
            <div class="lrow">Name</div><div class="rrow">{{ up.name }}</div>

            <div class="lrow separator"></div><div class="rrow separator"></div>
          {%  endfor %}
        </div>

        <div class="mtable">
          <div class="table-name">Project Inappropriate Reports (filed by this user)</div>

          {% if project_inappropriate_reports is empty %} <div>No entries for this user</div> {%  endif %}

          {% for pir in project_inappropriate_reports %}
            <div class="lrow">ID</div><div class="rrow">{{ pir.id }}</div>
            <div class="lrow">Reporting user</div><div class="rrow">{{ pir.reportingUser }}</div>
            <div class="lrow">Category</div><div class="rrow">{{ pir.category }}</div>
            <div class="lrow">Note</div><div class="rrow">{{ pir.note }}</div>
            <div class="lrow">Time</div><div class="rrow">{{ pir.time|date('Y-m-d h:m:s') }}</div>
            <div class="lrow">State</div><div class="rrow">{{ pir.state }}</div>
            <div class="lrow">Project</div><div class="rrow">{{ pir.program }}</div>
            <div class="lrow">Project Version</div><div class="rrow">{{ pir.projectVersion }}</div>
            <div class="lrow separator"></div><div class="rrow separator"></div>
          {%  endfor %}

        </div>

        <div class="mtable">
          <div class="table-name">User Comments (created by this user)</div>

          {% if user_comments is empty %} <div>No entries for this user</div> {%  endif %}

          {% for uc in user_comments %}
            <div class="lrow">ID</div><div class="rrow">{{ uc.id }}</div>
            <div class="lrow">Project</div><div class="rrow">{{ uc.program }}</div>
            <div class="lrow">User ID</div><div class="rrow">{{ uc.user.id }}</div>
            <div class="lrow">User name</div><div class="rrow">{{ uc.userName }}</div>
            <div class="lrow">Uploaded at</div><div class="rrow">{{ uc.uploadDate|date('Y-m-d h:m:s') }}</div>
            <div class="lrow">Text</div><div class="rrow">{{ uc.text }}</div>
            <div class="lrow">Is Reported</div><div class="rrow">{{ uc.isReported }}</div>
            <div class="lrow separator"></div><div class="rrow separator"></div>
          {%  endfor %}

        </div>

        <div class="mtable">
          <div class="table-name">Notifications (for this user)</div>

          {% if notifications is empty %} <div>No entries for this user</div> {%  endif %}

          {% for notification in notifications %}
            <div class="lrow">ID</div><div class="rrow">{{ notification.id }}</div>
            <div class="lrow">User</div><div class="rrow">{{ notification.user }}</div>
            <div class="lrow">Title</div><div class="rrow">{{ notification.title}}</div>
            <div class="lrow">Message</div><div class="rrow">{{ notification.message }}</div>
            <div class="lrow">Seen</div><div class="rrow">{{ notification.seen }}</div>
            {% if notification.price is defined %}
              <div class="lrow">Price</div><div class="rrow">{{ notification.price }}</div>
            {%  endif %}
            {% if notification.imagePath is defined %}
              <div class="lrow">Image Path</div><div class="rrow">{{ notification.imagePath }}</div>
            {% endif %}
            {% if notification.comment is defined %}
              <div class="lrow">Comment</div><div class="rrow">{{ notification.comment }}</div>
            {% endif %}
            {% if notification.likeFrom is defined %}
              <div class="lrow">Like from</div><div class="rrow">{{ notification.likeFrom }}</div>
            {% endif %}
            {% if notification.follower is defined %}
              <div class="lrow">Follower</div><div class="rrow">{{ notification.follower }}</div>
            {% endif %}
            {% if notification.program is defined %}
              <div class="lrow">Project</div><div class="rrow">{{ notification.program }}</div>
            {% endif %}
                <div class="lrow separator"></div><div class="rrow separator"></div>
          {%  endfor %}

          </div>

        </div>
    </div>
  </div>

{% endblock %}