{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
  {% set content_type = object.contentType %}
  {% set content_id = object.contentId %}
  {% set link = null %}

  {% if content_type == 'project' %}
    {% set link = path('program', {id: content_id, theme: 'pocketcode'}) %}
  {% elseif content_type == 'comment' %}
    {% set link = path('project_comment', {id: content_id, theme: 'pocketcode'}) %}
  {% elseif content_type == 'user' %}
    {% set link = path('profile', {id: content_id, theme: 'pocketcode'}) %}
  {% elseif content_type == 'studio' %}
    {% set link = path('studio_details', {id: content_id, theme: 'pocketcode'}) %}
  {% endif %}

  {% if link %}
    <a href="{{ link }}" target="_blank" title="View {{ content_type }} {{ content_id }}">
      {{ content_id }} <i class="fa fa-external-link"></i>
    </a>
  {% else %}
    {{ content_id }}
  {% endif %}
{% endblock %}
