{% extends base_template %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
    .loader
    {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      -webkit-animation: spin 2s linear infinite;
    }

    @keyframes spin
    {
      0%
      {
        transform: rotate(0deg);
      }
      100%
      {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin
    {
      0%
      {
        -webkit-transform: rotate(0deg);
      }
      100%
      {
        -webkit-transform: rotate(360deg);
      }
    }
  </style>
{% endblock %}

{% block content %}

    <div class="row">

      <div class="col-md-6">
        <div class="box">
          <h3 class="box-header">{{ "admin.maintain.diskMaintenance"|trans({}, "catroweb") }}</h3>
          <div class="box-body">
            <div>
              <div id="piechart_3d" style="width: 100%; height: 300px; display: inline-block;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box">
          <h3 class="box-header">{{ "admin.maintain.ramMaintenance"|trans({}, "catroweb") }}</h3>
          <div class="box-body">
            <div>
              <div id="piechart_3d_mem" style="width: 100%; height: 300px; display: inline-block;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="box">
          <h3 class="box-header">{{ "admin.maintain.removableObjects"|trans({}, "catroweb") }}</h3>
          <div class="box-body">
            <div>
              {% set i = 0 %}
              {% for RemovableObject in RemovableObjects %}
                <div class="box">
                  <div class="box-header">
                    {% if RemovableObject.archive_command_link != null %}
                      <a class="btn btn-sm btn-default" style="min-width:20%;"
                         href="{{ RemovableObject.command_link }}"><i
                            class="glyphicon glyphicon-trash"></i> {{ RemovableObject.command_name }}</a>
                      <a class="btn btn-sm btn-default" style="min-width:20%;"
                         href="{{ RemovableObject.archive_command_link }}"><i
                            class="glyphicon glyphicon-briefcase"></i> {{ RemovableObject.archive_command_name }}</a>
                    {% else %}
                      <a class="btn btn-sm btn-default" style="min-width:20%;"
                         href="{{ RemovableObject.command_link }}"><i
                            class="glyphicon glyphicon-trash"></i> {{ RemovableObject.command_name }}</a>
                    {% endif %}
                    <span style="margin-left: 5%;">
                                  {{ RemovableObject.name }} ({{ RemovableObject.size }})
                                  </span>
                    <span style="float: right">
                                      <i style="cursor: pointer; font-size: medium"
                                         class="glyphicon glyphicon-info-sign"
                                         onclick="$('#Removable_{{ i }}').show('slow')"></i>
                                  </span>

                  </div>
                  <div id="Removable_{{ i }}" style="display: none">{{ RemovableObject.description|raw }}</div>
                </div>
                {% set i = i+1 %}
              {% else %}
                {{ "admin.maintain.noRemovableObjects"|trans({}, "catroweb") }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="{{ asset('js/PieChart.js') }}"></script>
  <script>
    let data_space_values = [['name', 'value'],
      ['Used ({{ usedSpace }})',          {{ usedSpace_raw }}],
      ['Projects ({{ projectsSpace }})',  {{ projectsSpace_raw }}],
      {% for ro in RemovableObjects %}
      ['{{ ro.name }} ({{ ro.size }})',   {{ ro.size_raw }}],
      {% endfor %}
      ['Free ({{ freeSpace }})',          {{ freeSpace_raw }}]]
    let data_mem_values = [['name', 'value'],
      ['Free ({{ freeRam }})',          {{ freeRamPercentage }}],
      ['Used ({{ usedRam }})',          {{ usedRamPercentage }}],
      ['Shared ({{ sharedRam }})',      {{ sharedRamPercentage }}],
      ['Buff/Cache ({{ cachedRam }})',  {{ cachedRamPercentage }}]]

    const pieChart = new PieChart(google)
    pieChart.init()
    pieChart.add('piechart_3d', data_space_values, 'Disk Space ({{ wholeSpace }})')
    pieChart.add('piechart_3d_mem', data_mem_values, 'RAM ({{ wholeRam }})')
  </script>
{% endblock %}