
{% block head %}
  <link rel="stylesheet" href="{{ asset('css/plugins/font-awesome.min.css') }}" />
{% endblock %}


<div id="{{ carousel.id }}" class="carousel slide {{ carousel.classes }} center" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    {% for i in 0..carousel.slideCount - 1 %}
      {% if i == 0 %}
        <li data-target="#{{ carousel.id }}" data-slide-to="{{ i }}" class="active"></li>
      {% else %}
        <li data-target="#{{ carousel.id }}" data-slide-to="{{ i }}"></li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for slide in carousel.slides %}
      {% if loop.first %}
        <div class="carousel-item active">
          <a href="{{ slide.url }}">
            <img src="{{ asset(slide.image) }}" alt="featured program">
          </a>
        </div>
      {% else %}
        <div class="carousel-item">
          <a href="{{ slide.url }}">
            <img src="{{ asset(slide.image) }}" alt="featured program">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if carousel.controls %}
  <!-- Left and right controls -->
    <a class="carousel-control-prev carousel-control" href="#{{ carousel.id }}" data-slide="prev">
      <i class="fa fa-chevron-circle-left"></i>
    </a>
    <a class="carousel-control-next carousel-control" href="#{{ carousel.id }}" data-slide="next">
      <i class="fa fa-chevron-circle-right"></i>
    </a>

  {% endif %}
</div>