{% extends "Default/base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>
{% endblock %}

{% block header %}
{% endblock header %}

{% block body %}

  {% block fos_user_content %}

    <div class="container-fluid" style="width:100%">

      {% include 'UserManagement/login_logo.html.twig' %}


      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-5" align="center">

          <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="post">
            {{ form_start(form) }}

            {% if form_errors(form) %}
              <div id="reset-alert"
                   class="alert alert-danger col-sm-12">{{ "passwordsNoMatch"|trans({}, "catroweb") }}</div>
            {% endif %}

            <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]"
                   value="{{ form.children._token.vars.value }}">
            <div class="input-field">
              <input type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]"
                     placeholder="{{ "profile.newPass"|trans({}, "catroweb") }}"/>
            </div>

            <div class="input-field">
              <input type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]"
                     placeholder="{{ "profile.repeatPass"|trans({}, "catroweb") }}"/>
            </div>

            <input type="hidden" name="_target_path" value="{{ path('index') }}"/>
            <!-- Button -->
            <div style="margin-top:30px; margin-bottom:30px" class="form-group">
              <div class="col-sm-12 controls">
                <button id="_submit" type="submit" style="width: 100%;" data-toggle="modal" data-target="#termsModal"
                        class="login btn-primary"
                        name="_create">{{ "login.changePass"|trans({}, "catroweb") }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  {% endblock fos_user_content %}

{% endblock body %}