{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('request_to_reset_password_page') }}
{% endblock %}

{% block body %}

<div class="content-card">
  <div class="row justify-content-center">
    <div class="login-container mb-4">
      <h1>{{ 'resetPassword.request.title'|trans({}, 'catroweb') }}</h1>
      <p>
        {{ 'resetPassword.request.description'|trans({}, 'catroweb') }}
      </p>

      <div id="reset_password_form" role="form"
          {{ stimulus_controller('security--reset-password', {
            apiPath: path('open_api_server_user_userresetpasswordpost'),
            checkYourMailsUrl: path('app_check_email'),
          }) }}>

        {{ include('Components/TextField.html.twig', {
          text_field:
          {
            id: 'email',
            label: '' ~ 'login.email'|trans({}, 'catroweb'),
            name: '_email',
            type: 'email',
            leading_icon: 'email',
            tabindex: 1,
          },
        }) }}

        <div class="mt-3">
          <button type="submit" data-action="click->security--reset-password#requestPasswordResetEmail"
                  class="btn btn-primary">{{ 'resetPassword.request.button.submit'|trans({}, 'catroweb') }}</button>
          <a href="{{ path('login') }}"
             class="btn btn-secondary">{{ 'resetPassword.request.button.cancel'|trans({}, 'catroweb') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('request_to_reset_password_page') }}
{% endblock %}
