{% extends 'Layout/Base.html.twig' %}

{% block body %}
    <h1 class="h2">{{ 'resetPassword.reset.title'|trans({}, 'catroweb') }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'resetPassword.reset.button.submit'|trans({}, 'catroweb') }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
