{% extends 'Components/FullscreenModal.html.twig' %}
{% set modal =
  {
    id: 'account-settings-modal',
    title: '' ~ 'myprofile.accountSettings'|trans({}, 'catroweb'),
    left_action:
    {
      id: 'account_settings-cancel_action',
      icon: 'close',
      label: '' ~ 'cancel'|trans({}, 'catroweb'),
      dismiss: true
    }
  } %}
{% block content %}
  <h2>{{ 'myprofile.deleteAccount'|trans({}, 'catroweb') }}</h2>
  {% set text_parts = 'myprofile.deleteAccountWarning'
    |trans({'%num_projects%': app.user.programs|length, '%num_followers%': app.user.followers|length}, 'catroweb')
    |split('\n') %}
  <p><strong>{{ text_parts[0] }}</strong>
    {{ text_parts[1] }}</p>
  <p>{{ text_parts[2] }}</p>
  <button id="btn-delete-account" class="btn btn-danger w-100">{{ 'myprofile.deleteAccount'|trans({}, 'catroweb') }}
  </button>
{% endblock %}
