{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'studio.create_studio'|trans({}, 'catroweb') }}{% endblock %}
{% block top_bar_back_path %}{{ path('studios_overview') }}{% endblock %}
{% block top_bar_back_icon %}close{% endblock %}
{% block top_bar_search %}disable{% endblock %}
{% block top_bar_save %}enable{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('studio_create_page') }}
{% endblock %}

{% block body %}
  <form id="studio-create-form" class="container">

    {{ include('Components/TextField.html.twig', {
      text_field:
      {
        id: 'studio-name',
        label: '' ~ 'studio.studio_name'|trans({}, 'catroweb'),
        name: 'name',
        leading_icon: 'badge',
        tabindex: 1,
      },
    }) }}

    {{ include('Components/TextField.html.twig', {
      text_field:
      {
        id: 'studio-description',
        label: '' ~ 'studio.studio_description'|trans({}, 'catroweb'),
        name: 'description',
        leading_icon: 'description',
        tabindex: 2,
      },
    }) }}

    {{ include('Components/Switch.html.twig', {
      switch:
      {
        id: 'studio-is-public',
        label: '' ~ 'studio.is_public'|trans({}, 'catroweb'),
        selected: 1,
        name: 'is-public',
      },
    }) }}

    {{ include('Components/Switch.html.twig', {
      switch:
      {
        id: 'studio-enable-comments',
        label: '' ~ 'studio.enable_comments'|trans({}, 'catroweb'),
        selected: 1,
        name: 'enable-comments',
      },
    }) }}

    <button class="btn btn-secondary" style="position: relative;">
      <span>{{ 'studio.cover_image'|trans({}, 'catroweb') }}</span>
      <input type="file" id="studio-file-input" name="studio-file-input" accept="image/*">
    </button>
    <div id="studio-file-name">{{ 'studio.cover_image_empty'|trans({}, 'catroweb') }}</div>
    <div id="studio-image-preview">
      <button id="studio-delete-button"><span class="material-icons">close</span></button>
      <img id="studio-preview-image" alt="{{ 'studio.cover_image_alt'|trans({}, 'catroweb') }}">
    </div>

  </form>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('studio_create_page') }}
{% endblock %}
