{% extends 'Default/base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('studios_overview') }}
{% endblock %}

{% block body %}

        <div class="row">
            <div class="col text-start">
                <h1>{{ 'studio.title'|trans({}, 'catroweb') }}</h1>
            </div>
        </div>
        {% if user_name %}
            <h2>{{ 'studio.overview.joined_studios'|trans({}, 'catroweb') }}</h2>
            {% include 'Studio/studios_overview_list.html.twig' with { 'studios': studios, 'public': false, 'user_name': user_name, 'joined': true} %}

            <h2>{{ 'studio.overview.private_studios'|trans({}, 'catroweb') }}</h2>
            {% include 'Studio/studios_overview_list.html.twig' with { 'studios': studios, 'public': false, 'user_name': user_name, 'joined': false} %}
        {% endif %}
        <h2>{{ 'studio.overview.public_studios'|trans({}, 'catroweb') }}</h2>
        {% include 'Studio/studios_overview_list.html.twig' with { 'studios': studios, 'public': true, 'user_name': user_name, 'joined': false} %}

        <div class="row">
            {% if user_name %}
                <div class="text-end col">
                    <a href="{{ path('studio_new') }}" >
                        <span class=" add-button material-icons" style="color: #00acc1; font-size: 3rem;">add_circle</span>
                    </a>
                </div>
            {% else %}
                <div class="text-end col ">
                    <a href="{{ path('login') }}" >
                        <span class="add-button material-icons" style="color: #00acc1; font-size: 3rem;">add_circle</span>
                    </a>
                </div>
            {% endif %}
        </div>

        {% endblock %}


{% block javascript %}
    {{ encore_entry_script_tags('studios_overview') }}
{% endblock %}


