
<div class="studios-list">
    {% for studio in studios %}
        {% if not public and studio.is_joined and joined or public and not studio.is_joined  and not joined and studio.is_public and studio.is_enabled or not public and not joined and not studio.is_joined and not studio.is_public and studio.is_enabled %}
            <a href="{{ path('studio_details', {id: studio.id}) }}">
                <div class="studios-list-item">
                    <img src="{{ asset(studio.cover_path|default('images/default/thumbnail.png')) }}" class="img-fluid studios-list-item--image" alt="">
                    <div class="studios-list-item--content">
                        <div class="studios-list-item--heading">
                            <h3>{{ studio.name }}</h3>
                            {% if not studio.is_public %}
                                <div class="studios-list-item--badge">
                                    <span class="material-icons">lock</span>
                                </div>
                            {% endif %}
                            {% if studio.is_joined %}
                                <!--<div class="studios-list-item--badge">
                                    <span class="material-icons">group_add</span>
                                </div>-->
                                <!--<div class="studios-list-item--text">(joined)</div>-->
                            {% endif %}
                        </div>
                        <div class="studios-list-item--icons">
                            <div class="studios-list-item--icon-wrapper">
                                <span class="material-icons">person</span>
                                <span class="studios-list-item--icons-text ms-2">{{ studio.studio_users }}</span>
                            </div>
                            <div class="studios-list-item--icon-wrapper">
                                <span class="material-icons">app_shortcut</span>
                                <span class="studios-list-item--icon-text ms-2">{{ studio.studio_projects }}</span>
                            </div>
                        </div>
                    </div>
                    {% if user_name %}
                        <div class="studios-list-item--buttons mdc-menu-surface--anchor">
                            <button id="studios-list-item--button-{{ studio.id }}" class="mdc-icon-button" data-studio-id="{{ studio.id }}">
                                <span class="material-icons">more_vert</span>
                            </button>
                            <div id="studios-list-item--menu-{{ studio.id }}" class="mdc-menu mdc-menu-surface" data-studio-id="{{ studio.id }}">
                                <ul class="mdc-deprecated-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                                    <li  class="mdc-deprecated-list-item mdc-deprecated-list-item--disabled" role="menuitem">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        {% if not studio.is_joined and  studio.status != 'pending' and studio.status != 'declined'%}
                                            <span class="mdc-deprecated-list-item__text ajaxRequestJoinLeaveReport ajaxRequestJoin"
                                                  data-url="{{ path('studio_join', {'id': studio.id }) }}">
                                                 {{ 'studio.details.join'|trans({}, 'catroweb') }}
                                           </span>
                                        {% else %}
                                            {% if studio.status == 'pending' %}
                                                <span class="mdc-deprecated-list-item__text">
                                                {{ 'studio.details.pending'|trans({}, 'catroweb') }}
                                                 </span>

                                            {% elseif studio.status == 'declined' %}
                                                    <span class="mdc-deprecated-list-item__text">
                                                {{ 'studio.details.decline'|trans({}, 'catroweb') }}
                                                 </span>
                                            {% elseif studio.status == 'approved' or studio.status == 'joined' %}
                                                <span class="mdc-deprecated-list-item__text ajaxRequestJoinLeaveReport ajaxRequestLeave"
                                                      data-url="{{ path('studio_leave', {'id': studio.id }) }}">
                                                   {{ 'studio.details.leave'|trans({}, 'catroweb') }}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </li>

                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--disabled" role="menuitem">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text ajaxRequestJoinLeaveReport ajaxRequestReport"
                                              data-url="{{ path('studio_report', {'id':studio.id }) }}">
                                            {{ 'studio.report'|trans({}, 'catroweb') }}"
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </a>
      {% endif %}
    {% endfor %}


</div>

