<div class="studio-detail__header">
  <h2 class="studio-detail__header__name" class="ps-3 pe-2 mt-2">{{ studio.name }}</h2>
  <div class="studio-detail__header__details">

    <div class="col-3">
      {{ studio.isPublic ? "studio.public" |trans({}, 'catroweb') : "studio.private" |trans({}, 'catroweb') }}
    </div>

    <div class="col-3">
      {% if user_role != null %}
        <div {{ stimulus_controller('studio--member-list', {
              url: path('studio_members_list'),
              studioId: studio.id,
              listElementId: 'studioDetailMembersList'
            }) }}
        >
          <a type="button"
             class="studio-detail__header__details__button studio-detail__header__details__button--member"
             data-bs-toggle="modal"
             data-bs-target="#studioDetailMembersListModal"
             data-action="click->studio--member-list#loadMembers"
          >
            <span class="material-icons">person</span><span class="ms-2 member_count">{{ members_count }}</span>
          </a>
          {% include 'components/fullscreen_list_modal.html.twig' with {
            'modal':
            {
              'id': 'studioDetailMembersListModal',
              'title': '' ~ 'studio.details.members_list.title'|trans({}, 'catroweb'),
              'list_id': 'studioDetailMembersList'
            }
          } %}
        </div>
      {% else %}
        <div class="studio-detail__header__details__info">
          <span class="material-icons">person</span>
          <span class="ms-2 member_count">{{ members_count }}</span>
        </div>
      {% endif %}
    </div>

    <div class="col-3">
      {% if user_role == 'admin' %}
        <div {{ stimulus_controller('studio--activity-list', {
              url: path('studio_activities_list'),
              studioId: studio.id,
              listElementId: 'studioDetailActivityList'
            }) }}
        >
          <a type="button"
             class="studio-detail__header__details__button studio-detail__header__details__button--activity"
             data-bs-toggle="modal"
             data-bs-target="#studioDetailActivityListModal"
             data-action="click->studio--activity-list#loadActivities"
          >
            <span class="material-icons">schedule</span>
            <span class="ms-2 activity_count">{{ activities_count }}</span>
          </a>
          {% include 'components/fullscreen_list_modal.html.twig' with {
            'modal':
            {
              'id': 'studioDetailActivityListModal',
              'title': '' ~ 'studio.details.activity_list.title'|trans({}, 'catroweb'),
              'list_id': 'studioDetailActivityList'
            }
          } %}
        </div>
      {% else %}
        <div class="studio-detail__header__details__info">
          <span class="material-icons">schedule</span>
          <span class="ms-2 activity_count">{{ activities_count }}</span>
        </div>
      {% endif %}
    </div>

    <div class="col-3">
      {% if user_role == null %}
        {% if user_name %}
        <button class="studio-detail__header__details__join-button btn btn-primary btn-block ajaxRequestJoinLeaveReport"   data-url="{{ path('studio_join', {'id': studio.id}) }}">
          {{ "studio.join" |trans({}, 'catroweb') }}
        </button>
        {% else %}
              <a href="{{ path('login') }}"  class="studio-detail__header__details__join-button btn btn-primary btn-block">   {{ "studio.join" |trans({}, 'catroweb') }}</a>
        {% endif %}
      {% elseif user_role == 'admin' %}
          {# <div class="position-relative"> #}
          {# <div class="studio-detail__header__details__button--upload-image d-flex"> #}
          {# <div> #}
          {# <form class="studio-detail__header__details__button--upload-image" id="std-header-form" method="post"> #}
          {# <input id="std-header" type="file" name="header-img"> #}
          {# <i class="material-icons md-light">camera_alt</i> #}
          {# <div class="button-show-ajax"></div> #}
          {# </form> #}
          {# </div> #}
          {# </div> #}
          {# </div> #}

          {# <button id="studio-detail__header__details__button--upload-image" class="btn btn-outline-primary btn-block" #}
          {# onclick="(new Studio()).updateHeader()"> #}
          {# <span class="material-icons">photo_camera</span> #}
          {# </button> #}
          {# <form class="studio-detail__header__details__button--upload-image" id="std-header-form" action="" method="post"> #}
          {# <input id="std-header" name="header-img" type="file" #}
          {# onchange="(new Studio()).uploadHeader()"> #}
          {# <input id="std-id" name="std-id" type="hidden" value="{{ studio.id }}"> #}
          {# <input type="submit" style="display: none;"> #}
          {# </form> #}
      {% else %}
        {% if user_name %}
        <button id="studio-join-leave-btn" class="btn btn-outline-primary btn-block ajaxRequestJoinLeaveReport"   data-url="{{ path('studio_leave', {'id': studio.id}) }}">
          {{ "studio.leave" |trans({}, 'catroweb') }}
        </button>
        {% else %}
            <a href="{{ path('login') }}"  id="studio-join-leave-btn" class="btn btn-outline-primary btn-block" > {{ "studio.leave" |trans({}, 'catroweb') }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% include 'Studio/studio_details_tabs.html.twig' %}
</div>
