<div id="studio-info-container">
    <div class="col-8">
        <div id="studio-name">
            <h2 class="mt-2">{{ studio.name }}</h2>
        </div>
        <div id="studio-info">
            <div class="col-4">
                <span>{{ studio.isEnabled ? "studio.details.public" |trans({}, 'catroweb') : "studio.details.private" |trans({}, 'catroweb') }}</span>
            </div>
            <div class="col-4">
                {% if user_role != null %}
                    <a class="count-container" href="javascript:void(0)" onclick="(new Studio()).loadMembers()"
                       data-bs-toggle="modal" data-bs-target="#members-modal">
                        <div class="col-4">
                            <span class="material-icons">person</span><span class="ms-2">{{ members_count }}</span>
                        </div>
                    </a>
                {% else %}
                    <div class="col-4">
                        <span class="material-icons">person</span><span class="ms-2">{{ members_count }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="col-4">
                {% if user_role == 'admin' %}
                    <a class="count-container" href="javascript:void(0)" onclick="(new Studio()).loadActivites()"
                       data-bs-toggle="modal" data-bs-target="#activities-modal">
                        <span class="material-icons">schedule</span>
                        <span id="activities_count" class="ms-2">{{ activities_count }}</span>
                    </a>
                {% else %}
                    <span class="material-icons">schedule</span>
                    <span id="activities_count" class="ms-2">{{ activities_count }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user_role == null %}
        <div class="col-4">
            <button id="studio-join-leave-btn"
                    class="btn btn-outline-primary btn-block">{{ "studio.details.join" |trans({}, 'catroweb') }}</button>
        </div>
    {% elseif user_role == 'admin' %}
        <div class="col-4">
            <button id="studio-upload-cover-btn" class="btn btn-outline-primary btn-block" onclick="(new Studio()).updateHeader()">
                <span class="material-icons">photo_camera</span>
            </button>
            <form id="std-header-form" action="" method="post">
                <input id="std-header" name="header-img" type="file" style="display: none" onchange="(new Studio()).uploadHeader()">
                <input id="std-id" name="std-id" type="hidden" value="{{ studio.id }}">
                <input type="submit" style="display: none">
            </form>
        </div>
    {% else %}
        <div class="col-4">
            <button id="studio-join-leave-btn"
                    class="btn btn-outline-primary btn-block">{{ "studio.details.leave" |trans({}, 'catroweb') }}</button>
        </div>
    {% endif %}
</div>
