{% extends 'Default/base.html.twig' %}

{% block head %}
    {{ encore_entry_link_tags('studios_overview') }}
{% endblock %}

{% block body %}

    <h1>{{ 'studio.create_studio'|trans({}, 'catroweb') }}</h1>
    <form action="{{ path('studio_create') }}" method="POST">
        <div class="mb-3">
            <label class="form-label" for="inputStudioName">{{ 'studio.studio_name'|trans({}, 'catroweb') }}</label>
            <input class="form-control" id="inputStudioName" type="text" name="name" placeholder="Studio Awesome">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">{{ 'studio.create_studio'|trans({}, 'catroweb') }}</button>
        </div>
    </form>

{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('studios_overview') }}
{% endblock %}