<!---  Logo --->
<a href="{{ path('index') }}">
  <div class="row justify-content-center">
    <div class="col-sm-12 center" style="max-width: 4.25rem;">
      <img class="center-block" id="logo"
        {% if flavor() == 'luna' %}
          src="{{ asset('images/logo/logo_luna.svg') }}"
        {% elseif flavor() == 'embroidery' %}
          src="{{ asset('images/logo/logo_embroidery.svg') }}"
        {% elseif flavor() == 'arduino' %}
          src="{{ asset('images/logo/logo_arduino.png') }}"
        {% elseif flavor() == 'phirocode' %}
          src="{{ asset('images/logo/logo_phirocode.png') }}"
        {% elseif flavor() == 'create@school' %}
          src="{{ asset('images/logo/logo_create_at_school_icon.png') }}"
        {% else %}
          src="{{ asset('images/logo/logo_pocketcode.png') }}"
        {% endif %}
        alt="{{ getThemeDisplayName() }} Logo"
      />
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-sm-12 center">
      <span class="theme-logo-title title-color-left">
      {% if flavor() == 'luna' %}
        LUNA &
      {% elseif flavor() == 'embroidery' %}
        EMBROIDERY
      {% elseif flavor() == 'arduino' %}
        ARDUINO
      {% elseif flavor() == 'phirocode' %}
        PHIRO
      {% elseif flavor() == 'create@school' %}
        CREATE @
      {% else %}
        POCKET
      {% endif %}

      </span><span class="theme-logo-title title-color-right">
      {% if flavor() == 'create@school' %}
        SCHOOL
      {% elseif flavor() == 'luna' %}
        CAT
      {% elseif flavor() == 'embroidery' %}
        DESIGNER
      {% elseif flavor() == 'arduino' %}
        CODE
      {% else %}
        CODE
      {% endif %}
      </span>
    </div>
  </div>
</a>
