<div id="comments-pane" class="tab-pane fade-in" role="tabpanel" aria-labelledby="comments-tab">
  {% for comment in comments %}
    <div class="studio-comment">
      <img class="comment-avatar"
           src="{% if comment.avatar != null %}{{ comment.avatar }}
                    {% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"
           alt="Card image">
      <div class="comment-content">
        <a href="{{ url('profile', {id: comment.user.id}) }}">{{ comment.username }}</a>
        {% if user_role == 'admin' or comment.username == user_name %}
          <a class="comment-delete-button" data-bs-toggle="tooltip" data-comment-id="{{ comment.id }}"
             title="{{ 'studio.details.comments.remove_comment'|trans({}, 'catroweb') }}">
            <i class="ms-2 material-icons text-danger">delete</i>
          </a>
        {% endif %}
        <p>{{ comment.text }}</p>
        <div class="comment-info">
          <span class="comment-time col-6">
              <span class="material-icons comment-info-icons">watch_later</span>{{ comment.uploadDate.format('Y-m-d') }}</span>
          <a class="comment-replies col-6" data-comment-id="{{ comment.id }}"
             data-bs-toggle="modal"
             data-bs-target="#comment-reply-modal">
            <span class="material-icons comment-info-icons">forum</span>
            <span
                id="info-{{ comment.id }}">{{ comment.repliesCount }} {{ 'studio.details.comments.replies'|trans({}, 'catroweb') }}</span>
          </a>
        </div>
      </div>
    </div>
    <hr class="comment-hr">
  {% endfor %}

  {% if comments|length == 0 and studio.isAllowComments == '0' %}
    <p id="disabled-comments" class="mt-4 center">
      {{ 'studio.details.comments.disabled_comments'|trans({}, 'catroweb') }}
    </p>
  {% else %}
    <p id="no-comments" class="mt-4 center" {% if comments|length > 0 and studio.isAllowComments == '1' %}style="display: none"{% endif %}>
      {{ 'studio.details.comments.no_comments'|trans({}, 'catroweb') }}
    </p>
  {% endif %}

  {% if user_role != null and studio.isAllowComments == '1' %}

    <div style="display: flex; align-items: center;">
      <a href="{{ path('profile', {id: app.user.id}) }}">
        <img class="member__list-entry__image"
             src="{{ app.user.avatar|default(asset('/images/default/avatar_default.png')) }}"
             alt="">
      </a>

      {{ include('Components/TextArea.html.twig', {
        text_area:
        {
          id: 'add-comment',
          label: '' ~ 'studio.details.comments.type_something'|trans({}, 'catroweb'),
          name: 'comment',
          rows: '1',
          mb: 'none',
        },
      }) }}
      <button id="studio-send-comment">{{ 'studio.details.comments.send'|trans({}, 'catroweb') }}</button>
    </div>
  {% endif %}

</div>
