{% extends "Default/base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>
{% endblock %}

{% block header %}
{% endblock header %}

{% block body %}

  {% block fos_user_content %}

    <div class="container-fluid" style="width:100%">

      {% include 'UserManagement/login_logo.html.twig' %}

      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-6 center">

          <form id="reset-form form_fos" class="form-horizontal"
                action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="post">
            {{ form_start(form) }}

            {% for errorItem in form.plainPassword.first.vars.errors %}
              <div id="signupalert" style="display:block" class="alert alert-danger">{{ errorItem.message }}</div>
            {% endfor %}

            <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]"
                   value="{{ form.children._token.vars.value }}">

            <div class="group">
              <span class="highlight"></span>
              <span class="bar"></span>
              <div class="group-with-icon-wrapper show-hide-password">
                <div class="group-with-icon">
                    <span>
                      {{ form_widget(form.plainPassword.first) }}
                      <label><span class="span-input">{{ 'profile.newPass'|trans({}, 'catroweb') }}</span></label>
                    </span>
                </div>
                <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
              </div>
            </div>

            <div class="group">
              <span class="highlight"></span>
              <span class="bar"></span>
              <div class="group-with-icon-wrapper show-hide-password">
                <div class="group-with-icon">
                    <span>
                      {{ form_widget(form.plainPassword.second) }}
                      <label><span class="span-input">{{ 'profile.repeatPass'|trans({}, 'catroweb') }}</span></label>
                    </span>
                </div>
                <a href=""><i class="fa fa-eye-slash icon-from-group" aria-hidden="true"></i></a>
              </div>
            </div>

            <input type="hidden" name="_target_path" value="{{ path('index') }}"/>

            <!-- Button -->
            <div style="margin-top:30px; margin-bottom:30px" class="form-group">
              <div class="col-sm-12 controls">
                <button id="_submit" type="submit" style="width: 100%;" data-toggle="modal" data-target="#termsModal"
                        class="login btn-primary"
                        name="_create">{{ "login.changePass"|trans({}, "catroweb") }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  {% endblock fos_user_content %}

{% endblock body %}

{% block js %}
  <script src="{{ asset('compiled/js/PasswordVisibilityToggler.js') }}"></script>
{% endblock js %}