{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/profile.css') }}" media="screen"/>
{% endblock %}


<div class="card mb-3 notification-container" id="catro-notification-{{ notification.id }}">

  <h5 class="card-header notification-header">

    {% block notification_title %}{% endblock %}

    <button id="delete-notification-{{ notification.id }}" class="btn btn-primary"
            onclick="notifications.deleteNotification({{ notification.id }})">
      <i class="fas fa-times fa-2x" aria-hidden="true"></i>

    </button>

  </h5>


  <div id="card-body" class="card-body">
    <div class="row">

      {% block notification_leftAvatar %}{% endblock %}

      <div class="notification-body">
        <p class="card-text">
          {% block notification_body %}{% endblock %}
        </p>
      </div>
    </div>
    {% if not(notificationType == "allNotifications" and instance is empty) %}
      {% if (notificationType == "followers" and ((instance is empty) or not (instance[notification.id] == "program")))
        or (notificationType == "allNotifications" and instance[notification.id] == "follow") %}
        {% if app.user == null or app.user.id != notification.follower.id %}
          <div id="follow-icon" class="notification-follow-btn">
            {% if notification.follower.hasFollower(app.user) %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-primary notification-follows"
                        onclick="followers.unfollow('{{ notification.follower.id }}',
                            '{{ notification.follower.username }}')">
                  {{ 'follower.follows'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% else %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-default notification-follow"
                        onclick="followers.follow('{{ notification.follower.id }}')">
                  {{ 'follower.follow'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
      {% if ((notificationType == "followers" and not instance is empty) and instance[notification.id] == "program")
        or (notificationType == "allNotifications" and instance[notification.id] == "program") %}
        {% if app.user == null or app.user.id != notification.program.user.id %}
          <div id="follow-icon" class="notification-follow-btn">
            {% if notification.program.user.hasFollower(app.user) %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-primary notification-follows"
                        onclick="followers.unfollow('{{ notification.program.user.id }}',
                            '{{ notification.program.user.username }}')">
                  {{ 'follower.follows'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% else %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-default notification-follow"
                        onclick="followers.follow('{{ notification.program.user.id }}')">
                  {{ 'follower.follow'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
      {% if (notificationType == "likes") or (notificationType == "allNotifications" and instance[notification.id] == "like") %}
        {% if app.user == null or app.user.id != notification.getLikeFrom.id %}
          <div id="follow-icon" class="notification-follow-btn">
            {% if notification.getLikeFrom.hasFollower(app.user) %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-primary notification-follows"
                        onclick="followers.unfollow('{{ notification.getLikeFrom.id }}',
                            '{{ notification.getLikeFrom.username }}')">
                  {{ 'follower.follows'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% else %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-default notification-follow"
                        onclick="followers.follow('{{ notification.getLikeFrom.id }}')">
                  {{ 'follower.follow'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      {% if (notificationType == "comments") or (notificationType == "allNotifications" and instance[notification.id] == "comment") %}
        {% if app.user == null or app.user.id != notification.comment.user.id %}
          <div id="follow-icon" class="notification-follow-btn">
            {% if notification.comment.user.hasFollower(app.user) %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-primary notification-follows"
                        onclick="followers.unfollow('{{ notification.comment.user.id }}',
                            '{{ notification.comment.username }}')">
                  {{ 'follower.follows'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% else %}
              <a id="follow-btn-notif">
                <button id="mark-as-read-" class="btn btn-default notification-follow"
                        onclick="followers.follow('{{ notification.comment.user.id }}')">
                  {{ 'follower.follow'|trans({}, 'catroweb') }}
                </button>
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if notification.getSeen() is same as(false) %}
      {% if (notificationType == "comments" or notificationType == "likes" or notificationType == "followers"
        or (instance is not empty and (instance[notification.id] == "comment" or instance[notification.id] == "like"
        or instance[notification.id] == "follow" or instance[notification.id] == "program"))) %}
        <div id="mark-as-read">
          <button id="mark-as-read-{{ notification.id }}" class="btn btn-primary
                    notification-mark-read"
                  onclick="notifications.markAsRead({{ notification.id }})">
            {{ 'catro-notifications.markAsRead'|trans({}, 'catroweb') }}
          </button>
        </div>
      {% else %}
        <div id="mark-as-read">
          <button id="mark-as-read-{{ notification.id }}" class="btn btn-primary"
                  onclick="notifications.markAsRead({{ notification.id }})">
            {{ 'catro-notifications.markAsRead'|trans({}, 'catroweb') }}
          </button>
        </div>
      {% endif %}

    {% endif %}

  </div>

</div>