{% extends (app.request.attributes.get('_embedded') == true) 
         ? 'CatrobatWebBundle::fragment.html.twig'
         : 'CatrobatWebBundle::base.html.twig' %}

{% block body %}
<article>
	<header>{{ "programs.newest"|trans }}</header>
	<div id="newestPrograms" class="programContainer">
		<ul>
			{% for entity in entities %}
			<li style="visibility: visible;">
			  <a title="{{ entity.name }}" href="{{ path('program_show', { 'id': entity.id }) }}">
			    <img alt="{{ entity.name }}" src="{{ entity.thumbnail }}">
 					<div class="programTitle">{{ entity.name }}</div>
				<div class="programAddition">vor 4 Stunden</div>
			</a>
		    {% endfor %}
		</ul>
	</div>
</article>
{% endblock %}
