{#

  Wrapper template for a simple usage of material chip sets.

  ===== Dependencies =====

    -


  ===== Example usage =====

  {% include 'Components/ChipSet.html.twig' with {
  'chips': [
    {
      'id': 'A',
      'icon': 'notifications',
      'title': '' ~ 'allNotifications'|trans({}, 'catroweb')
      'controls': 'section-A'
    },
    {
      'id': 'B',
      'icon': 'follower',
      'title': '' ~ 'allFollower'|trans({}, 'catroweb')
      'controls': 'section-b'
    },
  ]
} %}

#}

<div class="mdc-chip-set mdc-chip-set--choice scroll-wrapper nav" role="tablist">
  {% for chip in chips %}
    <button id="{{ chip.id }}"
            class="mdc-chip chip {% if loop.first %} chip-selected {% else %} chip-default {% endif %}"
            role="tab" aria-controls="{{ chip.controls }}" aria-selected="{{ loop.first }}">

      <span class="material-icons mdc-chip__icon mdc-chip__icon--leading">{{ chip.icon }}</span>
      <span role="gridcell">
          <span role="button" class="mdc-chip__primary-action">
            <span class="mdc-chip__text">{{ chip.title }}</span>
          </span>
        </span>
    </button>
  {% endfor %}
</div>
