<div class="js-project-comments"
     data-project-id="{{ program.id }}"
     data-total-number-of-comments="{{ (comments|length) }}"
     data-trans-cancel="{{ 'cancel'|trans({}, 'catroweb') }}"
     data-trans-delete-it="{{ 'deleteIt'|trans({}, 'catroweb') }}"
     data-trans-report-it="{{ 'reportIt'|trans({}, 'catroweb') }}"
     data-trans-are-you-sure="{{ 'areYouSure'|trans({}, 'catroweb') }}"
     data-trans-no-way-of-return="{{ 'noWayOfReturn'|trans({}, 'catroweb') }}"
     data-trans-delete-confirmation="{{ 'programs.deleteCommentConfirmation'|trans({}, 'catroweb') }}"
     data-trans-report-confirmation="{{ 'programs.reportCommentConfirmation'|trans({}, 'catroweb') }}"
     data-trans-pop-up-comment-reported-title="{{ 'programs.report_popup_header'|trans({}, 'catroweb') }}"
     data-trans-pop-up-comment-reported-text="{{ 'programs.report_popup'|trans({}, 'catroweb') }}"
     data-trans-pop-up-deleted-title="{{ 'programs.deleted_popup_header'|trans({}, 'catroweb') }}"
     data-trans-pop-up-deleted-text="{{ 'programs.deleted_popup'|trans({}, 'catroweb') }}"
     data-trans-no-admin-rights-message="{{ 'programs.noAdminRights'|trans({}, 'catroweb') }}"
     data-trans-default-error-message="{{ 'somethingWentWrong'|trans({}, 'catroweb') }}"
     data-path-report-comment-url="{{ path('report') }}"
     data-path-post-comment-url="{{ path('comment') }}"
     data-path-delete-comment-url="{{ path('delete') }}"
     data-path-login-url="{{ path('login') }}"
     data-translated-by-line="{{ 'programs.translatedByLine'|trans({}, 'catroweb') }}"
     google-translate-display-name="{{ 'programs.googleTranslate'|trans({}, 'catroweb') }}">
</div>