{% extends 'Default/base.html.twig' %}
{% block page_title %}{{ "achievements.overview.header"|trans({}, "catroweb") }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('build/css/achievements.css') }}"/>
{% endblock %}


{% block body %}

  {% if most_recent_achievement != null %}
    <h2>{{ "achievements.overview.most_recent_achievement.title"|trans({}, "catroweb") }}</h2>
    <div class="mt-4 mb-4 achievement-top__wrapper">
      <div class="achievement__badge">
        <svg class="achievement__badge__coin achievement__badge__coin--top"
             data-src="{{ asset(most_recent_achievement.getBadgeSvgPath()) }}"
             data-unique-ids="disabled"/>
        <svg class="achievement__badge__banner achievement__badge__banner--top"
             style="color: {{ most_recent_achievement.getBannerColor() }}"
             data-src="{{ asset(most_recent_achievement.getBannerSvgPath()) }}"
             data-unique-ids="disabled"/>
        <div class="achievement__badge__banner__text achievement__badge__banner__text--top">
          {{ most_recent_achievement.getTitleLtmCode()|trans({}, "catroweb") }}
        </div>
      </div>
      <div class="achievement-top__text-wrapper">
        <div>{{ most_recent_achievement.getDescriptionLtmCode()|trans({}, "catroweb") }}</div>
        <div>{{ most_recent_achievement_unlocked_at|trans({}, "catroweb") }}</div>
        <div>{{ "achievements.overview.most_recent_achievement.x_out_of_y"|trans({'%unlocked%': number_of_unlocked_achievements, '%total%': total_number_of_achievements}, "catroweb") }}</div>
      </div>
    </div>
  {% endif %}


  <div class="tab-bar-container">
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area" id="scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button id="unlocked-achievements-tab" class="mdc-tab mdc-tab--active mdc-tab--stacked" role="tab"
                    aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span
                                    class="mdc-tab__icon-text">{{ "achievements.overview.tab_unlocked.title"|trans({}, "catroweb") }}</span>
                            </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
            </button>

            <button id="locked-achievements-tab" class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="false"
                    tabindex="0">
                            <span class="mdc-tab__content">
                                <span
                                    class="mdc-tab__icon-text">{{ 'achievements.overview.tab_locked.title'|trans({}, 'catroweb') }}</span>
                            </span>
              <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content mt-4" id="tabs-tabContent">

    <div id="unlocked-achievements" class="achievement__wrapper tab-pane show active" role="tabpanel"
         aria-labelledby="unlocked-achievements-tab">
      <p id="no-unlocked-achievements" class="{{ achievements_unlocked is empty ? 'd-block' : 'd-none' }}">
        {{ "achievements.overview.tab_unlocked.empty"|trans({}, "catroweb") }}
      </p>
      {% for achievement in achievements_unlocked %}
        <div class="achievement">
          <div class="achievement__badge">
            <svg class="achievement__badge__coin achievement__badge__coin--tab"
                 data-src="{{ asset(achievement.getBadgeSvgPath()) }}"
                 data-unique-ids="disabled"/>
            <svg class="achievement__badge__banner achievement__badge__banner--tab"
                 style="color: {{ achievement.getBannerColor() }}"
                 data-src="{{ asset(achievement.getBannerSvgPath()) }}"
                 data-unique-ids="disabled"/>
            <div class="achievement__badge__banner__text achievement__badge__banner__text--tab">
              {{ achievement.getTitleLtmCode()|trans({}, "catroweb") }}
            </div>
          </div>
          <p class="achievement__badge__text">{{ achievement.getDescriptionLtmCode()|trans({}, "catroweb") }}</p>
        </div>
      {% endfor %}
    </div>

    <div id="locked-achievements" class="achievement__wrapper tab-pane fade" role="tabpanel"
         aria-labelledby="locked-achievements-tab">
      <p id="no-locked-achievements" class="{{ achievements_locked is empty ? 'd-block' : 'd-none' }}">
        {{ "achievements.overview.tab_locked.empty"|trans({}, "catroweb") }}
      </p>
      {% for achievement in achievements_locked %}
        <div class="achievement">
          <div class="achievement__badge">
            <svg class="achievement__badge__coin achievement__badge__coin--tab"
                 data-src="{{ asset(achievement.getBadgeLockedSvgPath()) }}"
                 data-unique-ids="disabled"/>
          </div>
          <p class="achievement__badge__text">{{ achievement.getDescriptionLtmCode()|trans({}, "catroweb") }}</p>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}


{% block js %}
  <script>
    let showNewAchievementAnimation = false;
    {% if most_recent_achievement != null and most_recent_achievement_seen_at == null %}
      showNewAchievementAnimation = true;
      const assetPathNewAchievementPopupBackgroundSVG = "{{ asset("/images/achievements/new_achievement_popup.svg") }}";
      const assetPathBadgeSVG = "{{ asset(most_recent_achievement.getBadgeSvgPath()) }}";
      const assetPathBannerSVG = "{{ asset(most_recent_achievement.getBannerSvgPath()) }}";
      const bannerColor = "{{ most_recent_achievement.getBannerColor() }}";
      const bannerText = "{{ most_recent_achievement.getTitleLtmCode()|trans({}, "catroweb") }}";
      const ltmAchievementsPopupNewTitle = '{{ "achievements.popup.new.title"|trans({}, "catroweb") }}';
      const ltmAchievementsPopupNewSubtitle = '{{ "achievements.popup.new.subtitle"|trans({}, "catroweb") }}';
      const ltmAchievementsPopupNewConfirm = '{{ "achievements.popup.new.confirm"|trans({}, "catroweb") }}';
      const readUnseenAchievementsUrl = '{{ path('achievements_read') }}';
    {% endif %}
  </script>
  {{ encore_entry_script_tags('achievements_overview') }}
{% endblock %}