{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'achievements.overview.header'|trans({}, 'catroweb') }}{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('user_achievements_page') }}
{% endblock %}

{% block body %}

  <div class="js-achievements"
       data-base-url="{{ app.request.getBaseURL() }}"
       data-popup-background-svg="{{ asset('/images/achievements/new-achievement-popup.svg') }}"
       data-trans-popup-title="{{ 'achievements.popup.new.title'|trans({}, 'catroweb') }}"
       data-trans-popup-subtitle="{{ 'achievements.popup.new.subtitle'|trans({}, 'catroweb') }}"
       data-trans-popup-confirm="{{ 'achievements.popup.new.confirm'|trans({}, 'catroweb') }}"
       data-trans-most-recent-title="{{ 'achievements.overview.most_recent_achievement.title'|trans({}, 'catroweb') }}"
       data-trans-x-out-of-y="{{ 'achievements.overview.most_recent_achievement.x_out_of_y'|trans({'%unlocked%': '__UNLOCKED__', '%total%': '__TOTAL__'}, 'catroweb') }}"
       data-trans-unlocked-empty="{{ 'achievements.overview.tab_unlocked.empty'|trans({}, 'catroweb') }}"
       data-trans-locked-empty="{{ 'achievements.overview.tab_locked.empty'|trans({}, 'catroweb') }}"
  ></div>

  {{ include('Components/TabBar.html.twig', {
    tabs: [
      {
        id: 'unlocked-achievements-tab',
        title: '' ~ 'achievements.overview.tab_unlocked.title'|trans({}, 'catroweb'),
        controls: 'unlocked-achievements',
      },
      {
        id: 'locked-achievements-tab',
        title: '' ~ 'achievements.overview.tab_locked.title'|trans({}, 'catroweb'),
        controls: 'locked-achievements',
      },
    ],
  }) }}

  <div class="tab-content mt-4" aria-live="polite">

    <div id="unlocked-achievements" class="achievement__wrapper tab-pane show active" role="tabpanel">
      <p id="no-unlocked-achievements" class="d-none"></p>
    </div>

    <div id="locked-achievements" class="achievement__wrapper tab-pane fade" role="tabpanel">
      <p id="no-locked-achievements" class="d-none"></p>
    </div>

  </div>
{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('user_achievements_page') }}
{% endblock %}
