<h2>{{ "achievements.overview.most_recent_achievement.title"|trans({}, "catroweb") }}</h2>

<div class="mt-4 mb-4 achievement-top__wrapper">

  <div class="achievement__badge">
    <svg class="achievement__badge__coin achievement__badge__coin--top"
         data-src="{{ asset(most_recent_achievement.getBadgeSvgPath()) }}"
         data-unique-ids="disabled"/>
    <svg class="achievement__badge__banner achievement__badge__banner--top"
         style="color: {{ most_recent_achievement.getBannerColor() }}"
         data-src="{{ asset(most_recent_achievement.getBannerSvgPath()) }}"
         data-unique-ids="disabled"/>
    <div class="achievement__badge__banner__text achievement__badge__banner__text--top">
      {{ most_recent_achievement.getTitleLtmCode()|trans({}, "catroweb") }}
    </div>
  </div>

  <div class="achievement-top__text-wrapper">
    <div>{{ most_recent_achievement.getDescriptionLtmCode()|trans({}, "catroweb") }}</div>
    <div>{{ most_recent_achievement_unlocked_at|trans({}, "catroweb") }}</div>
    <div>{{ "achievements.overview.most_recent_achievement.x_out_of_y"|trans({'%unlocked%': number_of_unlocked_achievements, '%total%': total_number_of_achievements}, "catroweb") }}</div>
  </div>
</div>
