<div class="catro-notification" id="catro-notification-{{ notification.id }}">
  <div class="title">
      {{ notification.title }}
  </div>
  <div class="message">
      {{ notification.message }}
  </div>
  <div class="prize">
      {{ notification.prize }}
  </div>
  <button class="btn btn-primary" onclick="markAsRead({{ notification.id }})">Mark as read</button>
</div>