{% extends "Default/base.html.twig" %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/login.css') }}" media="screen"/>
  <script src="{{ asset('compiled/js/jquery-ui.js') }}"></script>
  <script src="{{ asset( getJavascriptPath('loginscript.js') ) }}"></script>

{% endblock %}


{% block header %}
{% endblock header %}

{% block body %}

  {% block fos_user_content %}

    <div class="container-fluid">

      {% include 'UserManagement/login_logo.html.twig' %}

      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-5" align="center">
          {% if error %}
            <div id="login-alert"
                 class="alert alert-danger col-sm-12">{{ "login.passOrUser"|trans({}, "catroweb") }}</div>
          {% endif %}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-11 col-md-8 col-lg-5" align="center">

          <!-- Policy -->
          {% include 'PrivacyAndTerms/policy.html.twig' %}

          <form id="loginform form_fos" class="form-horizontal" role="form"
                action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="row">
              <div class="col">
                <div class="group">
                  <input type="text" id="username" name="_username" required/>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label><span class="span-input">{{ "username"|trans({}, "catroweb") }}</span></label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="group">
                  <input id="password" type="password" name="_password" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label><span class="span-input">{{ "password"|trans({}, "catroweb") }}</span></label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div style="padding-top:15px; font-size:85%; float:right">
                  <a id="pw-request" href="{{ path("fos_user_resetting_request") }}">Forgot Password?</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                {% if (app.session.get("catroweb_login_redirect") is not empty) %}
                  <input type="hidden" name="_target_path" value="{{ app.session.get("catroweb_login_redirect") }}"/>
                  {{ app.session.set("catroweb_login_referer", app.session.get("catroweb_login_redirect")) }}
                  {{ app.session.set("catroweb_login_redirect", "") }}

                {% elseif ("/login" in app.request.headers.get('referer')) %}

                  {% if app.session.has("catroweb_login_referer") %}
                    <input type="hidden" name="_target_path"
                           value="{{ app.session.get("catroweb_login_referer") }}#login"/>
                  {% else %}
                    <input type="hidden" name="_target_path" value="{{ path("index") }}#login"/>
                  {% endif %}
                {% else %}
                  {% if (app.request.headers.get('referer') is not empty) %}
                    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}#login"/>
                    {{ app.session.set("catroweb_login_referer", app.request.headers.get('referer')) }}
                  {% else %}
                    <input type="hidden" name="_target_path" value="index"/>
                  {% endif %}
                {% endif %}

                <!-- Button -->
                <div style="margin-top:10px" class="form-group">
                  <div class="col-sm-12 controls">
                    <button id="_submit" value="Login" href="#" class="login btn-primary"
                            name="_submit">{{ 'login.login'|trans({}, 'catroweb') }}</button>
                  </div>
                </div>

                <!-- Redirects -->
                <div>
                  <div class="form-group">
                    <div class="col-md-12 control">
                      <div style="padding-top:15px; font-size:85%">
                        Don't have an account!
                        <a id="create_account"
                           href="{{ path('fos_user_registration_register') }}">{{ 'login.createAccount'|trans({}, 'catroweb') }}</a>
                      </div>
                    </div>
                  </div>

                  {% include 'UserManagement/or_line.html.twig' %}
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="spacer1" style="margin-bottom: 30px"></div>
    {% include 'UserManagement/oauth_form.html.twig' %}
    <div id="spacer2" style="margin-bottom: 30px"></div>

  {% endblock fos_user_content %}

{% endblock body %}

{% block js %}
  <script src="{{ asset('compiled/js/social.js') }}"></script>
{% endblock %}
