{% extends 'Layout/Base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('twig_bundle_error') }}
{% endblock %}

{% block body %}
  <div class="error-wrapper">
    <div class="error-container {{ "error-"~status_code }}">
      {% if status_code == 404 %}
        <img class="error-img" src="{{ asset('images/default/404-white.png') }}" alt="Error 404">
      {% endif %}
      <div class="error-message">
        <h1>{{ "somethingWentWrong"|trans({}, "catroweb") }}</h1>
        {% if status_code == 404 %}
          <p>{{ "doesNotExist"|trans({}, "catroweb") }}</p>
        {% elseif status_code == 500 %}
          <p>{{ "pleaseTryAgain"|trans({}, "catroweb") }}</p>
        {% elseif status_code == 0 %}
          <p>{{ "errors.unspecified"|trans({}, "catroweb") }}</p>
        {% endif %}
        <p class="error-code">{{ status_code }} {{ exception.statusText }}</p>
      </div>
      <div class="error-link">
        <a href="/app/">
          <button class="btn btn-primary">Home</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
