<footer class="footer d-flex justify-content-center body-content">
  {% block footer %}
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-6 col-sm-4">
          <h3>{{ "footer.usefulLinks"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a id="help" href="{{url('help')}}" target="_blank">
                {{ "tutorials"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/ShareAbout" target="_blank">
                {{ "about"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/education" target="_blank">
                {{ "education"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://wiki.catrobat.org/bin/view/Privacy%20Awareness%20Guide/" target="_blank">
                {{ "privacyGuide"|trans({}, "catroweb") }}
              </a>
            </li>
            <li>
              <a href="https://catrob.at/ChatAndForums" target="_blank">
                {{ "chat"|trans({}, "catroweb") }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-4">
          <h3>{{ "footer.legalities"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a href="{{ url('licenseToPlay') }}">{{ "licenseToPlay.link"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="{{ url('privacypolicy') }}">{{ "privacy-policy.header"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="{{ url('termsOfUse') }}">{{ "termsOfUse.title"|trans({}, "catroweb") }}</a>
            </li>
            <li>
              <a href="https://catrob.at/imprint"
                 target="_blank">{{ "imprint"|trans({}, "catroweb") }}</a>
            </li>
          </ul>
        </div>
        <div class="col-6 mt-4 mt-sm-0 col-sm-4">
          <h3>{{ "footer.download"|trans({}, "catroweb") }}</h3>
          <ul class="list-vertical">
            <li>
              <a href="{{ url('google_play_store') }}"
                 target="_blank">{{ "googlePlay"|trans({}, "catroweb") }}</a>
            </li>
            {% if flavor() == "pocketcode" %}
              <li>
                <a href="https://catrob.at/ca"
                   target="_blank">{{ "iosAppStore"|trans({}, "catroweb") }}</a>
              </li>
              <li>
                <a href="https://catrob.at/HuaweiAppGallery"
                   target="_blank">{{ "huaweiAppGallery"|trans({}, "catroweb") }}</a>
              </li>
            {% endif %}
            <li>
              <a href="https://catrob.at/apps"
                 target="_blank">{{ "others"|trans({}, "catroweb") }}</a>
            </li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="row justify-content-between">

        <div id="copyright" class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
          {{ "copyright"|trans({'%year%' : "now"|date("Y")}, "catroweb")|raw }}
        </div>

      </div>

    </div>

  {% endblock %}
</footer>
