<header class="mdc-top-app-bar">
  <div class="body-content">
    <div class="container">
      {% block header %}
        <div id="top-app-bar__default" class="mdc-top-app-bar__row">

          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">

            {% if back_path is not empty %}
              <button id="top-app-bar__back__btn-back"
                      class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                      aria-label="Back to previous page"
                      onclick="location.href='{{ back_path }}'">
                arrow_back
              </button>
            {% else %}
            <button id="top-app-bar__btn-sidebar-toggle"
                    class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open sidebar navigation menu">
              menu
            </button>
            {% endif %}

            {% if page_title|default('') is empty %}
            <a id="top-app-bar__title"
               class="mdc-top-app-bar__title"
               href="{{ path('index') }}">
                {{ "community"|trans({}, "catroweb") }}
            </a>
            {% else %}
            <span id="top-app-bar__title"
               class="mdc-top-app-bar__title">
              {{ page_title }}
            </span>
            {% endif %}

          </section>

          {% if no_search|default('') is empty %}
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button id="top-app-bar__btn-search"
                    class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                    aria-label="Search">
              search
            </button>

            {% include 'Layout/Header/Options.html.twig' %}

          </section>
          {% endif %}
        </div>


        {#  The Navbar design changes fitting to actions:  #}

        {% include 'Layout/Header/Search.html.twig' %}

        {% include 'Layout/Header/MediaLibraryDownload.html.twig' %}

        <div class="js-header"
            {% if package|default and ('/media-library/' in app.request.pathinfo or '/pocket-library/' in app.request.pathinfo) %}
              data-path-search-url="{{ path('medialibrary_empty_search', {'package_name' : package} ) }}"
            {% else %}
              data-path-search-url="{{ path('empty_search' ) }}"
            {% endif %}
        ></div>
      {% endblock %}
    </div>
  </div>
</header>
