{% block stylesheets %}
{{ encore_entry_link_tags('layout_language_menu') }}
{% endblock stylesheets %}

<div class="language-body-overlay"></div>
<div class="language-body">
    <div class="language-header">{{ "languageSelection"|trans({}, "catroweb") }}</div>
    <div class="language-option-container" >
        {% set languageOptionList = getLanguageOptions() %}
        {% for languageOption in languageOptionList %}
            <label for="{{ languageOption[0] }}" class="language-option" role="option">
                <input class="language-option radio" type="radio" id="{{ languageOption[0] }}" name="language_option" value="{{ languageOption[0] }}" {% if languageOption[2] %}checked{% endif %}>
                <span>{{ languageOption[1] }}</span>
            </label>
        {% else %}
            <div>{{ 'menu.noLanguageOptionsAvailable'|trans({}, "catroweb") }}</div>
        {% endfor %}

    </div>
    <div class="language-button-container">
        <div><button class="language-button-ok" id="language_button_ok">OK</button></div>
        <div><button class="language-button-cancel" id="language_button_cancel">Cancel</button></div>
    </div>

</div>

{{ encore_entry_script_tags('layout_language_menu') }}