{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'codeStatistics.title'|trans({}, 'catroweb') }}{% endblock %}
{% block top_bar_back_path %}{{ path('program', {id: id}) }}{% endblock %}

{% block head %}
  {{ encore_entry_link_tags('project_code_statistics') }}
{% endblock %}

{% block body %}

{% if data|default(null) and brick_data|default(null) %}
  <div class="accordion" id="accordionStatistics">

    <div class="accordion-item">
      <h2 class="accordion-header" id="statisticsGeneral">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
          {{ 'codeStatistics.general'|trans({}, 'catroweb') }}
        </button>
      </h2>
      <div id="collapseGeneral" class="accordion-collapse collapse show" aria-labelledby="statisticsGeneral" data-bs-parent="#accordionStatistics">
        <div class="accordion-body">
          <table class="table center table-striped">
            <thead>
            <tr>
              <th>Category</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for key, entry in data %}
              <tr>
                <td>{{ entry['name'] }}</td>
                <td id="total-number-of-{{ key }}">{{ entry['total-number'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="statisticsBricks">
        <button class="accordion-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseBricks"
                aria-expanded="true" aria-controls="collapseBricks">
          {{ 'codeStatistics.bricks'|trans({}, 'catroweb') }}
        </button>
      </h2>

      <div id="collapseBricks" class="accordion-collapse collapse show" aria-labelledby="statisticsBricks" data-bs-parent="#accordionStatistics">
        <div class="accordion-body">
          <table class="table center table-striped">
            <thead>
            <tr>
              <th>Type</th>
              <th>Total</th>
              <th>Different</th>
            </tr>
            </thead>
            <tbody>
            {% for key, entry in brick_data %}
              <tr>
                <td>{{ entry['name'] }}</td>
                <td id="total-number-of-{{ key }}">{{ entry['total-number'] }}</td>
                <td id="number-of-different-{{ key }}">{{ entry['different'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
{% else %}
    <p>{{ 'codeStatistics.error'|trans({}, 'catroweb') }}</p>
{% endif %}

{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('project_code_statistics') }}
{% endblock %}
