<button id="projectDownloadDisabledButton{{ suffix|default('') }}" class="btn btn-primary btn-block js-btn-project-download-disabled"
        data-redirect-url='{{ login_redirect }}'
        data-alert-text="{{ 'downloadDisabledAlert'|trans({}, 'catroweb') }}"

>

  {# Loading spinner during download #}
  <i id="projectDownloadDisabledButton__loadingSpinner{{ suffix|default('') }}" class="material-icons text-start d-none">
    {{ include('Components/LoadingSpinner.html.twig', {spinner_id: 'download-disabled-progressbar' ~ suffix|default(), size: 'small'}, false) }}
  </i>

  {# Icon #}
  <i id="projectDownloadDisabledButton__icon{{ suffix|default('') }}" class="material-icons align-bottom">lock</i>

  {# Text #}
  <span>{{ 'download'|trans({}, 'catroweb') }}</span>

</button>
