{% if project.tags|length > 0  or project.extensions|length > 0 %}
  <div class="row">
    <div class="col-12">
      <div id="tag-extension-container">
        {% if project.extensions|length > 0 %}
          {% set count = project.extensions|length %}
          <div id="extensions">
            <p>{{ ("extensions.title")|trans({'%count%':count}, "catroweb") }}:</p>
            <div class="list">
              {% for extension in project.extensions %}
                <a href="{{ url('extension_search', { q : extension.getInternalTitle() }) }}">
                    <span class="badge rounded-pill bg-primary">{{ extension.getTitleLtmCode()|trans({}, "catroweb") }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if project.tags|length > 0 %}
          {% set count = project.tags|length %}
          <div id="tags">
            <p>{{ ("tags.title")|trans({'%count%':count}, "catroweb") }}:</p>
            <div class="list">
              {% for tag in project.tags %}
                <a href="{{ url('tag_search', { q : tag.getInternalTitle() }) }}">
                    <span class="badge rounded-pill bg-primary">{{ tag.getTitleLtmCode()|trans({}, "catroweb") }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}