<button id="projectNotForKidsButton{{ suffix|default('') }}" class="btn btn-primary btn-block" data-url="{{ path('mark_not_for_kids', {'id': project.id}) }}">
    {# Icon #}
    <img id="projectNotForKidsButton__icon{{ suffix|default('') }}" style="filter: invert(1) brightness(100); width:1.25rem; height: 1.25rem" src="{{ asset('images/default/not_for_kids.svg') }}">

    {# Text #}
    {% if project.notForKids() %}
        <span id="markSafeForKidsText">{{ "MarkSafeForKids"|trans({}, "catroweb") }}</span>
    {% else %}
        <span id="markNotForKidsText">{{ "MarkNotForKids"|trans({}, "catroweb") }}</span>
    {% endif %}
</button>