{# Initial state: default thumbs-up. Project.js fetches actual reactions from API and updates. #}
<div id="project-like-buttons{{ suffix|default('') }}"
   {% if suffix is not defined %} style="display: inline;"{% endif %}>
  <div class="btn btn-primary btn-round d-inline-flex justify-content-center">
    <i class="material-icons thumbs-up md-24">
      thumb_up
    </i>
  </div>
</div>
<span id="project-like-counter{{ suffix|default('') }}" class="like-counter d-none">0</span>
<span>
  <i class="material-icons d-none" id="project-reactions-spinner{{ suffix|default('') }}">
    {{ include('Components/LoadingSpinner.html.twig', {spinner_id: 'reactions-spinner' ~ suffix|default(), size: 'small'}) }}
  </i>
</span>

<div id="project-like-detail{{ suffix|default('') }}">
  {# Thumbs-Up Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_THUMBS_UP') }}"
     data-bs-toggle="tooltip" title="{{ 'project.thumbsUp'|trans({}, 'catroweb') }}">
    <i class="material-icons md-24">
      thumb_up
    </i>
  </div>
  {# Smile Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_SMILE') }}"
     data-bs-toggle="tooltip" title="{{ 'project.smile'|trans({}, 'catroweb') }}">
            <span class="material-icons md-24">
              sentiment_very_satisfied
            </span>
  </div>
  {# Love Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_LOVE') }}"
     data-bs-toggle="tooltip" title="{{ 'project.love'|trans({}, 'catroweb') }}">
            <span class="material-icons md-24">
              favorite
            </span>
  </div>
  {# Wow Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_WOW') }}"
     data-bs-toggle="tooltip" title="{{ 'project.wow'|trans({}, 'catroweb') }}">
    <img alt="Wow reaction" id="wow-reaction-img-small" src="{{ asset('images/default/wow_white.svg') }}">
  </div>
</div>
