{# If you change #project-like-buttons, you need to change it in Project.js in sendProjectLike too #}
{% if project_details.totalLikeCount is same as(0) %}
  <div id="project-like-buttons{{ suffix|default('') }}"
     {% if suffix is not defined %} style="display: inline;"{% endif %}>
    <div class="btn btn-primary btn-round d-inline-flex justify-content-center">
      <i class="material-icons thumbs-up md-24">
        thumb_up
      </i>
    </div>
  </div>
  <span id="project-like-counter{{ suffix|default('') }}" class="like-counter d-none">0</span>
{% else %}
  <div id="project-like-buttons{{ suffix|default('') }}"
     {% if suffix is not defined %} style="display: inline;"{% endif %}>
    {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_THUMBS_UP') in project_details.activeLikeTypes %}
      <div class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center">
        <i class="material-icons md-24 thumbs-up">
          thumb_up
        </i>
      </div>
    {% endif %}
    {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_SMILE') in project_details.activeLikeTypes %}
      <div class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center">
        <i class="material-icons md-24 smile">
          sentiment_very_satisfied
        </i>
      </div>
    {% endif %}
    {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_LOVE') in project_details.activeLikeTypes %}
      <div class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center">
        <i class="material-icons md-24 love">
          favorite
        </i>
      </div>
    {% endif %}
    {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_WOW') in project_details.activeLikeTypes %}
      <div class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center" id="wow-reaction">
        <img alt="Wow reaction" id="wow-reaction-img-small" class="wow" src="{{ asset('images/default/wow_white.svg') }}">
      </div>
    {% endif %}
  </div>
  {% if suffix is defined %}
    <div class="text-nowrap mt-2 align-bottom">
  {% endif %}
  <span id="project-like-counter{{ suffix|default('') }}"
        class="like-counter">
      {{ project_details.totalLikeCount | humanFriendlyNumber }}
    {{ 'project.reactionsText'|trans({}, 'catroweb') }}
    </span>
    <span>
    <i class="material-icons d-none" id="project-reactions-spinner{{ suffix|default('') }}">
      {% include 'Components/LoadingSpinner.html.twig' with {'spinner_id': 'reactions-spinner' ~ suffix|default(), 'size': 'small'} %}
    </i>
    </span>
  {% if suffix is defined %}
    </div>
  {% endif %}
{% endif %}

<div id="project-like-detail{{ suffix|default('') }}">
  {# Thumbs-Up Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center
              {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_THUMBS_UP') in project_details.activeUserLikeTypes %} active{% endif %}"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_THUMBS_UP') }}"
     data-bs-toggle="tooltip" title="{{ 'project.thumbsUp'|trans({}, 'catroweb') }}">
    <i class="material-icons md-24">
      thumb_up
    </i>
  </div>
  {# Smile Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center
              {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_SMILE') in project_details.activeUserLikeTypes %} active{% endif %}"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_SMILE') }}"
     data-bs-toggle="tooltip" title="{{ 'project.smile'|trans({}, 'catroweb') }}">
            <span class="material-icons md-24">
              sentiment_very_satisfied
            </span>
  </div>
  {# Love Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center
              {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_LOVE') in project_details.activeUserLikeTypes %} active{% endif %}"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_LOVE') }}"
     data-bs-toggle="tooltip" title="{{ 'project.love'|trans({}, 'catroweb') }}">
            <span class="material-icons md-24">
              favorite
            </span>
  </div>
  {# Wow Button #}
  <div
     class="btn btn-primary btn-round d-inline-flex justify-content-center align-items-center
              {% if constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_WOW') in project_details.activeUserLikeTypes %} active{% endif %}"
     data-like-type="{{ constant('App\\DB\\Entity\\Project\\ProgramLike::TYPE_WOW') }}"
     data-bs-toggle="tooltip" title="{{ 'project.wow'|trans({}, 'catroweb') }}">
    <img alt="Wow reaction" id="wow-reaction-img-small" src="{{ asset('images/default/wow_white.svg') }}">
  </div>
</div>
