{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'remixGraph.title'|trans({}, 'catroweb') }}{% endblock %}
{% block top_bar_back_path %}{{ path('program', {id: id}) }}{% endblock %}

{% block head %}
    {# Legacy: remix-graph feature flag is disabled. CDN libs loaded only if re-enabled. #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-contextmenu@2.9.2/dist/jquery.contextMenu.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vis@4.21.0-EOL/dist/vis.min.css"/>
    <link rel="stylesheet" href="{{ asset('build/css/Remixgraph.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css"/>
{% endblock %}

{% block body %}

    <div id="remix-graph-container">
        <div id="remix-graph-layer">
            <div id="remix-graph-spinner">
                {{ include('Components/LoadingSpinner.html.twig', {spinner_id: 'remix-graph-spinner' ~ suffix|default()}) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {# Legacy: remix-graph feature flag is disabled. CDN libs loaded only if re-enabled. #}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-contextmenu@2.9.2/dist/jquery.contextMenu.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.13.3/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vis@4.21.0-EOL/dist/vis.min.js"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.configuration.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.builder.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.visualization.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/RemixGraphHandler.js') }}"></script>
    <script>
      let remixGraphHandler = new RemixGraphHandler(
        "{{ id }}",
        "{{ 'ok'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.by'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.open'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.showPaths'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.projectNotAvailableErrorTitle'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.projectNotAvailableErrorDescription'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.projectNotAvailable'|trans({}, 'catroweb') }}",
        "{{ 'remixGraph.projectUnknownUser'|trans({}, 'catroweb') }}",
        "{{ 'pleaseWait'|trans({}, 'catroweb') }}",
        "{{ project_details_url_template }}",
        "{{ path('remix_graph_data', {id: id}) }}",
        "{{ path('remix_graph_count', {id: id}) }}"
      )
      remixGraphHandler.init()
    </script>

{% endblock %}
