{% extends 'Default/base.html.twig' %}
{% block page_title %}{{ "remixGraph.title"|trans({}, "catroweb") }}{% endblock %}
{% block back_path %}{{ path('program', { 'id' : id }) }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/modules/jquery.contextMenu.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vis/vis.min.css') }}"/> {# We need acces to all images #}
    <link rel="stylesheet" href="{{ asset('build/css/remixgraph.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/modules/animate.min.css') }}"/>
{% endblock %}

{% block body %}

    <div id="remix-graph-container">
        <div id="remix-graph-layer">
            <div id="remix-graph-spinner">
                {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'remix-graph-spinner' ~ suffix|default()} %}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ asset('js/modules/jquery.min.js') }}"></script>
    <script src="{{ asset('js/modules/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ asset('js/modules/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ asset('js/modules/jquery.ui.position.min.js') }}"></script>
    <script src="{{ asset('vis/vis.min.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.configuration.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.builder.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/remixgraph.visualization.js') }}"></script>
    <script src="{{ asset('js/RemixGraph/RemixGraphHandler.js') }}"></script>
    <script>
      let remixGraphHandler = new RemixGraphHandler(
        "{{ id }}",
        "{{ "ok"|trans({}, "catroweb") }}",
        "{{ "remixGraph.by"|trans({}, "catroweb") }}",
        "{{ "remixGraph.open"|trans({}, "catroweb") }}",
        "{{ "remixGraph.showPaths"|trans({}, "catroweb") }}",
        "{{ "remixGraph.projectNotAvailableErrorTitle"|trans({}, "catroweb") }}",
        "{{ "remixGraph.projectNotAvailableErrorDescription"|trans({}, "catroweb") }}",
        "{{ "remixGraph.projectNotAvailable"|trans({}, "catroweb") }}",
        "{{ "remixGraph.projectUnknownUser"|trans({}, "catroweb") }}",
        "{{ "pleaseWait"|trans({}, "catroweb") }}",
        "{{ project_details_url_template }}",
        "{{ path('remix_graph_data', { 'id' : id }) }}",
        "{{ path('remix_graph_count', { 'id' : id }) }}"
      )
      remixGraphHandler.init()
    </script>

{% endblock %}

