<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ app.request.locale|default('en')|slice(0, 2) }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title> - No Reply - </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
{% block stylesheets %}
  {{ encore_entry_link_tags('base_layout') }}
  {{ encore_entry_link_tags(themeAssets()) }}
{% endblock stylesheets %}
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 10px 0 30px 0;">
      <table align="center" border="0" cellpadding="0" cellspacing="0"
             style="border: 1px solid #cccccc; border-collapse: collapse;">
        <td bgcolor="#fff">
          <div style="display: flex; justify-content: center; align-items: center; padding: 30px;">
            <img src="https://catrobat.org/wp-content/uploads/2019/04/cropped-logo-e1555606660543-1.png" width="50%" height="auto"/>
          </div>
        </td>
        <tr>
          <td align="center" bgcolor="#00acc1" class="header" style="padding: 20px 0 16px 0;">
            <table>
              <tr>
                <td align="center" bgcolor="#00acc1" class="title" style="color: white; text-decoration:none; font-size: 28px; font-weight: bold;
                  font-family: Arial, sans-serif;">
                  <b>{% block head_title %}{% endblock %}</b>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#fff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px;">
                  <b>{% block body_title %}{% endblock %}</b>
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                  {% block body_content %}{% endblock %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#e1e1e1" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
              <div class="social">
                <div class="title" style="text-align:center; font-family: Arial, sans-serif;">
                  <strong>Get the App</strong>
                </div>
                <div align="center" class= "social-icons" style="padding: 20px 0 20px 0; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                  <a href="https://apps.apple.com/us/developer/international-catrobat-association-verein-zur-foerderung/id1117935891" target="_blank">
                    <img src="{{ asset('images/social/download-on-app-store.svg') }}" width="90%" height="auto" />
                  </a>
                  <a href="https://appgallery.huawei.com/#/app/C100085769" target="_blank">
                    <img src="{{ asset('images/social/huawei-app-gallery.svg') }}" width="89%" height="auto" style="padding-left: 3px"/>
                  </a>
                  <a href="https://play.google.com/store/apps/developer?id=Catrobat" target="_blank">
                    <img src="{{ asset('images/social/google-play.svg') }}" width="87%" height="auto"/>
                  </a>
                </div>
              </div>
              <tr>
                <td style=" font-family: Arial, sans-serif; font-size: 12px;" width="75%">
                  {{ 'noReply'|trans({}, 'catroweb') }}
                </td>
              </tr>
              <tr>
                <td style="font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                  {{ 'copyright'|trans({'%year%': 'now'|date('Y')}, 'catroweb')|raw }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
