{% extends 'Email/new_email.html.twig' %}

{% block head_title %}
  {% autoescape false %}
    {{ 'newAccountConfirmation.subject'|trans({}, 'catroweb') }}
  {% endautoescape %}
{% endblock %}

{% block body_title %}
  {% autoescape false %}
  <div align="center">
    {{ 'newAccountConfirmation.welcome'|trans({}, 'catroweb') }}
  </div>
  {% endautoescape %}
{% endblock %}

{% block body_content %}
  {% autoescape false %}
  <style>

  .btn-confirm {
    padding: 20px 65px 0 65px;
  }

  .container {
    padding: 50px 0 20px 0;
  }

  </style>

  <div align="center">
    {{ 'newAccountConfirmation.messageHtml'|trans({'%time%': expire}, 'catroweb') }}
    <div align="center" class="container">
      <a href="{{ signedUrl }}">
        <button id="confirm-account-button" class="btn btn-primary btn-confirm" >
          <p><strong><big>{{ 'newAccountConfirmation.button'|trans({}, 'catroweb') }}</big></strong></p>
        </button>
      </a>
    </div>
    <small>
      {{ 'newAccountConfirmation.deleteHtml'|trans({'%deleteUrl%': deleteUrl}, 'catroweb') }}
    </small>
  </div>
  {% endautoescape %}

{% endblock %}
