{% extends "Default/base.html.twig" %}

{% block head %}
  {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block header "" %}

{% block body %}

  <div class="content-card">

    <div class="row justify-content-center">
      <div class="login-container mb-4">

        <h1>{{ "register.title"|trans({}, "catroweb") }}</h1>

        <div id="registration_form" role="form"
            {{ stimulus_controller('security--registration', {apiPath: path('open_api_server_user_userpost'), baseUrl: path('index'), }) }}>
          <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token|default('') }}"/>

          {% include 'components/text_field.html.twig' with {
            'text_field':
            {
              'id': 'username',
              'label': '' ~ 'login.username'|trans({}, 'catroweb'),
              'name': '_username',
              'leading_icon': 'person',
              'tabindex': 1
            }
          } %}

          {% include 'components/text_field.html.twig' with {
            'text_field':
            {
              'id': 'email',
              'label': '' ~ 'login.email'|trans({}, 'catroweb'),
              'name': '_email',
              'type': 'email',
              'leading_icon': 'email',
              'tabindex': 2
            }
          } %}

          {% include 'components/text_field.html.twig' with {
            'text_field':
            {
              'id': 'password',
              'label': '' ~ 'password'|trans({}, 'catroweb'),
              'name': '_password',
              'type': 'password',
              'trailing_icon': 'visibility',
              'leading_icon': 'lock',
              'tabindex': 3
            }
          } %}

          <p class="subtext">{{ "register.subText"|trans({
              '%var1%': '<a id="privacyPolicy" href="'~path('privacypolicy')~'">'~"privacyPolicy"|trans({}, "catroweb")~'</a>',
              '%var2%': '<a id="termsOfUse" href="'~path('termsOfUse')~'">'~"termsOfUse.title"|trans({}, "catroweb")~'</a>'
            }, "catroweb")|raw }}
          </p>

          <div class="mt-3" style="display: flex">
            <button type="submit" id="register-btn" data-action="click->security--registration#register"
                    class="btn btn-primary"
                    style="display: flex;">
              <span id="register-btn__spinner" class="d-none">
                {% include 'components/loading_spinner.html.twig' with {'spinner_id': 'register-spinner' ~ suffix|default(), 'size': 'small'} %}
              </span>
              <span id="register-btn__text ms-2">
                  {{ "register.button.createAccount"|trans({}, "catroweb") }}
              </span>
            </button>
            <a href="{{ path('login') }}"
               class="btn btn-secondary ms-1">{{ "register.button.cancel"|trans({}, "catroweb") }}</a>
          </div>

        </div>
      </div>
    </div>

    {% include 'UserManagement/oauth_registration.html.twig' %}

  </div>

{% endblock body %}

{% block javascript %}
{{ encore_entry_script_tags('register') }}
{% endblock %}
